/* Generic
-------------------------------------------------- */
img{
	/* PYF comment max-width : max-width bugs openlayers */
	max-width: none !important;
}


.popover-title, .bolder{
	font-weight: bolder;
}
.no-outline{
	outline: none !important;
}
.spaceBottom{
	margin-bottom: 30px;
}
.spaceBottomBig{
	margin-bottom: 45px;
}
.vertical-align-middle{
	vertical-align: middle;
}
.vertical-align-top{
	vertical-align: top;
}
small.badge{
	font-size: @fontSizeMini;
}
.isCheck{
	text-decoration: line-through;
}
.displayInlineBlock{
	display: inline-block;
}
.marginTop{
	margin-top: 35px;
}
.marginLeft{
	margin-left: 15px;
}
.noMarginTop{
	margin-top: 0;
}
.noMarginBottom{
	margin-bottom: 0;
}

.sortablePlaceHold{
	background-color: @wellBackground;
	height: 28px;
	border: thin dashed darken(@wellBackground, 65%);
}

::selection { background: lighten(@pink, 20%); color: @white; }
::-moz-selection { background: lighten(@pink, 20%); color: @white; }

// <sup> Badge //
sup.badge{ top: -1.5em; }
span[data-toggle="tooltip"], sup[data-toggle="tooltip"]{ cursor: help;}


// Table Toolbar //
.tableToolbar{
	margin-bottom: 15px;
}


// Full Calendar Update //
.fc-slot8, .fc-slot9, .fc-slot10, .fc-slot11 {
	background-color: @grayLighter;
}
.fc-header{
	margin-bottom: 5px;
	height: 90px;
}
.fc-header-title h2{
	margin-top: 5px;
	font-size: @baseFontSize*1.8;
}


// pNotify compatibility with Font Awesome 3.0.2 //
div.ui-pnotify-container{
	.show();
}
div.ui-pnotify.big-icon div.icon-large div.ui-pnotify-icon{
	.noMarginTop();
}


div.progress{
	margin-bottom: 5px;
}

// Filter Button Table //
a.filter-button.filter-disabled{
	.opacity(40);
	.muted;
}
a.filter-button.filter-active{
	.opacity(100);
}


div.accordion-group{
	margin-bottom: 5px;
}

form legend{
	margin-bottom: 0px;
}



/* HEADER
-------------------------------------------------- */
div.page-header{
	margin-top: 5px;
}
#appName{
	padding-top: 6px;
	padding-bottom: 6px;
}





// List in Popover Tooltip //
.tooltip-inner ul li, .popover-content ul{
	margin-left: 0;
}
.tooltip-inner ul li, .popover-content ul li{
	height: 20px !important;
	width: auto !important;
}


/* PYF Twitter Bootstrap Accordion and button dropdown overflow issue 
	http://stackoverflow.com/questions/10959068/twitter-bootstrap-accordion-and-button-dropdown-overflow-issue
*/
.accordion-body[class*="in collapse"]{ overflow:visible; }

// Calendar Toggle switch button //
.switch.calendarSwitch{
	width: 122px;
}



/* New TEXT color
-------------------------------------------------- */
.text-important        { color: @errorText; }
a.text-important:hover { color: darken(@errorText, 10%); }

.text-muted        		{ color: @grayLight; }
a.text-muted:hover 		{ color: darken(@grayLight, 10%); }

.text-template          { color: @yellow; }
a.text-template:hover   { color: darken(@yellow, 10%); }

.text-overrun          { color: @purple; }
a.text-overrun:hover   { color: darken(@purple, 10%); }



/* New LABELS AND BADGES
-------------------------------------------------- */
.label, .badge {
	// Overrun (violet)
	&-overrun         { background-color: @purple; }
  	&-overrun[href]   { background-color: darken(@purple, 10%); }
  	// Template (yellow)
  	&-template           { background-color: @yellow; }
  	&-template[href]     { background-color: darken(@yellow, 10%); }
	// Absent (pink)
  	&-absent           { background-color: @pink; }
  	&-absent[href]     { background-color: darken(@pink, 10%); }
}


/* Border Emphasize
-------------------------------------------------- */
.border-emphasize {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @grayLight;
}
.border-emphasize {
	&-info{ border-left-color: @infoText; }
	&-important{ border-left-color: @errorText; }
	&-warning{ border-left-color: @orange; }
	&-success{ border-left-color: @successText; }
	&-overrun{ border-left-color: @purple; }
	&-template{ border-left-color: @yellow; }
}


/* Calendar Color
-------------------------------------------------- */
.calendar-success.fc-event {
	border-color: darken(@successText, 5%);
	background-color: @successText;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@successText, 5%); }
}
.calendar-info.fc-event {
	border-color: darken(@infoText, 5%);
	background-color: @infoText;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@infoText, 5%); }
}
.calendar-default.fc-event {
	border-color: darken(@grayLight, 5%);
	background-color: @grayLight;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@grayLight, 5%); }
}
.calendar-absent.fc-event {
	border-color: darken(@pink, 5%);
	background-color: @pink;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@pink, 5%); }
}



/* New PROGRESS BAR 
-------------------------------------------------- */
.progress-default .bar, .progress .bar-default {
  #gradient > .vertical(@grayLight, #888888);
}
.progress-default.progress-striped .bar, .progress-striped .bar-default {
  #gradient > .striped(@grayLight);
}

.progress-overrun .bar, .progress .bar-overrun {
  #gradient > .vertical(@purple, darken(@purple, 10%));
}
.progress-overrun.progress-striped .bar, .progress-striped .bar-overrun {
  #gradient > .striped(@purple);
}



/* New TABLE PROPERTIES
-------------------------------------------------- */
.table-sorter{
	thead {
		th[data-sort-column] {
			cursor: pointer;
			&:hover{
				background-color: darken(@tableBackgroundAccent, 5%);
				i{
					.text-muted;
				}
			}
			i.active{
				.text-success;
			}
		}
	}
}
table th.span1{
	min-width: 55px;
}


/* MAP MARKERS
-------------------------------------------------- */
.mapmarker{
	// Overrun (violet)
	&-info         { fill: @infoText; }
	&-warning      { fill: @warningText; }
	&-success      { fill: @successText; }
	&-muted        { fill: @grayLight; }
	&-important    { fill: @errorText; }
	&-template     { fill: @yellow; }
}


/* Drop Area
-------------------------------------------------- */
.drop-area{
	min-height: 250px;
	padding: 15px;
	background-color: @infoBackground;
	background-image: url('images/drop_area.png');
	background-repeat: no-repeat;
	background-position: center;

	li:not(.media) > a:hover{
		background-color: rgba(red(@infoText), green(@infoText), blue(@infoText), 0.15);
	}
}



/* Pagination Improvements
-------------------------------------------------- */
.pagination ul li.pagination-select select{
	.border-left-radius(0);
	border-left-width: 0;
	margin-bottom : 0;
}



/* Calendar
-------------------------------------------------- */
section.calendarContainer{
	//min-width: 770px;
	margin-bottom: 2px;
}
section.calendarContainer:not(:first-child){
	//padding-top: 50px

}


.calendar.thumbnail{
	border-color: @grayLight;
}
.calendar.thumbnail:hover{
	border-color: @blueDark;
}

.fc-view{
   /* prevents dragging outside of widget */
   width: 100%;
   overflow: hidden;
}

#accordionInterventions.affix {
	width: 22%;
}






/* Planning Task List
-------------------------------------------------- */
#planningToolbar{
	margin-bottom: 30px;
}

#accordionInter div.accordion-group{
	border-color: darken(@grayLighter, 10%);
	.border-radius(0);
}
#accordionInter div.accordion-heading:hover{

	background-color: @popoverTitleBackground;
	
	.invisible{
		visibility: visible;
	}
}

ul.tasks li.external-event{
	padding: 5px 5px 5px 5px;
	cursor: move;
}
/* Display Task Actions */
ul.tasks li.external-event:hover a.hide{
	display: inline;
}
li.external-event.disabled{
	color: @grayLight;
	cursor: no-drop!important;
}
li.external-event:hover{
	background-color: @grayLighter;
	.border-radius(10px);
}
div.div-actions{
	font-size: 85%;
	border-top: 1px solid @grayLight;
	padding: 5px;
}



/* Planning List Agents
-------------------------------------------------- */
#listAgentsTeams{
	margin-bottom: 15px;
	overflow-y: hidden;
}
#listAgentsTeams.affix{
	top: 60px;
}
#listAgentsTeams div.tab-content div.tab-pane{
	height: 120px;
}
#listAgents, #listTeams{
	margin-bottom: 0;
}
#listAgents li, #listTeams li{
	.size(30px, 31%);
}
#listAgents li a, #listTeams li a{
	margin-left: 0;
	padding-left: 5px;
}



// object Actions //
.object-actions, .place-actions, .row-actions{
	display: inline;
	font-size: 85%;
	width: auto;
	margin: 0 0 0 15px;
}
.row-actions.no-margin{
	margin: 0;	
}
.nested-objects-actions{
	font-size: 90%;
}
.object-actions a:hover i, .row-actions a:hover i, .nested-objects-actions a:hover i, a.accordion-toggle:hover i, a.accordion-object:hover i{
	text-decoration: none;
}

// object nestedObjects //
ul.nested-objects li:hover .nested-objects-actions, tr.row-item:hover .row-actions, tr.row-nested-objects:hover .nested-objects-actions, tr.row-object:hover .object-actions{
	visibility: visible;
	a:hover{
		text-decoration: none;
	};
}



/* List tasks
-------------------------------------------------- */
.collapse-selected{
	border-left: 5px solid @blue !important;
	border-radius: 0px !important;
}
.accordion.without-border .accordion-group{
	margin: 40px 0 40px 0;
	padding-left: 10px;
	border: none;
}
.accordion.without-border .accordion-heading{
	border-bottom: thin solid #e5e5e5;
}
.accordion.without-border .accordion-toggle{
	padding: 1px;
}
.accordion.without-border .accordion-toggle:hover{
	text-decoration: none;
}




/* Connection Form
-------------------------------------------------- */
#formConnection{
	.box-shadow(0 1px 10px rgba(50,50,0,0.5));
	max-width: 500px; 
	margin: 10% auto;
	padding-bottom: 10px;
	padding-top: 5px;
}
#formConnection .form-actions{
	margin: 0;
	padding-bottom: 0;
}


/* Tables
-------------------------------------------------- */
table thead th.align, .table tbody td.align{
	.text-center();
}

.table-caption{
	.text-left();
	padding: 0 0 4px 4px;
	font-size: @fontSizeLarge;
	font-weight: bolder;
	margin: 0;
}



/* Configuration Team View
-------------------------------------------------- */
ul.sortableOfficersList, ul.sortableServicesList, ul.sortableEquipmentsList{
	max-height: 250px; 
	overflow-y: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
table.teamsTable tr.info a.teamName{
	font-weight: bolder;
}
h4#teamTitle, h4#resaTitle{
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}





/* Loader
-------------------------------------------------- */
#loader{
	.hide();
	position: fixed;
	top: 45%; left: 50%;
	width: 250px; 
	height: auto;
	z-index: 99999;
	margin-left: -6%;
	margin-top: -5%;
	border-width: 1px;
	border-color: @grayLight;
}

/* Modal Loader
-------------------------------------------------- */
.modal-loader {
	.pull-right;
	.input-medium;
	margin: 5px 20px 0 0;

	.bar{
		width: 100%;	
	}
}



/* objects list
-------------------------------------------------- */
table.table-objects tbody > tr:nth-child(4n+1){
	background-color: red;
}
table.table-objects tbody tr:hover > td{
	background-color: red;
}
tr.row-nested-objects-collapse{
	.hide();
}
tr.row-nested-objects-collapse.expend:hover td.nestedTD{
	background-color: @white;
}
tr.row-nested-objects-collapse td.nestedTD{
	padding: 25px 3% 5px 3%;
}
tr.info td:first-child{
	font-weight: bolder;
}





.widget-title {
    border-bottom: 1px solid @tableBorder;
    margin-bottom: 10px;
}




/* Reservation Maquette
-------------------------------------------------- */
#materialsList [class*="span"]:nth-child(3n+1), #hallsList [class*="span"]:nth-child(3n+1){
	margin-left: 0;
}
#materialsList li, #hallsList li{
 	margin-bottom: 11px;
}

#materialsReserved li.media div.span2, #materialsReserved li.media small{
	.hide();
}
#materialsReserved li.media{
	display: grid;
}






/* Responsive
-------------------------------------------------- */
@media (max-width: 767px) {

}

@media (min-width: 980px) {
  	// To make the container go all the way to the bottom of the topbar //
  	body{ padding-top: 60px; padding-bottom: 60px;}

}

@media (max-width: 979px) {

  	// Planning list Agents //
	#listAgents li, #listTeams li{
		width: 45%;
	}

}




/* Print
-------------------------------------------------- */
@media screen {
  #printSection {
      .hide();
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}




/* Highlight Animation
-------------------------------------------------- */
// WebKit
@-webkit-keyframes highlight {
	0%   { background-color: none }
	25%  { background-color: lighten(@pink, 50%) }
	50%  { background-color: lighten(@pink, 25%) }
	100% { background-color: lighten(@pink, 50%) }
}

// Firefox
@-moz-keyframes highlight {
	0%   { background-color: none }
	25%  { background-color: lighten(@pink, 50%) }
	50%  { background-color: lighten(@pink, 25%) }
	100% { background-color: lighten(@pink, 50%) }
}

// IE9
@-ms-keyframes highlight {
	0%   { background-color: none }
	25%  { background-color: lighten(@pink, 50%) }
	50%  { background-color: lighten(@pink, 25%) }
	100% { background-color: lighten(@pink, 50%) }
}

// Opera
@-o-keyframes highlight {
	0%   { background-color: none }
	25%  { background-color: lighten(@pink, 50%) }
	50%  { background-color: lighten(@pink, 25%) }
	100% { background-color: lighten(@pink, 50%) }
}

// Spec
@keyframes highlight {
	0%   { background-color: none }
	25%  { background-color: lighten(@pink, 50%) }
	50%  { background-color: lighten(@pink, 25%) }
	100% { background-color: lighten(@pink, 50%) }
}


// Call animation for the active one
tr.highlight td{
  -webkit-animation: highlight 1s linear 1.5;
     -moz-animation: highlight 1s linear 1.5;
      -ms-animation: highlight 1s linear 1.5;
       -o-animation: highlight 1s linear 1.5;
          animation: highlight 1s linear 1.5;
}