/* Generic
-------------------------------------------------- */
.popover-title, .bolder{
	font-weight: bolder;
}
.no-outline{
	outline: none !important;
}
.align-center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.spaceBottom{
	margin-bottom: 30px;
}
.spaceBottomBig{
	margin-bottom: 45px;
}
.vertical-align-middle{
	vertical-align: middle;
}
.vertical-align-top{
	vertical-align: top;
}
small.badge{
	font-size: @fontSizeMini;
}
.isCheck{
	text-decoration: line-through;
}
.displayInlineBlock{
	display: inline-block;
}
.marginTop{
	margin-top: 35px;
}
.marginLeft{
	margin-left: 15px;
}
.noMarginTop{
	margin-top: 0;
}
.noMarginBottom{
	margin-bottom: 0;
}
.sortablePlaceHold{
	background-color: @wellBackground;
	height: 28px;
	border: thin dashed darken(@wellBackground, 65%);
}
.text-important        { color: @errorText; }
a.text-important:hover { color: darken(@errorText, 10%); }
.text-muted        { color: @grayLight; }
a.text-muted:hover { color: darken(@grayLight, 10%); }

div.progress{
	margin-bottom: 5px;
}

// Filter Button Table //
a.filter-button.filter-disabled{
	opacity: 0.4;
	.muted;
}
a.filter-button.filter-active{
	opacity: 1;
}

div.page-header{
	margin-top: 5px;
}

div.accordion-group{
	margin-bottom: 5px;
}

/* PYF Twitter Bootstrap Accordion and button dropdown overflow issue 
	http://stackoverflow.com/questions/10959068/twitter-bootstrap-accordion-and-button-dropdown-overflow-issue
*/
.accordion-body[class*="in collapse"]{ overflow:visible; }

// Calendar Toggle switch button //
.switch.calendarSwitch{
	width: 122px;
}



/* New LABELS AND BADGES
-------------------------------------------------- */
.label, .badge {
	// Overrun (violet)
	&-overrun         { background-color: @purple; }
  	&-overrun[href]   { background-color: darken(@purple, 10%); }
  	// Template (yellow)
  	&-template           { background-color: @yellow; }
  	&-template[href]     { background-color: darken(@yellow, 10%); }
}


/* Border Emphasize
-------------------------------------------------- */
.border-emphasize {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @grayLight;
}
.border-emphasize {
	&-info{ border-left-color: @infoText; }
	&-important{ border-left-color: @errorText; }
	&-warning{ border-left-color: @orange; }
	&-success{ border-left-color: @successText; }
	&-overrun{ border-left-color: @purple; }
	&-template{ border-left-color: @yellow; }
}



/* Default Progress Bar 
-------------------------------------------------- */
.progress-default .bar, .progress .bar-default {
  #gradient > .vertical(@grayLight, #888888);
}
.progress-default.progress-striped .bar, .progress-striped .bar-default {
  #gradient > .striped(@grayLight);
}

.progress-overrun .bar, .progress .bar-overrun {
  #gradient > .vertical(@purple, darken(@purple, 10%));
}
.progress-overrun.progress-striped .bar, .progress-striped .bar-overrun {
  #gradient > .striped(@purple);
}


/* New Text Colors
-------------------------------------------------- */
.text-template          { color: @yellow; }
a.text-template:hover   { color: darken(@yellow, 10%); }

.text-overrun          { color: @purple; }
a.text-overrun:hover   { color: darken(@purple, 10%); }


/* New LABELS AND BADGES
-------------------------------------------------- */
.mapmarker{
	// Overrun (violet)
	&-info         { fill: @infoText; }
	&-warning      { fill: @warningText; }
	&-success      { fill: @successText; }
	&-muted        { fill: @grayLight; }
	&-important    { fill: @errorText; }
	&-template     { fill: @yellow; }
}


/* Drop Area
-------------------------------------------------- */
.drop-area{
	min-height: 250px;
	padding: 15px;
	background-color: @infoBackground;
	background-image: url('images/drop_zone.png');
	background-repeat: no-repeat;
	background-position: center;


	li:not(.media) > a:hover{
		background-color: rgba(red(@infoText), green(@infoText), blue(@infoText), 0.15);
	}
}


/* Calendar
-------------------------------------------------- */
section.calendarContainer{
	//min-width: 770px;
	margin-bottom: 2px;
}
section.calendarContainer:not(:first-child){
	//padding-top: 50px

}


.calendar.thumbnail{
	border-color: @grayLight;
}
.calendar.thumbnail:hover{
	border-color: @blueDark;
}

.fc-view
 {
   /* prevents dragging outside of widget */
   width: 100%;
   overflow: hidden;
 }

#accordionInterventions.affix {
	width: 22%;
}






/* Planning Task List
-------------------------------------------------- */
#planningToolbar{
	margin-bottom: 30px;
}

#accordionInter div.accordion-group{
	border-color: darken(@grayLighter, 10%);
	.border-radius(0);
}
#accordionInter div.accordion-heading:hover{

	background-color: @popoverTitleBackground;
	
	.invisible{
		visibility: visible;
	}
}

ul.tasks li.external-event{
	padding: 5px 5px 5px 5px;
	cursor: move;
}
/* Display Task Actions */
ul.tasks li.external-event:hover a.hide{
	display: inline;
}
li.external-event.disabled{
	color: @grayLight;
	cursor: no-drop!important;
}
li.external-event:hover{
	background-color: @grayLighter;
	.border-radius(10px);
}
div.div-actions{
	font-size: 85%;
	border-top: 1px solid @grayLight;
	padding: 5px;
}



/* Planning List Agents
-------------------------------------------------- */
#listAgentsTeams{
	margin-bottom: 15px;
	overflow-y: hidden;
}
#listAgentsTeams.affix{
	top: 60px;
}
#listAgentsTeams div.tab-content div.tab-pane{
	height: 120px;
}
#listAgents, #listTeams{
	margin-bottom: 0;
}
#listAgents li, #listTeams li{
	width: 31%;
	height: 30px;
}
#listAgents li a, #listTeams li a{
	margin-left: 0;
	padding-left: 5px;
	
}

#listInters li{
	width: 47%;
	height: 30px;
}




// object Actions //
.object-actions, .place-actions, .row-actions{
	font-size: 85%;
	width: auto;
	margin: 0 0 0 16px;
}
.row-actions.no-margin{
	margin: 0;	
}
.nested-objects-actions{
	font-size: 90%;
}
.object-actions a:hover i, .row-actions a:hover i, .nested-objects-actions a:hover i, a.accordion-toggle:hover i, a.accordion-object:hover i{
	text-decoration: none;
}

// object nestedObjects //
ul.nested-objects li:hover .nested-objects-actions, tr.row-item:hover .row-actions, tr.row-nested-objects:hover .nested-objects-actions, tr.row-object:hover .object-actions{
	visibility: visible;
}



/* List tasks
-------------------------------------------------- */
.collapse-selected{
	border-left: 5px solid @blue !important;
	border-radius: 0px !important;
}
.accordion.without-border .accordion-group{
	margin: 40px 0 40px 0;
	padding-left: 10px;
	border: none;
}
.accordion.without-border .accordion-heading{
	border-bottom: thin solid #e5e5e5;
}
.accordion.without-border .accordion-toggle{
	padding: 1px;
}
.accordion.without-border .accordion-toggle:hover{
	text-decoration: none;
}




/* Connection Form
-------------------------------------------------- */
#formConnection{
	.box-shadow(0 1px 10px rgba(50,50,0,0.5));
	max-width: 500px; 
	margin: 10% auto;
	padding-bottom: 10px
}
#formConnection .form-actions{
	margin: 0;
	padding-bottom: 0;
}


/* Tables
-------------------------------------------------- */
table thead th.align, .table tbody td.align{
	text-align: center;
}
table thead th.align-right, .table tbody td.align-right{
	text-align: right;
}

.table-caption{
	text-align: left;
	padding: 0 0 4px 4px;
	font-size: @fontSizeLarge;
	font-weight: bolder;
	margin: 0;
}



/* Configuration Team View
-------------------------------------------------- */
ul.sortableOfficersList, ul.sortableServicesList, ul.sortableEquipmentsList{
	max-height: 250px; 
	overflow-y: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
table.teamsTable tr.info a.teamName{
	font-weight: bolder;
}
h4#teamTitle, h4#resaTitle{
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}







/* Loader
-------------------------------------------------- */
#loader{
	display: none; 
	position: fixed; 
	top: 45%; left: 50%;
	width: 250px; 
	height: auto;
	z-index: 99999;
	margin-left: -6%;
	margin-top: -5%;
	border-width: 1px;
	border-color: @grayLight;
}



/* objects list
-------------------------------------------------- */
table.table-objects tbody > tr:nth-child(4n+1){
	background-color: @tableBackgroundAccent;
}
table.table-objects tbody tr:hover > td{
	background-color: @tableBackgroundHover;
}
tr.row-object > td, tr.row-item td{
	padding-bottom: 2px;
}
tr.row-nested-objects-collapse{
	display: none;
}
tr.row-nested-objects-collapse.expend:hover td.nestedTD{
	background-color: @white;
}
tr.row-nested-objects-collapse td.nestedTD{
	padding: 25px 3% 5px 3%;
}
tr.info td:first-child{
	font-weight: bolder;
}





.widget-title {
    border-bottom: 1px solid @tableBorder;
    margin-bottom: 10px;
}




/* Reservation Maquette
-------------------------------------------------- */
#materialsList [class*="span"]:nth-child(3n+1), #hallsList [class*="span"]:nth-child(3n+1){
	margin-left: 0;
}
#materialsList li, #hallsList li{
 	margin-bottom: 11px;
}

#materialsReserved li.media div.span2, #materialsReserved li.media small{
	display: none;
}
#materialsReserved li.media{
	display: grid;
}









/* Responsive
-------------------------------------------------- */
@media (max-width: 767px) {

}

@media (min-width: 980px) {
  	// To make the container go all the way to the bottom of the topbar //
  	body{ padding-top: 60px; padding-bottom: 60px;}

}

@media (max-width: 979px) {

  	// Planning list Agents //
	#listAgents li, #listTeams li{
		width: 45%;
	}

}




/* Print
-------------------------------------------------- */
@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
