<!-- Get the state -->
<% var state = budget.getState();

	var isCheck = '';
	if(state == budgetState.done.key || state == budgetState.cancel.key){
		isCheck = 'isCheck';
	}
%>

<!-- Budget name -->
<td><a class="accordion-object <%= isCheck %>" href="#collapse_<%= budget.getId() %>"><%= budget.getName() %></a></td>

<!-- Planned amount -->
<td class="text-right"><%= budget.getPlannedAmount() %></td>

<!-- Spent amount -->
<td class="text-right"><%= budget.getSpentAmount() %></td>

<td><%= budget.getService() %></td>

<!-- Progress -->
<td>
	<%	if(state == budgetState.validate.key) { %>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="<%= budget.getSpentAmountPercentage() %>%"
				 style="width: <%= budget.getSpentAmountPercentage() %>%">
				<span class="fa fa-flash fa-lg"></span>
			</div>
			<div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="<%= 100-budget.getSpentAmountPercentage() %>%"
				 style="width: <%= (100-budget.getSpentAmountPercentage()) %>%">
				<span class="fa fa-eur fa-lg"></span>
			</div>
		</div>
	<% } else if (state == budgetState.done.key) { %>
		<div class="progress">
			<div class="progress-bar progress-bar-default" data-toggle="tooltip" data-original-title="<%= budget.getSpentAmountPercentage() %>%"
				 style="width: <%= budget.getSpentAmountPercentage() %>%">
				<span class="fa fa-flash fa-lg"></span>
			</div>
			<div class="progress-bar progress-bar-default" data-toggle="tooltip" data-original-title="<%= 100-budget.getSpentAmountPercentage() %>%"
				 style="width: <%= (100-budget.getSpentAmountPercentage()) %>%">
				<%= budgetState[state].translation %>
			</div>
		</div>
	<% } else if(state == budgetState.confirm.key || state == budgetState.cancel.key) { %>

		<span class="label label-<%= budgetState[state].color %>" data-toggle="tooltip"><%= budgetState[state].translation %></span>

	<% } %>

</td>

<!-- Action -->
<td class="text-center">
	<!-- Split button -->
	<div class="btn-group btn-group-sm">
		<button type="button" class="btn btn-danger">Test</button>
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
			<li><a href="#">Action 1</a></li>
			<li><a href="#">Action 2</a></li>
			<li><a href="#">Action 3</a></li>
			<li><a href="#">Action 4</a></li>
		</ul>
	</div>
</td>