<td>
<a href="<%= urlForm %>"><span class="field" data-fieldname="name"></span></a>
<p class="row-actions invisible small-actions" data-actions="delete,cancel"></p>
</td>

<td class="field" data-fieldname="description"></td>

<td class="field" data-fieldname="service_id"></td>

<td>
<span class="field" data-fieldname="partner_id"></span>
<% if(purchase.getAttribute('supplier_mail_sent',false)){ %>
	<i class="fa fa-envelope-o fa-fw" data-toggle="tooltip" data-original-title="<%= lang.achatsstocks.sentToSupplier %>"></i>
<% } %>
</td>

<td class="field" data-fieldname="date_order"></td>

<td>
<span><%= purchase.getCurrencyString('amount_total') %></span></td>

<td <% if(purchase.hasAction('manage_invoice')){ %>
data-toggle="popover"
data-original-title="<%= _.capitalize(lang.achatsstocks.invoicesAttached) %>" 
data-content="<%= purchase.printAttachInfos()%> <i><%= _.capitalize(lang.achatsstocks.actions.clickToManageInvoices) %></i>"
<% } %>>

<%= purchase.getAttribute('attach_invoices',[]).length %> <%= _.capitalize(lang.achatsstocks.invoice) %><%= purchase.getAttribute('attach_invoices',[]).length > 1 ? 's' :'' %>
<% if(purchase.getAttribute('attach_waiting_invoice_ids',[]).length > 0){ %>
	&nbsp;
	<span class="badge badge-primary"><%= purchase.getAttribute('attach_waiting_invoice_ids',[]).length %></span>
<!-- 	<strong><i class="fa fa-info-circle fa-lg text-info"></i></strong> -->
<% } %>
</td>

<td>
<% if(stateItem.widget && stateItem.widget == 'progress' && purchase.getAttribute('shipped_rate',0.0) > 0.0){ %>
<div class="progress" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.achatsstocks.percentagePicking) + ': ' + purchase.getAttribute('shipped_rate',0.0).toString() %>%">
	<div class="progress-bar progress-bar-default"
		 style="width: <%= purchase.getAttribute('shipped_rate',0.0) %>%">
		<span><%= purchase.getAttribute('shipped_rate',0.0) %> %</span>
	</div>
</div>

<% } else{ %>
<span class="label label-<%= stateItem.color %> text-center" data-toggle="popover" data-content="<%= purchase.printStateTooltip() %>"><%= stateItem.translation %></span>
<% } %>

<td class="button-actions" data-actions="confirm,refuse,done,send_mail,receive,send_mail_again" data-main-action="<%= mainAction%>"></td>
