<!-- Get the state -->
<% var state = budget.getState();

	var isCheck = '';
	if(state == budgetState.done.key || state == budgetState.cancel.key){
		isCheck = 'isCheck';
	}
%>

<!-- Budget name -->
<td>
	<a class="accordion-object <%= isCheck %>" href="#collapse_<%= budget.getId() %>"><%= budget.getName() %></a>
	<p class="row-actions invisible">
		<% if(state == budgetState.confirm.key){ %>
		<a href="#" class="buttonUpdateBudget">
			<i class="fa fa-pencil fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<% } %>

		<% if(_.contains(budget.getActions(), 'delete')){ %>
		<a href="#" class="buttonDeleteBudget">
			<i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
		<% } %>
	</p>
</td>

<!-- Planned amount -->
<td class="text-right"><%= budget.getPlannedAmount() %></td>

<!-- Spent amount -->
<td class="text-right"><%= budget.getSpentAmount() %></td>

<td><%= budget.getService() %></td>

<!-- Progress -->
<td>
	<%	if(state == budgetState.validate.key) { %>
		<div class="progress">
			<div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="<%= budget.getSpentAmountPercentage() %>%"
				 style="width: <%= budget.getSpentAmountPercentage() %>%">
				<span class="fa fa-flash fa-lg"></span>
			</div>
			<div class="progress-bar progress-bar-success" data-toggle="tooltip" data-original-title="<%= 100-budget.getSpentAmountPercentage() %>%"
				 style="width: <%= (100-budget.getSpentAmountPercentage()) %>%">
				<span class="fa fa-eur fa-lg"></span>
			</div>
		</div>
	<% } else if (state == budgetState.done.key) { %>
		<div class="progress">
			<div class="progress-bar progress-bar-default" data-toggle="tooltip" data-original-title="<%= budget.getSpentAmountPercentage() %>%"
				 style="width: <%= budget.getSpentAmountPercentage() %>%">
				<span class="fa fa-flash fa-lg"></span>
			</div>
			<div class="progress-bar progress-bar-default" data-toggle="tooltip" data-original-title="<%= 100-budget.getSpentAmountPercentage() %>%"
				 style="width: <%= (100-budget.getSpentAmountPercentage()) %>%">
				<%= budgetState[state].translation %>
			</div>
		</div>
	<% } else if(state == budgetState.confirm.key || state == budgetState.cancel.key) { %>

		<span class="label label-<%= budgetState[state].color %>" data-toggle="tooltip"><%= budgetState[state].translation %></span>

	<% } %>

</td>

<!-- Actions -->
<td class="text-center">

	<!-- Check if the user can make action on the budget -->
	<% if(!_.isEmpty(budget.getActions())) {
		var actions = _.without(budget.getActions(), 'delete');
	%>

	<div class="btn-group btn-group-sm">

		<!-- Main action -->
		<%
			if(state == budgetState.confirm.key) {
				var mainAction = budgetAction.validate;
			}
			else if(state == budgetState.validate.key) {
				var mainAction = budgetAction.renew;
			}
		%>
		<button type="button" class="btn btn-<%= mainAction.color %> button<%= _.capitalize(mainAction.key) %>Budget">
			<i class="fa fa-fw <%= mainAction.icon %>"></i>
		</button>


		<!-- Remain actions -->
		<% var remainActions = _.without(actions, mainAction.key);
			if(_.size(remainActions) > 0) {
		%>

		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
			<% _.each(remainActions, function(action){ %>
			<li>
				<a href="#" class="button<%= _.capitalize(budgetAction[action].key) %>Budget">
					<i class="fa <%= budgetAction[action].icon %> fa-fw"></i>&nbsp;<%= _.capitalize(budgetAction[action].translation) %>
				</a>
			</li>
			<% }) %>
		</ul>
		<% } %>
	</div>

	<% } %>

</td>