<!-- Task List -->
<td colspan="6" class="nestedTD">

	<!-- Check if there is some tasks -->
	<table class="table table-striped table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th><%= _.capitalize(lang.name) %></th>
				<th><%= lang.achatsstocks.plannedAmount %></th>
				<th><%= lang.achatsstocks.spentAmount %></th>
				<th class="col-lg-3"><%= _.capitalize(lang.progressRate) %></th>
			</tr>
		</thead>
		<tbody id="row-nested-objects">
		</tbody>
	</table>

	<!-- No Task to Display -->
	<div class="alert alert-info noBudgetLine hide">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.achatsstocks.infoMessages.noBudgetLines %>.
	</div>

	<div class="div-actions" >
		<button class="btn btn-primary btn-sm addBudgetLine"<i class="fa fa-plus fa-fw"></i>&nbsp; <%= _.capitalize(lang.achatsstocks.actions.addBudgetLine) %></button>
	</div>
</td>