<!-- Id -->
<td><%= request.getId() %></td>

<!-- Name -->
<td>
	<a 	href="#"
		class="requestDetails"
		data-toggle="popover"
		data-html="true"
		data-original-title="<%= _.capitalize(lang.about) %>"
		data-delay="160"
		data-content="<%= _(request.getDescription()).escapeHTML() %><hr><%= lang.createdBy %>: <%= request.getCreateAuthor() %>">
		<%= request.getName() %>
	</a>
</td>


<!-- Place/Equipment -->
<td>
	<% if(request.onEquipment()){ %>
		<i class="fa fa-wrench fa-fw"></i>&nbsp;<%= request.getEquipment() %> <small class="text-muted">(<%= request.getSite() %>)</small>
	<% }else if(request.getSite()){ %>
		<i class="fa fa-map-marker fa-fw"></i>&nbsp;<%= request.getSite() %>
	<% }%>

	<span>
</td>


<!-- Service -->
<td>
	<span
	<% if(request.getState() == RequestModel.status.wait.key){ %>
		data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.toValidateBy) %> <%= request.getManager() %>"
	<% } %>
	><%= request.getService() %>
	</span>
</td>


<!-- Claimer -->
<td>
	<span
		data-toggle="tooltip"
		data-html="true"
		data-original-title="<strong><%= request.fromCitizen() ? lang.citizen : request.getClaimerType() %></strong> <%= request.getClaimerContact() %>">
			<%= request.fromCitizen() ? request.getCitizenName() : request.getClaimer() %>
	</span>
</td>


<!-- Request Date -->
<td>
	<span data-toggle="tooltip" data-original-title="<%= request.getCreateDate('fromNow') %>"> <%= request.getCreateDate() %></span>
</td>


<!-- Request State -->
<td>
	<span
		class="label label-<%= RequestModel.status[request.getState()].color %>"
		data-toggle="tooltip"
		data-original-title="<%= request.getInformations() %>">
		<%= RequestModel.status[request.getState()].translation %>
	</span>
</td>


<!-- Request Action -->
<% if(user.isDST() || user.isManager()){ %>
	<td class="text-center">

	<!-- Check if the user can make action on the request -->
	<% if(!_.isEmpty(request.getActions())){
		var actions = request.getActions();
	%>

		<!-- Create the buttons group action -->
		<div class="btn-group btn-group-sm">

			<!-- Check if the request is not in waiting state -->
			<%

			if(request.getState() != RequestModel.status.wait.key){
				var mainAction = '';
				var mainActionIcon = RequestModel.actions[request.getState()].icon;
				var mainActionColor = RequestModel.actions[request.getState()].color;
				var mainActionDisabled = 'disabled';
			}else{
				var mainAction = RequestModel.actions.valid.key;
				var mainActionColor = RequestModel.actions.valid.color;
				var mainActionIcon = RequestModel.actions.valid.icon;
				var mainActionDisabled = '';

				/ Remove validate action from the array actions /
				actions = _.without(actions, RequestModel.actions.valid.key);
			} %>

			<!-- Main action button -->
			<button class="btn btn-<%= mainActionColor %> <%= mainActionDisabled %> no-outline button<%= _.capitalize(mainAction) %>Request">
				<i class="fa <%= mainActionIcon %> fa-fw button<%= _.capitalize(mainAction) %>Request"></i>
			</button>

			<!-- Dropdown button action -->
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-caret-down"></span>
			</button>

			<!-- Other buttons action -->
			<ul class="dropdown-menu dropdown-menu-right text-left">
				<% _.each(actions, function(action){ %>
					<li>
						<a href="#" class="button<%= _.capitalize(RequestModel.actions[action].key) %>Request">
							<i class="fa <%= RequestModel.actions[action].icon %> fa-fw"></i>&nbsp;<%= _.capitalize(RequestModel.actions[action].translation) %>
						</a>
					</li>
				<% }); %>
			</ul>
		</div>

	<% } %>
	</td>
<% } %>