<!-- Task List -->
<td colspan="7" class="nestedTD">

	<!-- Check if there is some tasks -->
	<table class="table-nested-objects table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th><%= _.capitalize(lang.label) %></th>
				<th><%= _.capitalize(lang.assignedTo) %></th>									
				<th><%= _.capitalize(lang.plannedHours) %></th>
				<th><%= _.capitalize(lang.spentHours) %></th>
				<th><%= _.capitalize(lang.remainingHours) %></th>
				<th><%= _.capitalize(lang.status) %></th>
				<th class="span1"><%= _.capitalize(lang.action) %></th>
			</tr>
		</thead>
		<tbody id="row-nested-objects">
		</tbody>
	</table>
	<% if(intervention.tasks.length == 0) { %>
	<!-- No Task to Display -->
	<div class="alert alert-info noTask">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.infoMessages.noTaskForIntervention %>.
	</div>
	<% } %>

	<div class="div-actions" >
		<button class="btn btn-primary btn-sm addTask"
			<% if(intervention.actions.indexOf("add_task") == -1) { %>
				disabled
		<% } %>>
			<i class="fa fa-plus fa-fw"></i>&nbsp; <%= _.capitalize(lang.actions.addTask) %>
		</button>
	</div>
</td>