<!-- Task List -->

<td colspan="2" class="nestedTD">

	<!-- Check if there is some tasks -->
	<ul id="row-nested-objects" class="list-unstyled nested-objects">
	</ul>

	<% if(intervention.tasks.length == 0) { %>
	<!-- No Task to Display -->
	<div class="alert alert-info noTask">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.infoMessages.noTaskForIntervention %>.
	</div>
	<% } %>

	<div class="div-actions" >
		<button class="btn btn-primary btn-sm addTask"
			<% if(intervention.actions.indexOf("add_task") == -1) { %>
				disabled
			<% } %>>
			<i class="fa fa-plus fa-fw"></i>&nbsp; <%= _.capitalize(lang.actions.addTask) %>
		</button>

		<!-- Switch button - To Scheduled / Scheduled -->
		<% if(intervention.tasks.length != 0 && intervention.state != InterventionModel.status.template.key) { %>

			<div class="pull-right">
			<input type="checkbox" class="calendarSwitch make-switch" data-label-text="<i class='fa fa-calendar'></i>" data-toggle="tooltip" data-original-title="<%= lang.intervention + " " + lang.planningFenced %>"
				id="switch-<%= intervention.id %>" data-on-text="<%= lang.yes %>" data-off-text="<%= lang.no %>"
					<% if(intervention.state == InterventionModel.status.scheduled.key){ %> checked <% } %>

					<% if(intervention.actions.indexOf("plan_unplan") == -1){ %> disabled <% } %>
				/>
			</div>

		<% } %>
	</div>

</td>