<td><i class="icon-wrench"></i>&nbsp;&nbsp;<%= equipment.getName() %>
	
	<p class="row-actions invisible">
		<a href="#" class="modalSaveEquipment" data-toggle="modal">
			<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<a href="#" class="modalDeleteEquipment" data-toggle="modal">
			<i class="icon-remove icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
	</p>
</td>
<td><%= equipment.getImmat() %></td>
<td><%= equipment.getMarque() %></td>
<td><%= equipment.getPurchaseDate('DD/MM/YYYY') %></td>
<td><%= equipment.getTime() %></td>
<td><%= equipment.getKm() %></td>
<td><%= equipment.getCategory() %></td>