<% var key = field.fieldNameYes + '_' + field.fieldNameNo; %>

<label for="<%= key %>" class="control-label col-sm-3"><%= _.capitalize(field.fieldLabel) %>:</label>
<div class="col-sm-9">
	<div class="input-group">
	
		<div class="input-group-btn">
			<button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><%= switchData.switchValue ? 'Yes' : 'No' %></button>
			<ul class="dropdown-menu" role="menu">				
				<li class="<%= switchData.switchValue ? '' : 'active'%>" data-item="no" data-field-name="<%= field.fieldNameNo%>">
					<a href="#"><%= _.capitalize('no') %><span class="pull-right">No</span></a>
				</li>
				<li class="<%= switchData.switchValue ? 'active' : ''%>" data-item="yes" data-field-name="<%= field.fieldNameYes%>">
					<a href="#"><%= _.capitalize('yes') %></a>
				</li>
			</ul>
		</div>
	
		<input class="select2 field-element" id="<%= key %>"
		data-url="<%= activeField.definition.url %>"
		<%= activeField.value ? 'value="' + activeField.value[0] + '"' : '' %>
		<%= field.fieldPlaceholder ? 'data-placeholder="' + field.fieldPlaceholder + '"' : '' %> />
	</div>
</div>