<label for="<%= field.fieldName %>" class="control-label col-sm-3"><%= _.capitalize(field.fieldLabel) %></label>
<div class="col-sm-4">
<% if(field.fieldAddon){ %>
	<div class="input-group">
<% } %>
	<select type="text" id="<%= field.fieldName %>" data-multiple='true' class="form-control field-element">
	<option value=""></option>
	<% _.each(field.definition.selection, function(item){ %>
		<option value="<%= item[0]%>" <%= field.value == item[0] ? 'selected': ''%>><%= item[1]%></option>
	<% });%>
	</select>
	<% if(field.fieldAddon){ %>
		<span class="input-group-addon"><%= field.fieldAddon %></span>
		</div>
	<% }%>
</div>