<label for="<%= field.fieldName %>" class="control-label col-sm-3"><%= _.capitalize(field.fieldLabel) %></label>
<div class="col-sm-4">
	<div class="input-group">
	
		<% if(field.value){ var value = moment(field.value, 'YYYY-MM-DD').format('DD/MM/YYYY'); } else{ var value = ''; } %>
	
		<input type="text" id="<%= field.fieldName %>" class="datepicker form-control field-element" placeholder="dd/mm/yyyy" value="<%= value %>" <%= field.fieldPlaceholder ? 'data-placeholder="' + field.fieldPlaceholder + '"' : '' %> />
		<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	</div>
</div>