<div class="modal-dialog">
	<div class="modal-content">


		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				<i class="icon-edit"></i>&nbsp;
				<% if(_.isNull(intervention.id)){ %>
					<%= _.capitalize(lang.viewsTitles.newIntervention) %>
				<% } else{ %>
					<%= lang.viewsTitles.interventionDetail %> n°<%= intervention.id %>
				<% } %>
			</h3>
		</div>


		<!-- Modal Body -->
		<div class="modal-body">
			
			<form id="formIntervention" action="#" class="form-horizontal" role="form">
			
					<!-- About the intervention -->
					<fieldset>
						<legend><%= lang.aboutTheIntervention %></legend>
			
							<!-- intervention Name -->
							<div class="form-group">
								<label for="interventionName" class="control-label col-sm-3"><%= _.capitalize(lang.label) %>:</label>
			
								<div class="col-sm-9">
									<input type="text" id="interventionName" class="form-control" value="<%= intervention.name %>" required="required" />
									<span class="help-inline"></span>
								</div>
							</div>
			
							<div class="form-group">
								<div class="col-sm-9 col-sm-offset-3">
									<label for="isTemplate" class="checkbox"><%= _.capitalize(lang.template) %>
										<input type="checkbox" id="isTemplate" />
									</label>
								</div>
							</div>
							
			
							<!-- intervention Description -->
							<div class="form-group">
								<label for="interventionDescription" class="control-label col-sm-3"><%= _.capitalize(lang.description) %>:</label>
			
								<div class="col-sm-9">
									<textarea id="interventionDescription" rows="5" class="form-control" required><%= intervention.description %></textarea>
								</div>
							</div>
			
							<!-- intervention DeadLine -->
							<div class="form-group">
								<label class="control-label col-sm-3" for="interventionDateDeadline"><%= _.capitalize(lang.dateDeadline) %>:</label>
								
								<div class="col-sm-4">
									<div class="input-group">
									<input 
										type="text" class="form-control datepicker"
										id="interventionDateDeadline" 
										value="<%= (intervention.date_deadline) != null ? moment(intervention.date_deadline, 'YYYY-MM-DD').format('L') : moment().add('w', 1).format('L') %>" 
										placeholder="dd/mm/yyyy"
										required>
										<span class="input-group-addon"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
			
			
							<!-- intervention Contact Service -->
							<div class="form-group">
								<label for="interventionDetailService" class="control-label col-sm-3" ><%= lang.serviceConcerned %>:</label>
			
								<div class="col-sm-9">
									<input id="interventionDetailService" class="select2" required data-placeholder="<%= lang.actions.selectAService %>"/>
								</div>
							</div>
			
							<!-- intervention Place -->
							<div class="form-group">
								<label for="interventionPlace" class="control-label col-sm-3"><%= _.capitalize(lang.place) %>:</label>
			
								<div class="col-sm-9">  
									<input id="interventionPlace" class="select2" required data-placeholder="<%= lang.actions.selectAPlace %>"/>
								</div>
							</div>
			
							<!-- intervention Place precision -->
							<div class="form-group">
								<label for="interventionPlacePrecision" class="control-label col-sm-3"><%= _.capitalize(lang.informationOfTheSite) %>:</label>
			
								<div class="col-sm-9">  
									 <textarea id="interventionPlacePrecision" class="form-control" rows="2"><%= intervention.site_details!=false?intervention.site_details:'' %></textarea>
								</div>
							</div>
			
					</fieldset>
				
			</form>

		</div>
		<!-- / Modal Body -->


		<div class="modal-footer">
			<button type="submit" form="formIntervention" class="btn btn-primary save"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
				
			<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>