<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= lang.viewsTitles.statementTask %></h3>
</div>

<div class="modal-body custom-height-modal">

	<blockquote id="infoModalTaskDone" class="spaceBottom">
		<p><%=task.name%></p>
		<small><%= task.project_id[1]%></small>
	</blockquote>

    <form id="formTaskDone" action="#" class="form-horizontal">

		<!-- Users or Teams -->
		<div class="control-group">
			<label class="control-label" for="selectUsersTeams"><%= _.capitalize(lang.carryOutBy) %>:</label>

			<div class="controls">
				<!--<div class="input-prepend">-->
					<div class="btn-group">
					<button class="btn dropdown-toggle" id="btnSelectUsersTeams" data-toggle="dropdown"><i class="icon-user icon-fixed-width iconItem"></i>&nbsp; <span class="icon-caret-down"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#" class="linkSelectUsersTeams" data-item="officers"><i class="icon-user icon-fixed-width"></i> <%= lang.agents %></a></li>
						<li><a href="#" class="linkSelectUsersTeams" data-item="teams"><i class="icon-group icon-fixed-width"></i> <%= lang.teams %></a></li>
					</ul>
					</div>
					<input id="selectUsersTeams" class="select2"  style="width: 50%"
						required data-placeholder="<%= lang.actions.selectAAgentShort %>" data-item="officers"/>
					<span class="help-inline"></span>
				<!--</div>-->
			</div>
		</div>

    	<!-- Start date / Start Hour -->
		<div class="control-group">
			<label class="control-label" for="startDate"><%= _.capitalize(lang.dateStart) %>:</label>

			<div class="controls controls-row">
				<!-- Start date -->
				<div class="input-append">
					<input type="text" class="datepicker taskInput input-small" id="startDate" size="20" value="" placeholder="dd/mm/yyyy" required="required">
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>

				<!-- Start hour -->
				<div class="input-append bootstrap-timepicker" >							
					<input type="text" class="timepicker-default input-mini taskInput" id='startHour' required="required">
					<span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>

		<!-- End date / End Hour -->
		<div class="control-group">
			<label class="control-label" for="endDate"><%= _.capitalize(lang.dateEnd) %>:</label>

			<div class="controls">
				<!-- End date -->
				<div class="input-append">
					<input type="text" class="datepicker taskInput input-small" id="endDate" size="20" value="" placeholder="dd/mm/yyyy" required="required">
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				
				<!-- End Hour -->
				<div class="input-append bootstrap-timepicker">
				    <input type="text" class="timepicker-default input-mini taskInput" id='endHour' required="required">
				    <span class="add-on"><i class="icon-time"></i></span>
				</div>
			</div>
		</div>

		<div id="remainingTimeSection" class="hide">
			<hr>
			<!-- Remaining Time -->
			<div id="remainingTimeSection" class="control-group	">
				<label for="eventRemainingTime" class="control-label"><%= lang.remainingTime %>:</label>
				<div class="controls">
					<div class="input-append bootstrap-timepicker">
						<input type="text" class="timepicker-default input-mini taskInput" id="eventRemainingTime" value="02:00">
						<span class="add-on"><i class="icon-time"></i></span>
					</div>
				</div>
			</div>
			<hr>
		</div>
		
		<!-- Vehicle -->
		<div class="control-group">
			<label for="taskEquipmentDone" class="control-label"><%= _.capitalize(lang.vehicleEquipment) %>:</label>

			<div class="controls">
				<!--<div class="input-append">-->
					<input id="taskEquipmentDone" class="select2 taskEquipment taskSelect taskInput" style="width: 66%" 
						data-placeholder="<%= lang.actions.selectAVehicle %>"/>
					<span class="add-on linkRefueling" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.oil) %>">
						<i class="icon-tint"></i>
					</span>
				<!--</div>-->
			</div>
		</div>


		<!-- Refueling Vehicle -->
		<fieldset class="refueling-vehicle hide">
			<legend><i class="icon-tint"></i> <%= _.capitalize(lang.oil) %></legend>

			<div class="control-group">
				<div class="form-inline">
					<!-- KM -->
					<div class="span4">
						<label for="equipmentKmDone"><%= _.capitalize(lang.milometer) %>:</label>
						<input type="number" id="equipmentKmDone" class="equipmentKm input-mini taskInput" placeholder="<%= lang.inKm %>" />
					</div>

					<!-- Oil -->
					<div class="span4">
						<label for="equipmentOilQtityDone"><%= _.capitalize(lang.quantity) %>:</label>
						<input type="text" id="equipmentOilQtityDone" class="taskInput input-mini" placeholder="<%= lang.inLiter %>" />
					</div>

					<!-- Oil Price -->
					<div class="span4">
						<label for="equipmentOilPriceDone"><%= _.capitalize(lang.price) %>:</label>
						<input type="text" id="equipmentOilPriceDone" class="taskInput input-mini" placeholder="<%= lang.inEuro %>" />
					</div>
				</div>
			</div>

		</fieldset>
		

		<!-- Equipments -->
		<fieldset>
			<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.equipment) %></legend>

			<!-- Select Material -->
			<div class="row-fluid marginTop equipmentsDroppableAreaDone">
				
				<div class="span6">
					<div class="widget-title">
						<h4 class="noMarginTop">Utilisé <span class="badge pull-right"></span></h4>
					</div>
	
					<ul id="equipmentsDone" class="sortableEquipmentsList sortable unstyled nav nav-list drop-area">
	
					</ul>
				</div>
	
				<div class="span6">
					<div class="widget-title">
						<h4 class="noMarginTop">Disponible <span class="badge pull-right" id="badgeNbEquipmentsDone"></span> </h4>
					</div>
	
					<ul id="equipmentsListDone" class="sortableEquipmentsList sortable unstyled nav nav-list">
					</ul>
				</div>
	
			</div>

		</fieldset>

    </form>
</div>

<div class="modal-footer">
    <button type="submit" form="formTaskDone" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
</div>