<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<div class="btn-group btn-group-xs pull-right">
				<a type="button" class="btn text-info hidden-xs" title="<%= lang.zenMode %>" data-action="zenmode"><i class="fa fa-arrows-alt"></i></a>
				<a type="button" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i></a>
			</div>
			<h4 class="modal-title">
				<i class="fa fa-edit"></i>&nbsp;
				<% if(budgetLine.isNew()){ %>
					<%= _.capitalize(lang.achatsstocks.actions.addBudgetLine) %>
				<% } else{ %>
					<%= _.capitalize(lang.achatsstocks.viewsTitles.editBudgetLine) %>
				<% } %>œ
			</h4>
		</div>

		<div class="modal-body">
			<form id="formSaveBudgetLine" action="#" class="form-horizontal">


				<!-- Budget Line Analytique account	-->
				<div class="form-group">
					<label for="budgetLineAnalyticAccount" class="control-label col-sm-3"><%= _.capitalize(lang.achatsstocks.analyticAccount) %>:</label>

					<div class="col-sm-9">
						<input id="budgetLineAnalyticAccount" class="select2" data-placeholder="<%= lang.achatsstocks.actions.selectAnAnalyticAccount %>" data-minimum-input-length="2" required
							<% if(!budgetLine.isNew()){ %>
								data-selected-value='<%= JSON.stringify(budgetLine.getAnalytiqueAccount('json')) %>'
							<% } %>
						>
					</div>
				</div>

				<!-- BudgetLine M14 Account -->
				<div class="form-group">
					<label for="budgetLineAccount" class="control-label col-sm-3"><%= _.capitalize(lang.achatsstocks.m14Account) %>:</label>

					<div class="col-sm-9">
						<input id="budgetLineAccount" class="select2" data-placeholder="<%= lang.achatsstocks.actions.selectAnAccount %>" data-minimum-input-length="2" required
							<% if(!budgetLine.isNew()){ %>
								data-selected-value='<%= JSON.stringify(budgetLine.getM14Account('json')) %>'
							<% } %>
						>
					</div>
				</div>

				<!-- Budget line planned ammount -->
				<div class="form-group">
					<label for="budgetLineAmount" class="control-label col-sm-3"><%= _.capitalize(lang.achatsstocks.plannedAmount) %>:</label>

					<div class="col-sm-4">
						<div class="input-group">
							<input type="number" step="0.01" id="budgetLineAmount" class="form-control" value="<%= (!budgetLine.isNew() ? budgetLine.getPlannedAmount(false) : '') %>" required>
  							<span class="input-group-addon"><i class="fa fa-eur"></i></span>
						</div>
					</div>
				</div>

			</form>
		</div>

		<div class="modal-footer">
			<button type="submit" form="formSaveBudgetLine" class="btn btn-primary"
				data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.saveInProgress %>">
				<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;

			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>


	</div>
</div>