<div class="page-header">
	<h1>
		<%= lang.viewsTitles.claimersList %>
		<sup class="badge"><%= nbClaimers %></sup>
	</h1>
</div>




	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-md-9 col-lg-10">
			<a href="#" class="btn btn-primary modalNewClaimer"><i class="fa fa-plus fa-fw"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>
		</div>

		<form class=" form-search pull-right col-xs-5 col-md-3 col-lg-2">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search fa-lg"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<% if(nbClaimers < 0) { %>
		<div class="alert alert-info">
			<i class="fa fa-info"></i> &nbsp;<%= lang.infoMessages.noClaimer %>.
		</div>
	<% } %>
	

	<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped-collapse table-sorter">
		<thead>
			<tr>
				<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
				<th><%= _.capitalize(lang.type) %></th>
				<th><%= _.capitalize(lang.place) %></th>
				<th><%= _.capitalize(lang.phone) %></th>
				<th><%= _.capitalize(lang.email) %></th>
			</tr>
		</thead>
		<tbody id="claimersList">

		</tbody>
	</table>
	</div>

	

	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->




<div id="modalEditClaimer" class="modal fade"></div>

<div id="modalDeleteClaimer" class="modal fade"></div>

<div id="modalEditContact" class="modal fade"></div>

<div id="modalDeleteClaimerContact" class="modal fade"></div>