<td colspan="5" class="nestedTD">

	<table class="table table-striped table-condensed table-hover">
		<thead>
		<tr>
			<th><%= _.capitalize(lang.name) %></th>
			<th><%= _.capitalize(lang.login) %></th>
			<th><%= _.capitalize(lang.group) %></th>
			<th><%= _.capitalize(lang.email) %></th>
			<th><%= _.capitalize(lang.lastConnection) %></th>
		</tr>
		</thead>
		<tbody id="rows-officers">

		</tbody>
	</table>

	<!-- No Officer to display -->
	<% if(_.isEmpty(service.getUsersId())) { %>
	<div class="alert alert-info">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.infoMessages.noPeople %>.
	</div>
	<% } %>

	<button class="btn btn-primary btn-sm modalCreateOfficer">
		<i class="fa fa-plus fa-fw"></i>&nbsp; <%= _.capitalize(lang.actions.addPeople) %>
	</button>




</td>