<h4 class="well well-sm noMarginTop"><i class="fa fa-group fa-fw"></i>&nbsp;<%= team.getName() %> - <small><%= team.getManager() %></small></h4>

<div class="row">

	<!-- Team Members -->
	<div class="col-sm-6">

		<div class="widget-title">
			<h4><%= lang.teamMembers %> <span id="nbMembers" class="badge pull-right"><%= _.size(team.getMembers()) %></span></h4>
		</div>
		<input type="text" id="searchMembers" style="width: 100%" data-multiple='true' data-placeholder="<%= lang.actions.selectAgents %>"
			data-selected-value='<%= JSON.stringify(team.getMembers('json')) %>' data-tag-large="true"
		>
	</div>

	<!-- Team Services -->
	<div class="col-sm-6">
		
		<div class="widget-title">
			<h4><%= lang.teamServices %> <span id="nbServices" class="badge pull-right"><%= _.size(team.getServices()) %></span></h4>
		</div>
		<input type="text" id="searchServices" style="width: 100%" data-multiple='true' data-placeholder="<%= lang.actions.selectServices %>"
			data-selected-value='<%= JSON.stringify(team.getServices('json')) %>' data-tag-large="true"
		>
	</div>

</div>