<!-- contract name -->
<div class="form-group field" data-field-label="<%= lang.label%>" data-field-name="name"></div>

<!-- contract category -->
<div class="form-group field" data-field-placeholder="<%= lang.actions.selectACategory%>" data-field-label="<%= lang.category%>" data-field-name="category_id"></div>

<!-- contract note -->
<div class="form-group field" data-field-label="<%= lang.note%>" data-field-name="description"></div>

<div class="form-group">
	<label class="control-label col-sm-3" for="date_start_order"><%= lang.patrimoine.period %></label>
	<div class="col-sm-9">
		<div class="input-daterange input-group datepicker">
			<span class="input-group-addon">Du</span>
			<input type="text" id="date_start_order" class="form-control field-element" placeholder="dd/mm/yyyy" value="<%= contract.getDateFr('date_start_order') %>" required>
			<span class="input-group-addon">Au</span>
			<input type="text" id="date_end_order" class="form-control field-element" placeholder="dd/mm/yyyy" value="<%= contract.getDateFr('date_end_order') %>" required>
		</div>
	</div>
	
</div>

<!-- contract delay deadline -->
<div class="form-group field" data-field-label="<%= lang.patrimoine.delay_deadline%>" data-field-name="deadline_delay"></div>

<!-- contract type renewal -->
<div class="form-group field" data-field-label="<%= lang.patrimoine.typeRenewal%>" data-field-name="type_renewal"></div>

<!-- contract patrimony (Equipment or Place ?) -->
<div class="form-group field" data-field-label="<%= lang.placeOrEquipment%>" data-field-name="patrimoine_is_equipment"
data-off-label="<i class='fa fa-map-marker fa-fw'>" data-on-label="<i class='fa fa-wrench fa-fw'>"></div>

<div class="field-visible-if" data-field-name="patrimoine_is_equipment" data-field-value="true">
	<!-- contract equipment -->
	<div class="form-group field" data-field-placeholder="<%= lang.actions.selectAnEquipment%>" data-field-label="<%= lang.equipment%>" data-field-name="equipment_id"></div>
</div>
<div class="field-visible-if" data-field-name="patrimoine_is_equipment" data-field-value="false">
	<!-- contract place -->
	<div class="form-group field" data-field-placeholder="<%= lang.actions.selectAPlace%>" data-field-label="<%= lang.place %>" data-field-name="site_id"></div>
</div>

<!-- contract department -->
<div class="form-group field" data-field-placeholder="<%= lang.actions.selectAService%>" data-field-label="<%= lang.managerDepartment %>" data-field-name="technical_service_id"></div>

<!-- contract actor (supplier or department ?) -->
<div class="form-group field" data-field-label="<%= lang.patrimoine.internalIntervention %>" data-field-name="internal_inter"
data-off-label="<%= lang.no%>" data-on-label="<%= lang.yes%>"></div>

<div class="field-visible-if" data-field-name="internal_inter" data-field-value="false">
	<!-- contract supplier -->
	<div class="form-group field" data-field-placeholder="<%= lang.actions.selectAProvider%>" data-field-label="<%= lang.serviceProvider%>" data-field-name="supplier_id"></div>
</div>

