<div class="page-header">
	<h1><%= _.capitalize(pageTitle) %></h1>
</div>

<% if(contract.getAttribute('actions',[]).indexOf('redraft') > -1){ %>
<button class="btn btn-primary" type="button" id="updateDraftForm"><%= lang.patrimoine.actions.setDraftForm %></button>
<% } %>
<form id="formSaveModel" action="#" class="form-horizontal container" role="form">
	<div class="row">
		
		<!-- General Infos -->
		<div class="col-sm-6">	
			<fieldset <%= readonly ? 'disabled' : ''%>>
				<legend><span class="text-info">1</span> - <%= _.capitalize(lang.patrimoine.generalInfos) %></legend>
				<div id="general_infos"></div>
			</fieldset>
		</div>
		
		<!-- Contract Lines -->
		<div class="col-sm-6" <%= readonly ? 'disabled' : ''%>>
				<!-- <legend><span class="text-info">2</span> - <%= _.capitalize(lang.patrimoine.viewsTitles.contractTasks) %></legend>-->
				<ul id="linesHeader" class="nav nav-tabs">
					<li class="removeOnReadonly"><a href="#" id="addLine"><i class="fa fa-plus fa-fw"></i> Nouvelle tâche</a></li>
				</ul>
				<div id="lines" class="tab-content"></div>
		</div>
	</div>

	<hr />

	<!-- Form Actions -->
	<div class="col-sm-12 well">
		<div class="text-center ">
			<% if(contract.getAttribute('state','draft') == 'draft'){ %>
			<button type="submit" class="btn btn-primary" form="formSaveModel" id="saveFormContract"><%= _.capitalize(lang.patrimoine.actions.savePost) %></button>&nbsp;
			<button type="button" class="btn btn-default" id="saveDraftFormContract"><%= _.capitalize(lang.patrimoine.actions.saveDraft) %></button>&nbsp;
			<% } %>
			<a href="#" id="formBack" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>
	</div>
</form>
