<td class="field" data-fieldname="date_deadline"></td>

<td>
<i class="fa <%= task.getAttribute('user_id',false) ? 'fa-user' : task.getAttribute('team_id',false) ? 'fa-users' : 'fa-truck' %> fa-fw"></i>
<span class="field" data-fieldname="agent_or_team_name"></span>
</td>

<td><span class="label label-<%= stateItem.color %>"><%= stateItem.translation %></span></td>

<td>
<% if(task.getAttribute('actions',[]).indexOf('delete') > -1){ %>
<a class="actionDelete" href="#"><i class="fa fa-times"></i></a>
<% } %>
</td>