<div class="page-header">
	<h1><%= lang.viewsTitles.planning %></h1>
</div>


	<!-- Interventions List -->
	<div id="planningInters" class="col-sm-3"></div>

	<!-- Right Column -->
	<!-- Calendar -->
	<div id="planning" class="col-sm-9">
		<div id="tabs"></div>
		<div id="calendar"></div>
	</div>
	
	<!-- /Calendar -->



<!-- Modal Form to add a new Task to Inter -->
<div id="modalAddTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Delete Task -->
<div id="modalDeleteTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Cancel Task -->
<div id="modalCancelTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form to add/update an inter -->
<div id="modalSaveInter" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Cancel Intervention -->
<div id="modalCancelInter" class="modal fade" role="dialog" aria-hidden="true"></div>

<div id="printingCalendar"></div>