<div class="page-header">
	<h1>
		<%= lang.viewsTitles.interventionsMonitoring %>
		<sup class="badge badge-<%= interventionsState.scheduled.color %> badge-action" id="specialBadge2" data-filter="<%= interventionsState.scheduled.key %>" data-toggle="tooltip" data-original-title="<%= lang.planningFenced %>" data-placement="bottom">
			<%= nbInterventionsPlanned %>
		</sup>

		<sup class="badge badge-action" id="specialBadge" data-filter="<%= interventionsState.pending.key %>" data-toggle="tooltip" data-original-title="<%= lang.pending %>" data-placement="bottom">
			<%= nbInterventionsPending %>
		</sup>
	</h1>
</div>



<!-- Table toolbar -->
<div id="headerList" class="tableToolbar row"></div>
<!-- Table toolbar -->


<!-- Message if No intervention to Display -->
<% if(interventions.length <= 0) { %>
	<div class="tableToolbar">
		<div class="alert alert-warning">
			<i class="fa fa-info-circle fa-lg fa-fw"></i>&nbsp;<%= lang.infoMessages.noRequest %>
		</div>
	</div>
<% } %>


<div id="filter-informations" class="tableToolbar hide">
	<div class="alert alert-info">
		<i class="fa fa-filter fa-fw pull-left"></i>
		<p id="filterContent" class="d-inline"><%= lang.activeFilter %>:</p>
		<button type="button" class="btn btn-link btn-xs pull-right unapply-filter"><i class="fa fa-eraser fa-fw"></i> <%= lang.actions.unapplyFilter %></button>
	</div>
</div>



<!-- Main view -->
<div class="row">

	<!-- Advance filter container -->
	<div id="advanceFilterContainer" class="hide content-sidebar content-sidebar-right">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title">
				<%= lang.advanceSearch %>
				<a href="#" class="pull-right unapply-filter">
					<i class="fa fa-eraser fa-fw text-muted" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.unapplyFilter) %>"></i>
				</a>
			</h4>
		</div>

		<div class="panel-body">
			<!-- Advance filter -->
			<div id="advanced-filters-bar"></div>
		</div>
	</div>
	</div>

	<div id="contentContainer" class="content-main">


		<!-- Table Interventions -->
		<div class="table-responsive">
		<table class="table-interventions table table-bordered table-hover table-sorter table-striped-collapse">
			<thead>
				<tr>
					<th data-sort-column="id">N°</th>
					<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
					<th><%= _.capitalize(lang.place) + ' / '%><%= _.capitalize(lang.equipment) %></th>
					<th data-sort-column="date_deadline"><%= _.capitalize(lang.dateDeadline) %></th>
					<th><%= _.capitalize(lang.plannedHours) %></th>
					<th><%= _.capitalize(lang.spentHours) %></th>
					<th data-sort-column="cost"><%= _.capitalize(lang.cost) %></th>
					<th><%= _.capitalize(lang.progressRate) %></th>
				</tr>
			</thead>

			<tbody id="inter-items">
			<!-- Inter rows -->

			</tbody>
		</table>
		</div>

		<!-- Table pagination -->
		<div id="pagination" class="pull-right"></div>
		<!-- /Table pagination -->

	</div>

</div>
<!-- /Main view -->






<!-- Modal Form to add a new Task to Inter -->
<div id="modalAddTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Delete Task -->
<div id="modalDeleteTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Cancel Intervention -->
<div id="modalCancelInter" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Task Done -->
<div id="modalTaskDone" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Cancel Task -->
<div id="modalCancelTask" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form to add/update an inter -->
<div id="modalInter" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form to view Recurrence Task details -->
<div id="modalRecurrenceDetails" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Details Inter Task -->
<div id="modalDetailCost" class="modal fade" role="dialog" aria-hidden="true"></div>




<!-- Form to print paperboard-->
<div id="printTask" class="hide container-fluid printContainer" >

	<div>
		<div>
			<h1 style="float: left;">Fiche d'intervention n°<span id="interId" class="field"></span></h1>
   			<img src="<%= cityLogo %>" alt="logo" class="pull-right">
   		</div>
   		<hr style="clear: both;">



		<fieldset style="font-size: 20px; margin-bottom: 30px; padding-top: 20px;">
			<legend><strong><%= lang.aboutTheIntervention %>:</strong></legend>
			<p id="interService" class="field" style="float: right; margin: 0;"></p><br>
			<p style="float: right; margin: 0">
				<strong id="interDateCreate" class="field"></strong>
				<strong id="interDeadline" class="field"></strong>
			</p>
			<div style="clear: both;">
				<em style="text-decoration:underline;"><%= _.capitalize(lang.intervention) %>:</em> <span id="interName" class="field"></span><br>
				<em style="text-decoration:underline;"><%= _.capitalize(lang.description) %>:</em> <span id="interDescription" class="field"></span><br>
				<em style="text-decoration:underline;" id="printPlaceOrEquipmentLabel"><%= _.capitalize(lang.materialEquipment) %>:</em> <span id="interPlaceOrEquipment" class="field"></span><br>
				<em style="text-decoration:underline;" id="printPlaceLabel"><%= _.capitalize(lang.place) %>:</em> <span id="interPlace" class="field"></span><br>
				<em style="text-decoration:underline;"><%= _.capitalize(lang.informationOfTheSite) %>:</em> <span id="interPlaceMore" class="field"></span><br>
			</div>

			<fieldset style="font-size: 20px; margin-top: 30px;">
				<legend><strong><%= lang.claimerDetails %>:</strong></legend>

				<em style="text-decoration:underline;"><%= _.capitalize(lang.claiment) %>:</em> <span id="claimentName" class="field"></span><br>
				<em style="text-decoration:underline;"><%= _.capitalize(lang.type) %>:</em> <span id="claimentType" class="field"></span><br>
				<em style="text-decoration:underline;"><%= _.capitalize(lang.phone) %>:</em> <span id="claimentPhone" class="field"></span><br>
			</fieldset>

		</fieldset>



		<div class="forTask">
			<fieldset style="font-size: 20px;">
				<legend><strong><%= lang.aboutTheTask %>:</strong></legend>

				<table style="width: 100%;">
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.label) %>:</strong></td>
						<td style="width: 80%" id="taskLabel"></td>
					</tr>
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.estimatedHours) %>:</strong></td>
						<td style="width: 80%" id="taskPlannedHour"></td>
					</tr>
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.carryOutBy) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.dateHourStart) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.dateHourEnd) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>
					<tr style="height: 80px;">
						<td><strong><%= _.capitalize(lang.vehiclesOrEquipments) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>
					<tr style="height: 50px;">
						<td><strong><%= _.capitalize(lang.oil) %> / <%= _.capitalize(lang.price) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>
					<tr style="height: 80px;">
						<td><strong><%= _.capitalize(lang.observations) %>:</strong></td>
						<td class="toFill" style="width: 80%"></td>
					</tr>

				</table>

			</fieldset>
		</div>


		<div class="forInter">
			<h3 style="margin-bottom: 5px;"><%= lang.viewsTitles.tasksList %>:</h3>

				<table id="tableTasks" style="width: 100%; border: thin solid gray;">
					<thead>
						<tr>
							<td style="text-align: center"><strong><%= _.capitalize(lang.label) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.estimatedHours) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.carryOutBy) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.dateHourStart) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.dateHourEnd) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.vehiclesOrEquipments) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.oil) %> / <%= _.capitalize(lang.price) %></strong></td>
							<td style="text-align: center"><strong><%= _.capitalize(lang.observations) %>:</strong></td>
						</tr>
					</thead>

					<tbody>

					</tbody>
				</table>

		</div>

	</div>
</div>