<div class="page-header">
	<h1>
		<%= lang.viewsTitles.requestsList %>


		<% if(user.isDST() || user.isManager()){

		  if(user.isDST()) {
				var classColor      = requestsState.to_confirm.color;
				var filterValue     = requestsState.to_confirm.key;
				var actionToProcess = lang.actions.to_confirm;
			}
			else if(user.isManager()){
		   		var classColor      = requestsState.wait.color;
		   		var filterValue     = requestsState.wait.key;
		   		var actionToProcess = lang.actions.process; }
			else{
		   		var classColor      = '';
		   		var actionToProcess = '';
		   		var filterValue     = '';
			}
		%>

		<sup id="specialBadge" class="badge badge-<%= classColor %> badge-action" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
			<%= nbRequestsToDeal %>
		</sup>

		<% } %>

		<sup id="bagde" class="badge"><%= nbRequests %></sup>
	</h1>
</div>



<!-- Table toolbar -->
<div id="headerList" class="tableToolbar row"></div>
<!-- Table toolbar -->


<!-- Message if No Request to Display -->
<% if(nbRequests <= 0) { %>
	<div class="tableToolbar">
		<div class="alert alert-warning">
			<i class="fa fa-info-circle fa-lg fa-fw"></i>&nbsp;<%= lang.infoMessages.noRequest %>
		</div>
	</div>
<% } %>


<div id="filter-informations" class="tableToolbar hide">
	<div class="alert alert-info">
		<i class="fa fa-filter fa-fw pull-left"></i>
		<p id="filterContent" class="d-inline"><%= lang.activeFilter %>:</p>
		<button type="button" class="btn btn-link btn-xs pull-right unapply-filter"><i class="fa fa-eraser fa-fw"></i> <%= lang.actions.unapplyFilter %></button>
	</div>
</div>



<!-- Main view -->
<div class="row">

	<!-- Advance filter container -->
	<div id="advanceFilterContainer" class="hide content-sidebar content-sidebar-right">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title">
				<%= lang.advanceSearch %>
				<a href="#" class="pull-right unapply-filter">
					<i class="fa fa-eraser fa-fw text-muted" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.unapplyFilter) %>"></i>
				</a>
			</h4>
		</div>

		<div class="panel-body">
			<!-- Advance filter -->
			<div id="advanced-filters-bar"></div>
		</div>
	</div>
	</div>


	<div id="contentContainer" class="content-main">

		<!-- Table Requests -->
		<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-sorter table-vertical-align">
			<thead>
				<tr>
					<th data-sort-column="id">N°</th>
					<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
					<th><%= _.capitalize(lang.place) %>  / <%= _.capitalize(lang.equipment) %></th>
					<th><%= _.capitalize(lang.service) %></th>
					<th><%= _.capitalize(lang.claiment) %></th>
					<th data-sort-column="create_date"><%= _.capitalize(lang.createDate) %></th>
					<th><%= _.capitalize(lang.status) %></th>

					<% if(user.isDST() || user.isManager()){ %>
						<th class="actions"><%= _.capitalize(lang.action) %></th>
					<% } %>
				</tr>
			</thead>
			<tbody id="rows-items">

			</tbody>

		</table>
		</div>
		<!-- /Table Requests -->

		<!-- Table pagination -->
		<div id="pagination" class="pull-right"></div>
		<!-- /Table pagination -->

	</div>

</div>
<!-- /Main view -->




<!-- Modal form to add a request -->
<div id="modalRequest" class="modal fade" role="dialog" aria-hidden="true"></div>