<div class="page-header">
	<h1>
		<%= lang.viewsTitles.requestsList %>


		<% if(user.isDST() || user.isManager()){

		  if(user.isDST()) { 
				var classColor      = RequestModel.status.confirm.color;
				var filterValue     = RequestModel.status.confirm.key;
				var actionToProcess = lang.actions.confirm; 
			}
			else if(user.isManager()){ 
		   		var classColor      = RequestModel.status.wait.color;
		   		var filterValue     = RequestModel.status.wait.key;
		   		var actionToProcess = lang.actions.process; }
			else{ 
		   		var classColor      = '';
		   		var actionToProcess = '';
		   		var filterValue     = ''; 
			}
		%>
		
		<sup id="badgeActions" class="badge badge-<%= classColor %> badge-action" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
			<%= nbRequestsToDeal %>
		</sup>

		<% } %>

		<sup id="bagdeCpt" class="badge"><%= nbRequests %></sup>
	</h1>
</div>




	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-sm-7 col-md-9 col-xl-10">
			<a href="#" class="btn btn-primary createRequest"><i class="fa fa-plus fa-fw"></i> <%= _.capitalize(lang.actions.addRequest) %></a>
		</div>

		<form class="form-search pull-right col-xs-5 col-sm-5 col-md-3 col-xl-2">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<div class="input-group-btn">
					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary"><i class="fa fa-search fa-lg"></i></button>

					<!-- Button Advance filter -->
					<button type="button" class="btn btn-primary" data-toggle="advance-search">
						<span class="fa fa-search-plus"></span>
					</button>

					<!-- Display saved Filters -->
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
						<span class="fa fa-caret-down"></span>
					</button>

					<ul class="dropdown-menu pull-right filters" role="menu"></ul>
					

				</div>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<!-- Message if No Request to Display -->
	<% if(nbRequests <= 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-warning">
				<i class="fa fa-info-circle fa-lg fa-fw"></i>&nbsp;<%= lang.infoMessages.noRequest %>
			</div>
		</div>
	<% } %>



	<!-- Main view -->
	<div class="row">

		<!-- Advance filter container -->
		<div id="advanceFilterContainer" class="hide col-sm-3 col-sm-push-9 col-xl-2 col-xl-push-10">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 class="panel-title"><%= lang.advanceSearch %></h4>
			</div>

			<div class="panel-body">
				<!-- Advance filter -->
				<div id="advanced-filters-bar"></div>
			</div>
		</div>
		</div>

		
		<div id="contentContainer" class="col-sm-12 content-container">
			
			<!-- Table Requests -->
			<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover table-sorter">
				<thead>
					<tr>
						<th data-sort-column="id">N°</th>
						<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
						<th><%= _.capitalize(lang.place) %>  / <%= _.capitalize(lang.equipment) %></th>
						<th><%= _.capitalize(lang.service) %></th>
						<th><%= _.capitalize(lang.claiment) %></th>
						<th data-sort-column="create_date"><%= _.capitalize(lang.createDate) %></th>
						<th><%= _.capitalize(lang.status) %></th>

						<% if(user.isDST() || user.isManager()){ %>
							<th class="actions"><%= _.capitalize(lang.action) %></th>
						<% } %>
					</tr>
				</thead>
				<tbody id="rows-items">

				</tbody>

			</table>
			</div>
			<!-- /Table Requests -->

			<!-- Table pagination -->
			<div id="pagination" class="pull-right"></div>
			<!-- /Table pagination -->

		</div>

	</div>
	<!-- /Main view -->






<!-- Modal form to add a request -->
<div id="modalRequest" class="modal fade" role="dialog" aria-hidden="true"></div>