<td>
<%= purchaseLine.getAttribute('product_id',[0,''])[1] %>
</td>

<td>
	<input type="text" class="form-control field-element" required id="name" name="name" value="<%= purchaseLine.getAttribute('name','') %>">
</td>

<td>
	<div class="col-sm-8">
		<input type="number" required class="form-control field-element" id="product_qty" step="any" name="product_qty" value="<%= purchaseLine.getAttribute('product_qty','0') %>">
	</div>
</td>

<td>
	<div class="col-sm-8">
		<input type="number" required class="form-control field-element" id="price_unit" step="any" name="price_unit" value="<%= purchaseLine.getAttribute('price_unit','') %>">
	</div>
</td>

<td>
 	<div class="field" data-field-name="taxes_id"></div>
</td>

<td>
	<div class="field" data-field-required="required" data-field-name="budget_line_id"
	data-field-minimum-input-length="2"></div>
</td>

<td>
<p class="row-actions invisible">
<a href="#" class="copyLine"><i class="fa fa-files-o fa-fw fa-lg"></i></a>
&nbsp;
<a href="#" class="removeLine"><i class="fa fa-trash-o fa-fw fa-lg"></i></a>
</p></td>