<div class="form-group field" data-field-name="description" data-field-required="required" data-field-label="<%= lang.note %>"></div>
			
<div class="form-group field" data-field-name="service_id" data-field-required="required" data-field-label="<%= lang.service %>" 
	data-field-placeholder="<%= lang.actions.selectAService %>"></div>

<div class="form-group field" data-field-name="account_analytic_id" data-field-label="<%= lang.achatsstocks.defaultBudget %>" 
	data-field-placeholder="<%= lang.achatsstocks.actions.selectABudgetLine %>" data-field-minimum-input-length="1"></div>

<div class="form-group field" data-field-name="partner_id" data-field-required="required" data-field-label="<%= lang.supplier %>" 
	data-field-placeholder="<%= lang.actions.selectASupplier %>"></div>