<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h3 class="modal-title"><%= lang.viewsTitles.statementTask %></h3>
		</div>

		<div class="modal-body">

			<blockquote>
				<p><%= task.getName() %></p>
				<small><i class="fa fa-thumb-tack fa-fw"></i>&nbsp;<%= task.getIntervention() %></small>

				<!-- Display the affected Team or Use -->
				<% if(task.affectedOnTeam()) { %>
				<small><i class="fa fa-users fa-fw"></i>&nbsp;<%= task.getTeam() %></small>
				<% }else{ %>
				<small><i class="fa fa-user fa-fw"></i>&nbsp;<%= task.getUser() %></small>
				<% } %>
			</blockquote>

		    <form id="formTaskDone" action="#" class="form-horizontal" role="form">
			
				<div id="timeSpentSection" class="form-group">
					<label for="eventTimeSpent" class="control-label col-sm-3"><%= lang.spentHours %>:</label>			
					<div class="col-sm-3">
						<div class="input-group form-controls bootstrap-timepicker">
							<input type="text" class="timepicker-default input-mini taskInput form-control" id="eventTimeSpent" value="<%=timeSpentDefault%>">
							<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>

				<!-- Remaining Time -->
				<div id="remainingTimeSection" class="form-group">
					<label for="eventRemainingTime" class="control-label col-sm-3"><%= lang.remainingHours %>:</label>
					<div class="col-sm-3">
						<div class="input-group form-controls bootstrap-timepicker">
								<input type="text" class="timepicker-default input-mini taskInput form-control" id="eventRemainingTime" value="02:00">
								<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
				</div>

				<!-- Vehicle -->
				<div class="form-group">
					<label for="taskEquipmentDone" class="linkRefueling control-label col-sm-3"><%= _.capitalize(lang.vehicleEquipment) %>:</label>

					<div class=" col-sm-9">
						<div class="input-group">
							<span class="input-group-addon linkRefueling" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.oil) %>">
								<i class="fa fa-tint"></i>
							</span>
							<input id="taskEquipmentDone" class="select2 taskEquipment taskSelect taskInput"
								data-placeholder="<%= lang.actions.selectAVehicle %>"/>
						</div>
					</div>
				</div>

				<!-- Refueling Vehicle -->
				<fieldset class="refueling-vehicle hide-soft">
					<legend><i class="fa fa-tint"></i> <%= _.capitalize(lang.oil) %></legend>

					<div class="form-group">
							<!-- KM -->
							<div class="col-sm-4">
								<label for="equipmentKmDone"><%= _.capitalize(lang.milometer) %>:</label>
								<input type="number" id="equipmentKmDone" class="equipmentKm taskInput form-control" placeholder="<%= lang.inKm %>" />
							</div>

							<!-- Oil -->
							<div class="col-sm-4">
								<label for="equipmentOilQtityDone"><%= _.capitalize(lang.quantity) %>:</label>
								<input type="text" id="equipmentOilQtityDone" class="taskInput form-control" placeholder="<%= lang.inLiter %>" />
							</div>

							<!-- Oil Price -->
							<div class="col-sm-4">
								<label for="equipmentOilPriceDone"><%= _.capitalize(lang.price) %>:</label>
								<input type="text" id="equipmentOilPriceDone" class="taskInput form-control" placeholder="<%= lang.inEuro %>" />
							</div>
					</div>

				</fieldset>
				

				<!-- Equipments -->
				<div class="form-group">
					<label for="taskEquipmentListDone" class="control-label col-sm-3"><%= _.capitalize(lang.equipment) %>:</label>
					<div class="col-sm-9">
						<input id="taskEquipmentListDone" class="select2 taskEquipment taskSelect taskInput"
							data-placeholder="<%= lang.actions.selectEquipments %>" data-multiple="multiple"/>
					</div>
				</div>

		    </form>
		</div>

		<div class="modal-footer">
		    <button type="submit" form="formTaskDone" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>