<td class="field" data-fieldname="id"></td>

<td>
	<a href="<%= formUrl %>"><span class="field" data-fieldname="name"></span></a>
	<p class="row-actions invisible small-actions" data-actions="delete"></p>
</td>

<td>
<i class="<%= contract.getAttribute('internal_inter',false) ?'fa fa-sitemap' : 'fa fa-truck'%> fa-fw"></i>
<span class="field" data-fieldname="provider_name"></span>
</td>

<td>
<i class="<%= contract.getAttribute('patrimoine_is_equipment',false) ?'fa fa-wrench' : 'fa fa-map-marker'%> fa-fw"></i>
<span class="field" data-fieldname="patrimoine_name"></span>
</td>

<td class="field" data-fieldname="date_start_order"></td>

<td><span class="field" data-fieldname="date_end_order"></span>
<% if(contract.getAttribute('state','draft') != 'done'){ %>
	&nbsp;<% if(contract.getAttribute('delay_passed',false)){ %>
		<i class="fa fa-warning fa-lg text-danger" data-toggle="tooltip" data-original-title="<%= lang.patrimoine.delayPassed %>"></i>
	<% }else if(contract.getAttribute('warning_delay',false)){ %>
		<i class="fa fa-warning fa-lg text-default" data-toggle="tooltip" data-original-title="<%= lang.patrimoine.delayNeartoPass %> <%= parseInt(contract.getAttribute('remaining_delay',0) + 1) %> <%= lang.patrimoine.daysUnit %>"></i>
	<% } %>
<% } %>
</td>

<td><span class="label label-<%= stateItem.color %>" data-toggle="tooltip" data-original-title=""><%= stateItem.translation %></span>
</td>

<td class="button-actions" data-actions="draft,confirm,renew,close,cancel" data-main-action="<%= mainAction%>"></td>