<div class="modal-dialog">
	<div class="modal-content">


		<div class="modal-header">
			<div class="btn-group btn-group-xs pull-right">
				<a type="button" class="btn text-info hidden-xs" title="<%= lang.zenMode %>" data-action="zenmode"><i class="fa fa-arrows-alt"></i></a>
				<a type="button" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i></a>
			</div>
			<h4 class="modal-title">
				<i class="fa fa-edit"></i>&nbsp;
				<% if(_.isNull(service.getId())){ %>
					<%= _.capitalize(lang.viewsTitles.newService) %>
				<% } else{ %>
					<%= _.capitalize(lang.viewsTitles.editService) %>
				<% } %>


				<% if(!_.isUndefined(loader)) { %>
					<span class="modal-loader progress progress-striped active">
						<span class="bar"></span>
					</span>
				<% } %>
			</h4>
		</div>


		<!-- Modal Body -->
		<div class="modal-body">

			<!-- Tabs -->
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#" data-toggle="tab" data-target="#formAboutService"><%= _.capitalize(lang.about) %></a></li>
				<li><a href="#" data-toggle="tab" data-target="#moduleSettings"><%= lang.viewsTitles.moduleSettings %></a></li>
			</ul>

			<% if(_.isUndefined(loader)) { %>
			<form id="formSaveService" action="#" class="form-horizontal" role="form">
				<div class="tab-content">


				<!-- About the service -->
				<fieldset id="formAboutService" class="tab-pane fade in active">


				<!-- Service name -->
				<div class="form-group">
					<label for="serviceName" class="control-label col-sm-3"><%= _.capitalize(lang.name) %>:</label>

					<div class="col-sm-9">
						<input type="text" id="serviceName" class="form-control" required value="<%= (_.isNull(service.getId()) ? '' : service.getName()) %>">
					</div>
				</div>

				<!-- Service code -->
				<div class="form-group">
					<label for="serviceCode" class="control-label col-sm-3"><%= _.capitalize(lang.code) %>:</label>

					<div class="col-sm-9">
						<input type="text" id="serviceCode" class="form-control" required value="<%= (_.isNull(service.getId()) ? '' : service.getCode()) %>">
						<span class="help-block" id="code-error"></span>
					</div>
				</div>

				<!-- Service Parent Service -->
				<div class="form-group">
					<label for="serviceParentService" class="control-label col-sm-3"><%= _.capitalize(lang.parentService) %>:</label>

					<div class="col-sm-9">
						<input id="serviceParentService" class="select2" data-placeholder="<%= lang.actions.selectAService %>"

							<% if(!_.isNull(service.getId())){
								if(!_.isUndefined(service.getParentService('id'))) { %>
								data-selected-value='<%= JSON.stringify(service.getParentService('json')) %>'
							<% } } %>
						>
					</div>
				</div>


				<!-- is Technical Service -->
				<div class="form-group">
					<label class="control-label col-sm-3" for="switchTechnicalService"><%= _.capitalize(lang.technicalService) %>:</label>

					<div class="col-sm-9">
						<input type="checkbox" class="make-switch" id="switchTechnicalService" data-on-text="<%= lang.yes %>" data-off-text="<%= lang.no %>" tabindex="0"
							<% if(!_.isNull(service.getId())){ if(service.isTechnical()) { %> checked <% } } %>
						>
					</div>
				</div>


				<!-- Referent people -->
				<fieldset>
					<legend><%= lang.referentPeoples %></legend>


				<!-- Referent Service Manager -->
				<div class="form-group">
					<label for="serviceManager" class="control-label col-sm-3"><%= _.capitalize(lang.manager) %>:</label>

					<div class="col-sm-9">
						<input id="serviceManager" class="select2" data-placeholder="<%= lang.actions.selectAAgent %>"

							<% if(!_.isNull(service.getId())){
								if(!_.isUndefined(service.getManager('id'))) { %>
								data-selected-value='<%= JSON.stringify(service.getManager('json')) %>'
							<% } } %>
						>
					</div>
				</div>

				<!-- Referent elected -->
				<div class="form-group">
					<label for="serviceElected" class="control-label col-sm-3"><%= _.capitalize(lang.elected) %>:</label>

					<div class="col-sm-9">
						<input id="serviceElected" class="select2" data-placeholder="<%= lang.actions.selectAnElected %>"

							<% if(!_.isNull(service.getId())){
								if(!_.isUndefined(service.getElectedMember('id'))) { %>
								data-selected-value='<%= JSON.stringify(service.getElectedMember('json')) %>'
							<% } } %>
						>
					</div>
				</div>

				</fieldset><!-- /Referent people -->

			</fieldset>


			<!-- Module settings -->
			<fieldset id="moduleSettings" class="tab-pane fade">


				<!-- Tabs -->
				<ul class="nav nav-tabs nav-justified">
					<li class="active <%= (hasModuleAchat ? '' : 'hide') %>">
						<a href="#" data-toggle="tab" data-target="#moduleBuying"><%= _.capitalize(lang.groupAchat) %></a>
					</li>
				</ul>

				<div class="tab-content"> <!-- Tab content -->


					<div id="moduleBuying" class="tab-pane fade in active <%= (hasModuleAchat ? '' : 'hide') %>"> <!-- Tab Module Buying -->

						<!-- Service buying threshold -->
						<div class="form-group">
							<label for="serviceBuyingTreshold" class="control-label col-sm-3"><%= _.capitalize(lang.buyingTreshold) %>:</label>

							<div class="col-sm-4">
								<div class="input-group">
									<input type="number" step="0.01" id="serviceBuyingTreshold" class="form-control">
		  							<span class="input-group-addon"><i class="fa fa-eur"></i></span>
								</div>
							</div>
						</div>


						<!-- Service buying threshold -->
						<div class="form-group">
							<label for="serviceBuyingValidateBy" class="control-label col-sm-3"><%= _.capitalize(lang.toValidateBy) %>:</label>

							<div class="col-sm-9">
								<div class="input-group">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= lang.and %>&nbsp; <span class="fa fa-caret-down"></span></button>
										<ul id="selectValidator" class="dropdown-menu">
											<li><a href="#"><%= lang.and %></a></li>
											<li><a href="#"><%= lang.or %></a></li>
											<li><a href="#"><%= lang.then %></a></li>
										</ul>
									</div><!-- /btn-group -->
									<input id="serviceBuyingValidateBy" type="text" class="form-control">
									</div><!-- /input-group -->
							</div>
						</div>

					</div><!-- /Tab Module Buying -->

				</div><!-- /Tab content -->

			</fieldset><!-- /Module settings -->

			</div><!-- /tab-content -->
		</form>
		<% } %>
	</div> <!-- /Modal Body -->


		<div class="modal-footer">
			<button type="submit" form="formSaveService" class="btn btn-primary"
				data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.saveInProgress %>"
				<%= (_.isUndefined(loader) ? '' : 'disabled') %>
			>
				<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;

			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>