<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				<i class="icon-edit"></i>&nbsp;
				<% if(_.isNull(cat.getId())){ %>
					<%= _.capitalize(lang.viewsTitles.newCat) %>
				<% } else{ %>
					<%= _.capitalize(lang.viewsTitles.editCat) %>
				<% } %>
			</h3>
		</div>


		<!-- Modal Body -->
		<div class="modal-body">
			<form id="formSaveCat" action="#" class="form-horizontal" role="form">

				
				<!-- Category name -->
				<div class="form-group">
					<label for="catName" class="control-label col-sm-3"><%= _.capitalize(lang.name) %>:</label>

					<div class="col-sm-9">
						<input type="text" id="catName" class="form-control" required value="<%= (_.isNull(cat.getId()) ? '' : cat.getName())%>" />
					</div>
				</div>

				<!-- Category code -->
				<div class="form-group">
					<label for="catCode" class="control-label col-sm-3"><%= _.capitalize(lang.code) %>:</label>

					<div class="col-sm-3">
						<input type="text" id="catCode" class="form-control" required value="<%= (_.isNull(cat.getId()) ? '' : cat.getCode())%>" />
					</div>
				</div>
				
				<!-- Category parent -->
				<div class="form-group">
					<label for="catParentCat" class="control-label col-sm-3"><%= _.capitalize(lang.parentCategory) %>:</label>
					<div class="col-sm-9">
						<input id="catParentCat" class="select2" data-placeholder="<%= lang.actions.selectACategory %>" 

							<% if(!_.isNull(cat.getId())){
								if(!_.isUndefined(cat.getParentCat('id'))) { %>
								data-selected-value='<%= JSON.stringify(cat.getParentCat('json')) %>'
							<% } } %>
						/>
					</div>
				</div>
				
				
				<!-- Category's Services  -->
				<div class="form-group">
					<label for="catServices" class="control-label col-sm-3"><%= _.capitalize(lang.associatedServices) %>:</label>
					<div class="col-sm-9">
						<input id="catServices" class="select2" data-placeholder="<%= lang.actions.selectServices %>" data-multiple="true" 

							<% if(!_.isNull(cat.getId())){
								if(!_.isEmpty(cat.getServices())) { %>
								data-selected-value='<%= JSON.stringify(cat.getServices('json')) %>'
							<% } } %>
						/>
					</div>
				</div>

			</form>
		</div>

		<div class="modal-footer">
			<button type="submit" form="formSaveCat" class="btn btn-primary"
				data-loading-text="<i class='icon-refresh icon-spin'></i>&nbsp; <%= lang.saveInProgress %>"
			>
				<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;
			
			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>