<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				<i class="icon-edit"></i>&nbsp;
				<% if(_.isNull(place.getId())){ %>
					<%= _.capitalize(lang.viewsTitles.newPlace) %>
				<% } else{ %>
					<%= _.capitalize(lang.viewsTitles.editPlace) %>
				<% } %>

				
				<% if(!_.isUndefined(loader)) { %>
					<span class="modal-loader progress progress-striped active">
						<span class="bar"></span>
					</span>
				<% } %>
			</h3>
		</div>

		
		<!-- Modal Body  -->
		<div class="modal-body">


			<% if(_.isUndefined(loader)) { %>
			<form id="formSavePlace" action="#" class="form-horizontal" role="form">


				<!-- Place name -->
				<div class="form-group">
					<label for="placeName" class="col-sm-3 control-label"><%= _.capitalize(lang.name) %>:</label>

					<div class="col-sm-9">
						<input type="text" id="placeName" class="form-control" required value="<%= (_.isNull(place.getId()) ? '' : place.getName())%>" />
					</div>
				</div>

				<!-- Place Type -->
				<div class="form-group">
					<label for="placeType" class="col-sm-3 control-label"><%= _.capitalize(lang.type) %>:</label>

					<div class="col-sm-9">
						<input id="placeType" class="select2" required data-placeholder="<%= lang.actions.selectAPlaceType %>"

							<% if(!_.isNull(place.getId())){
								if(!_.isUndefined(place.getType('id'))) { %>
								data-selected-value='<%= JSON.stringify(place.getType('json')) %>'
							<% } } %>
						/>
					</div>
				</div>

				<!-- Place Parent -->
				<div class="form-group">
					<label for="placeParentPlace" class="col-sm-3 control-label"><%= _.capitalize(lang.parentPlace) %>:</label>
					<div class="col-sm-9">
						<input id="placeParentPlace" class="select2" data-placeholder="<%= lang.actions.selectAPlace %>" data-minimum-input-length="2" 

							<% if(!_.isNull(place.getId())){
								if(!_.isUndefined(place.getParentPlace('id'))) { %>
								data-selected-value='<%= JSON.stringify(place.getParentPlace('json')) %>'
							<% } } %>
						/>
					</div>
				</div>

				<!-- Place Services -->
				<div class="form-group">
					<label for="placeServices" class="col-sm-3 control-label"><%= _.capitalize(lang.associatedServices) %>:</label>
					<div class="col-sm-9">
						<input id="placeServices" class="select2" data-placeholder="<%= lang.actions.selectServices %>" data-multiple="true" 

							<% if(!_.isNull(place.getId())){
								if(!_.isEmpty(place.getServices())) { %>
								data-selected-value='<%= JSON.stringify(place.getServices('json')) %>'
							<% } } %>
						/>
					</div>
				</div>


				<fieldset>
					<legend><%= _.capitalize(lang.property) %></legend>
					<div class="form-group">
						<div class="form-inline">
							
							<!-- Place width -->
							<div class="col-sm-4">
								<label for="placeWidth"><%= _.capitalize(lang.width) %>:</label>
								<input type="number" id="placeWidth" class="form-control" value="<%= (_.isNull(place.getId()) ? '' : place.getWidth()) %>" />
							</div>

							<!-- Place Lenght -->
							<div class="col-sm-4">
								<label for="placeLength"><%= _.capitalize(lang.length) %>:</label>
								<input type="number" id="placeLength" class="form-control" value="<%= (_.isNull(place.getId()) ? '' : place.getLength())%>" />
							</div>

							<!-- Place Area -->
							<div class="col-sm-4">
								<label for="placeArea"><%= _.capitalize(lang.area) %>:</label>
								<input type="number" id="placeArea" class="form-control" value="<%= (_.isNull(place.getId()) ? '' : place.getSurface())%>" />
							</div>

						</div>
					</div>
				</fieldset>

			</form>
			<% } %>
		</div>
		<!-- / Modal Body -->


		<div class="modal-footer">
			<button type="submit" form="formSavePlace" class="btn btn-primary" 
				data-loading-text="<i class='icon-refresh icon-spin'></i>&nbsp; <%= lang.saveInProgress %>"
				<%= (_.isUndefined(loader) ? '' : 'disabled') %>
			>
				<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;

			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>