<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3><i class="icon-check"></i>&nbsp;&nbsp;<%= lang.viewsTitles.validRequest %></h3>
</div>

<div class="modal-body">

	<blockquote class="spaceBottom">
		<p><%= request.getName() %></p>
		<small><strong><i class="icon-map-marker"></i>&nbsp;<%= _.capitalize(app.lang.place) %> : </strong></i>&nbsp;&nbsp; <%= request.getSite() %></small>
	</blockquote>


	<form id="formValidRequest" action="#" class="form-horizontal">


		<!-- Category Request -->
		<div class="control-group">
			<label for="requestCategory" class="control-label"><%= _.capitalize(lang.category) %>:</label>

			<div class="controls">
				<input id="requestCategory" class="select2" style="width: 66%" data-placeholder="<%= lang.actions.selectACategory %>" required />
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- Request Service -->
		<div class="control-group">
			<label for="requestService" class="control-label"><%= lang.serviceConcerned %>:</label>

			<div class="controls">
				<input id="requestService" class="select2" style="width: 66%" data-placeholder="<%= lang.actions.selectAService %>" required 
					data-selected-value='<%= JSON.stringify(request.getService('json')) %>'
				/>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- Intervention DeadLine -->
		<div class="control-group">
			<label class="control-label" for="requestDateDeadline"><%= _.capitalize(lang.dateDeadline) %>:</label>
			<div class="controls">
				<div class="input-append">
				<input 
					type="text" class="datepicker input-small"
					id="requestDateDeadline" 
					value="<%= moment().add('w', 1).format('L') %>" 
					placeholder="dd/mm/yyyy"
					required>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<span class="help-inline"></span>
			</div>
		</div>

		<!-- Request description -->
		<div class="control-group">
			<label for="requestDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>

			<div class="controls">
				<textarea id="requestDescription" rows="5" required><%= request.getDescription() %></textarea>
				<span class="help-inline"></span>
			</div>
		</div>


		<!-- Create Associated Task Link -->
		<div class="control-group">
			<div class="controls">
				<label class="checkbox noMarginBottom" for="createAssociatedTask"><input type="checkbox" id="createAssociatedTask"> <%= lang.actions.createAssociatedTask %></label>
			</div>
		</div>



		<!-- Create associate task -->
		<fieldset class="associated-task hide">
			<legend><%= lang.aboutTheTask %></legend>

			<!-- Task Estimated hour -->
			<div class="control-group">
				<label for="taskHour" class="control-label"><%= lang.estimatedHours %>:</label>
				<div class="controls">
					<div class="input-append bootstrap-timepicker" >							
						<input type="text" class="timepicker input-small" value="02:00" id='taskHour' required>
						<span class="add-on"><i class="icon-time"></i></span>
					</div>
				</div>
			</div>

			<!-- Task Category -->
			<div class="control-group">
				<label for="taskCategory" class="control-label"><%= _.capitalize(lang.category) %>:</label>

				<div class="controls">
					<input id="taskCategory" class="select2" style="width: 66%" data-placeholder="<%= lang.actions.selectACategory %>" required />
					<span class="help-inline"></span>
				</div>
			</div>

		</fieldset>

	</form>

</div>

<div class="modal-footer">
	<button type="submit" form="formValidRequest" class="btn btn-primary"
		data-loading-text="<i class='icon-refresh icon-spin'></i>&nbsp; <%= _.capitalize(lang.validInProgress) %>"
	>
	<%= _.capitalize(lang.actions.validate) %>
	</button>&nbsp;&nbsp;

	<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
</div>