<div class="modal-header">

<% if (request.id != null && request.id != 0 ) { %>
    <h1>
        <%= lang.viewsTitles.requestDetail %> n°<%= request.id %>

        <span class="label label-<%= app.Models.Request.status[request.state].color %> vertical-align-middle marginLeft">
            <%= app.Models.Request.status[request.state].translation %>
        </span>
    </h1><br />
    

    <!-- Display the Refusal Reason if the request is cancel or Information for the DST -->
    <% if(request.state == app.Models.Request.status.refused.key){ %>
    <div class="row-fluid">
        <div class="alert alert-error span6">
            <strong><%= _.capitalize(lang.refusalReason) %>:</strong> <%= request.refusal_reason %>
        </div>
    </div>
	<% } else if(request.state == app.Models.Request.status.confirm.key){ %>
    <div class="row-fluid">
        <div class="alert alert-warning span6">
            <strong><%= _.capitalize(lang.infoMessages.information) %>:</strong> <%= request.note %>
        </div>
    </div>
    <% } %>


<% } else { %>
    <h1><%= lang.viewsTitles.newRequest %></h1><br />
<% } %>

</div>

<div class="modal-body">

<form id="formRequest" action="#" class="form-horizontal container-fluid">
    
    <div class="row-fluid">
    
        <!-- About the claimer -->
        <fieldset class="span6">
            <legend><%= lang.aboutTheClaimer %></legend>
            
            <!-- Request Partner Type -->
            <div class="control-group">
                <label for="requestClaimerType" class="control-label"><%= _.capitalize(lang.type) %>:</label>

                <div class="controls">
					<input id="requestClaimerType" class="select2" style="width: 100%" 
						required data-placeholder="<%= lang.actions.selectAClaimerType %>"/>
                    <span class="help-inline"></span>
                </div>
            </div>

            <!-- Request Partner -->
            <div class="control-group" id="requestClaimerBlock">
                <label for="requestClaimer" class="control-label"><%= _.capitalize(lang.name) %>:</label>

                <div class="controls">
					<input id="requestClaimer" class="select2" style="width: 100%" 
						data-placeholder="<%= lang.actions.selectAClaimerType %>"/>
                    <span class="help-inline"></span>
                </div>
            </div>

            <!-- Request Contact Service -->
            <div class="control-group" id="requestContactServiceBlock">
                <label for="requestContactService" class="control-label" ><%= _.capitalize(lang.service) %>:</label>

                <div class="controls">
	                <input id="requestContactService" class="select2" style="width: 100%" 
						data-placeholder="<%= lang.actions.selectAClaimerType %>"/>
                    <span class="help-inline"></span>
                </div>
            </div>
            <br />


            <!-- Details about the claimer -->
            <fieldset>
                <legend><%= lang.claimerDetails %></legend>
                        
                <!-- Request Contact -->
                <div class="control-group">
                    <label for="requestContact" class="control-label"><%= _.capitalize(lang.contact) %>:</label>

                    <div class="controls">
                        <div id="requestContactSelectBlock">
	    	                <input id="requestContactSelect" class="select2" style="width: 100%" 
								data-placeholder="<%= lang.actions.selectAClaimerType %>"/>
                            <span class="help-inline"></span>
                        </div>

                        <div id="requestContactInputBlock">
                            <input type="text" id="requestContactInput" name="requestContact"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>

                <!-- Request Contact Phone -->
                <div class="control-group">
                    <label for="requestContactPhone" class="control-label"><%= _.capitalize(lang.phone) %>:</label>

                    <div class="controls">
                         <input type="tel" id="requestContactPhone" name="requestContactPhone" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Contact Email -->
                <div class="control-group">
                    <label for="requestContactEmail" class="control-label"><%= _.capitalize(lang.email) %>:</label>

                    <div class="controls">
                         <input type="email" id="requestContactEmail" name="requestContactEmail" />
                        <span class="help-inline"></span>
                    </div>
                </div>

            </fieldset>

        </fieldset>


        <!-- About the request -->
        <fieldset class="span6">

            <legend><%= lang.aboutTheRequest %></legend>

                <!-- Request Patrimoine -->
                <div class="control-group">
                    <label for="requestPlace" class="control-label"><%= _.capitalize(lang.placeOrEquipment) %>:</label>

                    <div class="controls">
						<div class="btn-group">
							<button class="btn dropdown-toggle" id="btnSelectPlaceEquipment" data-toggle="dropdown"><i class="icon-map-marker icon-fixed-width iconItem"></i>&nbsp; <span class="icon-caret-down"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#" class="linkSelectPlaceEquipment" data-item="place"><i class="icon-map-marker icon-fixed-width"></i> <%= lang.place %></a></li>
								<li><a href="#" class="linkSelectPlaceEquipment" data-item="equipment"><i class="icon-wrench icon-fixed-width"></i> <%= lang.equipment %></a></li>
							</ul>
						</div>
    					<input id="requestPlaceEquipment" class="select2" style="width: 70%" 
							required data-placeholder="<%= lang.actions.selectAPlaceShort %>"/>
                        <span class="help-inline"></span>                           
                    </div>
                </div>

	            <!-- Request Place (if Equipment) -->
	            <div class="control-group" id="requestPlaceIfEquipmentBlock">
	                <label for="requestPlaceIfEquipment" class="control-label"><%= _.capitalize(lang.location) %>:</label>
	
	                <div class="controls">
						<input id="requestPlaceIfEquipment" class="select2" style="width: 100%" 
							data-placeholder="<%= lang.actions.selectAPlace %>"/>
	                    <span class="help-inline"></span>
	                </div>
	            </div>

                <!-- Request Place precision -->
                <div class="control-group">
                    <label for="requestPlacePrecision" class="control-label"><%= _.capitalize(lang.informationOfTheSite) %>:</label>

                    <div class="controls">  
                         <textarea name="requestPlacePrecision" id="requestPlacePrecision" rows="2"><%= request && request.site_details!=false?request.site_details:'' %></textarea>
                        <span class="help-inline"></span>                           
                    </div>
                </div>

				
                <!-- Request Contact Service -->
                <div class="control-group">
                    <label for="requestDetailService" class="control-label"><%= lang.serviceConcerned %>:</label>

                    <div class="controls">
    					<input id="requestDetailService" class="select2" style="width: 100%" 
							required data-placeholder="<%= lang.actions.selectAService %>"/>
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <!-- Request Name -->
                <div class="control-group">
                    <label for="requestName" class="control-label"><%= _.capitalize(lang.label) %>:</label>

                    <div class="controls">
                        <input type="text" id="requestName" name="requestName" value="<%= request && request.name? request.name:'' %>" required="required" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Description -->
                <div class="control-group">
                    <label for="requestDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>

                    <div class="controls">
                        <textarea name="requestDescription" id="requestDescription" rows="5" required="required"><%= request && request.description? request.description:'' %></textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>
                

        </fieldset>
    
    </div>
</div>

<div class="modal-footer">

    <div class="form-actions">
        <button type="submit" class="btn btn-primary save"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
        <a href="#<%= app.routes.requestsInterventions.baseUrl %>" class="text-info"><%= lang.actions.cancel %></a>
    </div>
</div>
</form>
