<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				<i class="fa fa-edit"></i>&nbsp;
				<% if(_.isNull(place.getId())){ %>
				<%= _.capitalize(lang.viewsTitles.newPlace) %>
				<% } else{ %>
				<%= _.capitalize(lang.viewsTitles.editPlace) %>
				<% } %>


				<% if(!_.isUndefined(loader)) { %>
					<span class="modal-loader progress progress-striped active">
						<span class="bar"></span>
					</span>
				<% } %>
			</h3>
		</div>


		<!-- Modal Body  -->
		<div class="modal-body">

			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#" data-toggle="tab" data-target="#formSiteBase"><%=_.capitalize(lang.general)%></a></li>
				<li id="bookingTab"><a href="#" data-toggle="tab" data-target="#formSiteBookings"><%=_.capitalize(lang.bookings)%></a>
				</li>
			</ul>


			<% if(_.isUndefined(loader)) { %>
			<form id="formSavePlace" action="#" class="form-horizontal" role="form">
				<div class="tab-content">
					<fieldset id="formSiteBase" class="tab-pane fade in active">
						<!-- Place name -->
						<div class="form-group">
							<label for="placeName" class="col-sm-3 control-label"><%= _.capitalize(lang.name)
								%>:</label>

							<div class="col-sm-9">
								<input type="text" id="placeName" class="form-control" required
									   value="<%= (_.isNull(place.getId()) ? '' : place.getName())%>">
							</div>
						</div>

						<!-- Place Type -->
						<div class="form-group">
							<label for="placeType" class="col-sm-3 control-label"><%= _.capitalize(lang.type)
								%>:</label>

							<div class="col-sm-9">
								<input id="placeType" class="select2" required
									   data-placeholder="<%= lang.actions.selectAPlaceType %>"

								<% if(!_.isNull(place.getId())){
								if(!_.isUndefined(place.getType('id'))) { %>
								data-selected-value='<%= JSON.stringify(place.getType('json')) %>'
								<% } } %>
								>
							</div>
						</div>

						<!-- Place Parent -->
						<div class="form-group">
							<label for="placeParentPlace" class="col-sm-3 control-label"><%=
								_.capitalize(lang.parentPlace) %>:</label>

							<div class="col-sm-9">
								<input id="placeParentPlace" class="select2"
									   data-placeholder="<%= lang.actions.selectAPlace %>" data-minimum-input-length="2"

								<% if(!_.isNull(place.getId())){
								if(!_.isUndefined(place.getParentPlace('id'))) { %>
								data-selected-value='<%= JSON.stringify(place.getParentPlace('json')) %>'
								<% } } %>
								>
							</div>
						</div>

						<!-- Place Services -->
						<div class="form-group">
							<label for="placeServices" class="col-sm-3 control-label"><%=
								_.capitalize(lang.associatedServices) %>:</label>

							<div class="col-sm-9">
								<input id="placeServices" class="select2"
									   data-placeholder="<%= lang.actions.selectServices %>" data-multiple="true"

								<% if(!_.isNull(place.getId())){
								if(!_.isEmpty(place.getServices())) { %>
								data-selected-value='<%= JSON.stringify(place.getServices('json')) %>'
								<% } } %>
								>
							</div>
						</div>

						<fieldset>
							<legend><%= _.capitalize(lang.property) %></legend>
							<div class="form-group">

								<!-- Place width -->
								<div class="col-sm-4">
									<label for="placeWidth"><%= _.capitalize(lang.width) %>:</label>
									<input type="number" id="placeWidth" class="form-control"
										   value="<%= (_.isNull(place.getId()) ? '' : place.getWidth()) %>">
								</div>

								<!-- Place Lenght -->
								<div class="col-sm-4">
									<label for="placeLength"><%= _.capitalize(lang.length) %>:</label>
									<input type="number" id="placeLength" class="form-control"
										   value="<%= (_.isNull(place.getId()) ? '' : place.getLength())%>">
								</div>

								<!-- Place Area -->
								<div class="col-sm-4">
									<label for="placeArea"><%= _.capitalize(lang.area) %>:</label>
									<input type="number" id="placeArea" class="form-control"
										   value="<%= (_.isNull(place.getId()) ? '' : place.getSurface())%>">
								</div>

							</div>
						</fieldset>
					</fieldset>
					<fieldset id="formSiteBookings" class="tab-pane fade">

						<div class="form-group">
							<label for="displayColor" class="col-sm-3 control-label">
								<%= _.capitalize(lang.displayColor) %>
							</label>
							<div class="col-sm-9">
								<input type="color" class="form-control col-sm-9"  id="displayColor" value="<%=  place.get('color') %>">
							</div>
						</div>

						<!-- Place internal_booking (Departments) -->
						<div class="form-group">
							<label class="col-sm-3 control-label">
								<input type="checkbox" id="placeInternalBooking" <%= !_.isNull(place.getId()) &&
								place.getInternalBooking() ? 'checked' : ''%> value="1" class="checkbox-inline"><%=
								_.capitalize(lang.internal_booking) %>: </input>
							</label>

							<div class="col-sm-9">
								<input id="placeBookingServices" class="select2"
									   data-placeholder="<%= lang.actions.selectServices %>" data-multiple="true"

								<% if(!_.isNull(place.getId())){
								if(!_.isEmpty(place.getBookingServices())) { %>
								data-selected-value='<%= JSON.stringify(place.getBookingServices('json')) %>'
								<% } } %>
								/>
							</div>
						</div>


						<!-- Place external booking (Partners) -->
						<div class="form-group">
							<label class="col-sm-3 control-label">
								<input type="checkbox" id="placeExternalBooking" value="1" <%= !_.isNull(place.getId())
								&& place.getExternalBooking() ? 'checked' : ''%> class="checkbox-inline"><%=
								_.capitalize(lang.external_booking) %>:
							</label>

							<div class="col-sm-9">
								<input id="placeBookingClaimers" class="select2"
									   data-placeholder="<%= lang.actions.selectAClaimerType %>" data-multiple="true"

								<% if(!_.isNull(place.getId())){
								if(!_.isEmpty(place.getBookingClaimers())) { %>
								data-selected-value='<%= JSON.stringify(place.getBookingClaimers('json')) %>'
								<% } } %>
								>
							</div>
						</div>

						<div class="form-group">
							<label for="placeBlockingBookable" class="col-sm-3 control-label"><%= _.capitalize(lang.blocking_bookable) %>: </label>
							<div class="col-sm-9">
								<input type="checkbox" class="make-switch" id="placeBlockingBookable" data-on-label="<%= lang.yes %>" data-off-label="<%= lang.no %>" tabindex="0"
									<% if(!_.isNull(place.getId())){ if(place.get('block_booking',false)) { %> checked <% } } %>
								>
							</div>
						</div>

					</fieldset>
				</div>
			</form>
			<% } %>

		</div>
		<!-- / Modal Body -->


		<div class="modal-footer">
			<button type="submit" form="formSavePlace" class="btn btn-primary"
					data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.saveInProgress %>"
			<%= (_.isUndefined(loader) ? '' : 'disabled') %>
			>
			<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;

			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>