<div class="page-header">
	<h1><%= pageTitle %></h1>
</div>
<div class="row">
	<div class="col-sm-6">
	<% if(!_.isNull(booking.getId()) && (booking.hasActions('redraft') || booking.hasActions('redraft_unauthorized'))){ %>
		<span class="pull-right">
			<button type="submit" class="btn btn-primary" form="formSaveBooking" id="redraftFormBooking" 
			<% if(booking.hasActions('redraft_unauthorized')){ %> 
			disabled
			<% } %>
			><%= _.capitalize(lang.resa.actions.redraftBooking) %></button>&nbsp;
			<% if(booking.hasActions('redraft_unauthorized')){ %>
			<button type="button" class="btn btn-warning" data-toggle="tooltip" data-original-title="<%= lang.resa.infoMessages.redraftBookingUnauthorized%>"><i class="fa fa-info fa-lg"></i></button>
			<% } %>
		</span>
	<% } %>
	</div>
</div>

<form id="formSaveBooking" action="#" class="form-horizontal container"
	role="form">

	<div class="row">

		<!-- Left Panel -->
		<div class="col-sm-6">

			<fieldset <%= readonly ? 'disabled' : ''%>>
			<legend><span class="text-info">1</span> - <%= lang.aboutTheRequestClaimer %></legend>
	
				<!-- Citizen BS-switch -->
				<div class="form-group">
					<label for="bookingIsCitizen" class="control-label col-sm-3"><%= _.capitalize(lang.citizen) %>:</label>
			
					<div class="col-sm-9">
						<input type="checkbox" class="make-switch" id="bookingIsCitizen" data-on-label="<%= lang.yes %>" data-off-label="<%= lang.no %>" tabindex="0"
								<% if(!_.isNull(booking.getId())){ if(booking.fromCitizen()) { %> checked <% } } %>
							/>
					</div>
				</div>
				
				<!-- Booking Partner (claimer) -->
				<div class="form-group">
					<label for="bookingPartner" class="control-label col-sm-3"><%= _.capitalize(lang.claiment) %>:</label>
		
					<div class="col-sm-9">
						<input id="bookingPartner" class="select2" data-placeholder="<%= lang.actions.selectAClaimer %>"
						<%= readonly || !user.isResaManager() ? 'disabled' : ''%>/>
					</div>
				</div>
	
				<!-- Booking Contact (contact of claimer) -->
				<div class="form-group" id="blockBookingContact">
					<label for="bookingContact" class="control-label col-sm-3"><%= _.capitalize(lang.contact) %>:</label>
		
					<div class="col-sm-9">
						<input id="bookingContact" class="select2" data-placeholder="<%= lang.actions.selectAContact %>" 
						<%= readonly || !user.isResaManager()? 'disabled' : ''%>/>
					</div>
				</div>
	
				<!-- Citizen infos -->
				<div id="citizenInfos">
	
					<div class="form-group">
						<label for="bookingPeopleName" class="control-label col-sm-3"><%= _.capitalize(lang.name) %>:</label>
						<div class="col-sm-9">
							<input type="text" id="bookingPeopleName" name="peopleName" class="form-control" value="<%= booking.getCitizenName()%>"/>
						</div>	
					</div>
	
					<div class="form-group">
						<label for="bookingPeopleStreet" class="control-label col-sm-3"><%= _.capitalize(lang.resa.contactDetails) %>:</label>
							
						<div class="col-sm-9">
							<div class="input-group">
								<label class="input-group-addon"><%= _.capitalize(lang.street) %></label>
								<input type="text" id="bookingPeopleStreet" name="peopleStreet" class="form-control" value="<%= booking.getAttribute('people_street','')%>"/>
							</div>
						</div>
	
					</div>
	
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-3">
							<div class="input-group">
								<label for="bookingPeopleZip" class="input-group-addon"><%= _.capitalize(lang.zip) %></label>
								<input type="text" id="bookingPeopleZip" name="peopleZip" class="form-control" value="<%= booking.getAttribute('people_zip','')%>"/>
							</div>
						</div>
	
						<div class="col-sm-5">
							<div class="input-group">
								<label for="bookingPeopleCity" class="input-group-addon"><%= _.capitalize(lang.city) %></label>
								<input type="text" id="bookingPeopleCity" name="peopleCity" class="form-control" value="<%= booking.getAttribute('people_city','')%>"/>
							</div>
						</div>
					</div>
	
					<div class="form-group">
						<div class="col-sm-3 col-sm-offset-3">
							<div class="input-group">
								<label for="bookingPeoplePhone" class="input-group-addon"><%= _.capitalize(lang.phone) %></label>
								<input type="phone" id="bookingPeoplePhone" name="peoplePhone" class="form-control" value="<%= booking.getCitizenPhone()%>"/>
							</div>
						</div>
						
						<div class="col-sm-5">
						<div class="input-group">
								<label for="bookingPeopleMail" class="input-group-addon"><%= _.capitalize(lang.email) %></label>
								<input type="email" id="bookingPeopleMail" name="peopleMail" class="form-control" value="<%= booking.getAttribute('partner_mail','')%>"/>
							</div>
						</div>
					</div>
	
				</div>
			</fieldset>
			
			<fieldset <%= readonly ? 'disabled' : ''%>>
				<legend><span class="text-info">2</span> - <%= lang.resa.generalInfos%> </legend>
	
				<!-- booking name -->
				<div class="form-group">
					<label for="bookingName" class="control-label col-sm-3"><%= _.capitalize(lang.label) %>:</label>
					<div class="col-sm-9">
						<input type="text" id="bookingName" name="bookingName" class="form-control" required="required" value="<%= booking.getName()%>"/>
					</div>
				</div>
				
				<!-- booking note -->
				<div class="form-group">
					<label for="bookingNote" class="control-label col-sm-3"><%= _.capitalize(lang.note) %>:</label>
					<div class="col-sm-9">
						<textarea id="bookingNote" name="bookingNote" class="form-control"><%= booking.getAttribute('note','')%></textarea>
					</div>
				</div>
				
				<!-- whole_day flag -->
				<div class="form-group">
					<label for="bookingWholeDay" class="control-label col-sm-3"><%= _.capitalize(lang.resa.wholeDay) %>:</label>
			
					<div class="col-sm-9">
						<input type="checkbox" class="make-switch" id="bookingWholeDay" data-on-label="<%= lang.yes %>" data-off-label="<%= lang.no %>" tabindex="0"
								<% if(!_.isNull(booking.getId())){ if(booking.getAttribute('whole_day',false)) { %> checked <% } } %>
						/>
					</div>
				</div>
	
	
				<!-- booking checkin -->
				<div class="form-group">
					<label for="bookingCheckin" class="control-label col-sm-3"><%= _.capitalize(lang.dateStart) %>:</label>
	
					<div class="col-sm-9">
					<div class="row">
	
						<!-- checkin date -->
						<div class="col-sm-5">
						<div class="input-group">
							<input type="text" class="datepicker form-control" id="bookingCheckin" value="<%= startDate%>" placeholder="dd/mm/yyyy" required="required">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
						</div>
	
						<!-- checkin hour -->
						<div class="col-sm-4">
						<div id="blockBookingCheckinHour" class="input-group bootstrap-timepicker">
							<input type="text" class="timepicker-default form-control" id='bookingCheckinHour' value="<%= startHour%>" required="required">
							<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
						</div>
	
					</div>
					</div>
				</div>
				
				<!-- booking checkout -->
				<div class="form-group">
					<label for="bookingCheckout" class="control-label col-sm-3"><%= _.capitalize(lang.dateEnd) %>:</label>
	
					<div class="col-sm-9">
					<div class="row">
	
					<!-- checkout date -->
					<div class="col-sm-5">
						<div class="input-group">
							<input type="text" class="datepicker form-control" id="bookingCheckout" value="<%= endDate%>" placeholder="dd/mm/yyyy" required="required">
							<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						</div>
					</div>
	
					<!-- checkout hour -->
					<div class="col-sm-4">
						<div id="blockBookingCheckoutHour" class="input-group bootstrap-timepicker">
							<input type="text" class="timepicker-default form-control" id='bookingCheckoutHour' value="<%= endHour%>" required="required">
							<span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
						</div>
					</div>
	
					</div>
					</div>
				</div>
	
		</fieldset>

		<fieldset>
			<legend><span class="text-info">3</span> - <%= lang.resa.bookablesOrdered%></legend>
			
			<!-- Recap of BookingLines -->
			<table class="table table-striped table-condensed table-hover table-vertical-center">
				<thead>
					<tr>
						<th>#</th>
						<th><%= _.capitalize(lang.bookable) %></th>
						<th><%= _.capitalize(lang.quantity) %></th>
						<th><%= _.capitalize(lang.price) %></th>
						<th><%= _.capitalize(lang.availability) %></th>
						<th><%= _.capitalize(lang.action) %></th>
					</tr>
				</thead>
				<tbody id="bookingLines"></tbody>
			</table>

			<!-- Add a bookable -->
			<div class="form-group<%= readonly ? ' hide-soft' : ''%>">
				<label for="bookingAddBookable" class="control-label col-sm-3"><%= _.capitalize(lang.resa.actions.addABookable) %>:</label>
	
				<div class="col-sm-9">
					<input id="bookingAddBookable" class="select2" data-placeholder="<%= lang.actions.selectABookable %>"/>
				</div>
			</div>
		</fieldset>
		</div>
		<!-- /Left Panel -->
		<div class="col-sm-6">

			<!-- Récurrence -->
	
			<fieldset <%= readonly ? 'disabled' : ''%>>
				<legend><span class="text-info">4</span> - <%= lang.resa.recurrenceSetting%></legend>
				
				<div class="form-group">
					<label for="bookingAddRecurrence" class="control-label col-sm-3"><%= _.capitalize(lang.resa.recurrenteBooking) %>:</label>
			
					<div class="col-sm-9">
						<input type="checkbox" class="make-switch" id="bookingAddRecurrence" data-on-label="<%= lang.yes %>" data-off-label="<%= lang.no %>" tabindex="0"
								<% if(!_.isNull(booking.getId())){ if(booking.getRecurrence()) { %> checked <% } } %>
							/>
					</div>
				</div>
	
				<div id="recurrence"></div>
			</fieldset>
	
		</div>
	</div>

	<hr />

	<!-- Form Actions -->
	<div class="col-sm-12 well">
		<div class="text-center ">
			<% if(_.isNull(booking.getId()) || booking.hasActions('update')){ %>
				<button type="submit" class="btn btn-default" form="formSaveBooking" id="saveFormBooking"><%= _.capitalize(lang.resa.actions.saveBooking) %></button>&nbsp;
			<% }%>
			<% if(_.isNull(booking.getId()) || booking.hasActions('post')){ %>
				<button type="submit" class="btn btn-primary" form="formSaveBooking" id="postFormBooking"><%= _.capitalize(lang.resa.actions.postBooking) %></button>&nbsp;
			<% } %>
			<a href="#app-reservations/reservations" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>
	</div>

</form>
