<!-- Image-->
<td>
	<img src="data:image/gif;base64,<%= bookable.getProductImage()%>" style="max-height:50px;max-width:50px"/>
</td>

<!-- Booking Line name-->
<td>
	<%= bookable.getName()%>
</td>

<!-- Booking Line qty-->
<td>
	<input type="number" id="bookingLineQty" name="bookingLineQty" placeholder="" value="<%= line.getQuantity()%>" min="1" required="required"/>
</td>

<!-- Booking Line dispo-->
<td>
	<i class="<%= line.getAvailable() ? app.Models.BookingLine.status.dispo.icon: app.Models.BookingLine.status.not_dispo.icon%> icon-fixed-width" />
</td>

<!-- Booking Line pricing-->
<td>
	<input type="number" id="bookingLinePricing" name="bookingLinePricing" placeholder="" value="<%= line.getPricing()%>" min="0" required="required"/>
	<a href="#" class="removeLine" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">
		<i class="icon-trash icon-large">&nbsp;</i>
	</a>
</td>