<td class="text-center"><%= bookable.getType('logo') %></td>

<!-- Booking Line name-->
<td><%= bookable.getName()%></td>

<!-- Booking Line qty-->
<td><input type="number" id="bookingLineQty" name="bookingLineQty"
	class="form-control input-sm" placeholder=""

	value="<%= line.getQuantity()%>" min="1" required="required" <%= readonly ? 'disabled' : ''%>/></td>

<!-- Booking Line pricing-->
<td>
	<input type="number" id="bookingLinePricing" class="form-control input-sm" size="5" name="bookingLinePricing"
	placeholder="" value="<%= line.getPricing()%>" min="0" <%=
	pricingEnabled? '' : 'disabled'%>/></td>

<!-- Booking Line dispo-->
<td class="text-center">
	<i class="fa <%= line.getAvailable() ? linesStat.dispo.icon: linesStat.not_dispo.icon%>"></i>
</td>


<td class="text-center">
	<%if(!readonly){ %>
	<button type="button" class="removeLine close">&times;</button>
	<% }%>
</td>