<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= _.capitalize(lang.bookables) %></h3>
	</div>
  

	<div class="panel-body">

		<!-- Claimer Type -->
		<div class="panel-group <%= displayClaimersSelectBox %>">
			<div class="row panel-group-heading">
				<h4 class="col-sm-12"><i class="fa fa-user fa-lg fa-fw"></i> <%= _.capitalize(lang.claiments) %></h4>
			</div>
	    
	    	<div class="panel-group-body">
	    		<form class="form-inline" role="form">
		    		<input id="claimersOrganization" class="select2" data-placeholder="<%= lang.actions.selectAClaimer %>" required />
	    		</form>
	    	</div>
		</div>

		<hr  class="<%= displayClaimersSelectBox %>">

		<!-- Places -->
		<div class="panel-group">
			<div class="row panel-group-heading">
				<h4 class="col-xs-6 col-md-12 col-lg-7"><i class="fa fa-map-marker fa-lg fa-fw"></i> <%= _.capitalize(lang.places) %> 
					<span id="nbPlaces" class="badge"></span>
				</h4>


				<form class="form-inline col-xs-6 col-md-12 col-lg-5" role="form">
					<div class="form-group pull-right">
						<div class="input-group input-group-sm">

      						
      						<div class="input-group-btn">
        						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        							<i class="fa fa-bars"></i>
        						</button>
        						<ul class="dropdown-menu" id="actionsPlaceList">
									<li>
										<a href="#" data-action="select"><i class="fa fa-check-square-o fa-fw"></i> <%= lang.resa.actions.selectAll %></a>
									</li>
									<li>
										<a href="#" data-action="unselect"><i class="fa fa-square-o fa-fw"></i> <%= lang.resa.actions.unselectAll %></a>
									</li>
									<!--<li>
										<a href="#" data-action="toggle"><i class="fa fa-repeat fa-fw"></i> <%= lang.resa.actions.selectToggle %></a>
									</li>-->
						        </ul>
      						</div>


						<input type="search" id="placesSearch" data-search="bookablesPlaces" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off" />
						</div>
					</div>
				</form>
			</div>
		
			<div class="panel-group-body">
				<ul id="bookablesPlaces" class="nav nav-pills nav-stacked nav-stacked-6">

				<% _.each(selectablePlaces.models,function(place, i){ %>
						<li data-color="<%= place.getColor() %>" data-id="<%= place.getId() %>" data-name="<%= place.getName().toLowerCase() %>">
							<a href="#"><i class="icon-radio fa fa-circle-o fa-lg"></i><%= place.getId() %> - <%= place.getName() %></a>
						</li>
				<% }) %>

				</ul>
			</div>
		</div>

		<hr>

		<!-- Equipment -->
		<div class="panel-group">
			<div class="row panel-group-heading">
				<h4 class="col-xs-6 col-md-12 col-lg-7"><i class="fa fa-wrench fa-lg fa-fw"></i> <%= _.capitalize(lang.equipments) %>
					<span id="nbEquipments" class="badge"></span>
				</h4>

				<form class="form-inline col-xs-6 col-md-12 col-lg-5" role="form">
					<div class="form-group pull-right">
						<input type="search" id="equipmentsSearch" data-search="bookablesEquipments" class="form-control input-sm" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off" />
					</div>
				</form>
			</div>
		
			<div class="panel-group-body">
				<ul id="bookablesEquipments" class="nav nav-pills nav-stacked nav-stacked-4">

				<% _.each(selectableEquipments.models,function(equipment, i){ %>

					<li data-color="<%= equipment.getColor() %>" data-id="<%= equipment.getId() %>" data-name="<%= equipment.getName().toLowerCase() %>">
						<a href="#"><i class="icon-radio icon-radio fa fa-circle-o fa-lg"></i><%= equipment.getName() %>
							<span class="quantity-container text-muted pull-right">
								<span class="quantity" contenteditable="true">1</span>
								<i class="icon-quantity fa fa-shopping-cart fa-lg"></i>
							</span>
						</a>
					</li>

				<% }) %>

				</ul>
			</div>
		</div>


	</div>

</div>