<div class="page-header">
	<h1>
		<%= lang.resa.viewsTitles.bookingsList %>

		<%
			var classColor      = BookingModel.status.remplir.color;
			var filterValue     = BookingModel.status.remplir.key;
			var actionToProcess = lang.actions.process;

		%>

		<sup id="badge" class="badge badge-<%= classColor %> badge-action" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
			<%= nbBookings %>
		</sup>

	</h1>
</div>


<div id="toolbar-buttons" class="row centered"></div>
<!-- Table toolbar -->
<div id="headerList" class="tableToolbar row"></div>
<!-- Table toolbar -->


<!-- Message if No booking to Display -->
<% if(bookings.length <= 0) { %>
	<div class="tableToolbar">
		<div class="alert alert-info">
			<i class="fa fa-info-circle fa-lg"></i>&nbsp;<%= lang.resa.infoMessages.noBooking %>
		</div>
	</div>
<% } %>

<div id="filter-informations" class="tableToolbar hide">
	<div class="alert alert-info">
		<i class="fa fa-filter fa-fw pull-left"></i>
		<p id="filterContent" class="d-inline"><%= lang.activeFilter %>:</p>
		<button type="button" class="btn btn-link btn-xs pull-right unapply-filter"><i class="fa fa-eraser fa-fw"></i> <%= lang.actions.unapplyFilter %></button>
	</div>
</div>


<!-- Main view -->
<div class="row">

	<!-- Advance filter container -->
	<div id="advanceFilterContainer" class="hide content-sidebar content-sidebar-right">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title">
				<%= lang.advanceSearch %>
				<a href="#" class="pull-right unapply-filter">
					<i class="fa fa-eraser fa-fw text-muted" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.unapplyFilter) %>"></i>
				</a>
			</h4>
		</div>

		<div class="panel-body">
			<!-- Advance filter -->
			<div id="advanced-filters-bar"></div>
		</div>
	</div>
	</div>


	<div id="contentContainer" class="content-main">

		<!-- Table Bookings -->
		<div class="table-responsive">
		<table class="table-bookings table table-bordered table-hover table-sorter table-vertical-center">
			<thead>
				<tr>
					<th data-sort-column="id">N°</th>
					<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
					<th><%= _.capitalize(lang.resa.ressources) %></th>
					<th><%= _.capitalize(lang.resa.startBookingDate) %></th>
					<th><%= _.capitalize(lang.resa.endBookingDate) %></th>
					<th><%= _.capitalize(lang.resa.UserOrClaimer) %></th>
					<th><%= _.capitalize(lang.price) %></th>
					<th><%= _.capitalize(lang.resa.bookingDate) %></th>
					<th><%= _.capitalize(lang.status) %></th>
					<th class="actions"><%= _.capitalize(lang.action) %></th>
				</tr>
			</thead>

			<!-- Bookings rows -->
			<tbody id="booking-items"></tbody>

		</table>
		</div>

		<!-- Table pagination -->
		<div id="pagination" class="pull-right"></div>
		<!-- /Table pagination -->
	</div>

</div>
<!-- /Main view -->

<!-- Modal form to valid a request -->
<div id="modalUpdateBooking" class="modal fade" role="dialog" aria-hidden="true"></div>

<div id="modalUpdateBookingsList" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal Form Cancel Booking -->
<div id="modalCancelBooking" class="modal fade" role="dialog" aria-hidden="true"></div>