	<div class="page-header">
		<h1>
			<%= lang.viewsTitles.bookingsList %>
	
			<% 
				var classColor      = BookingModel.status.remplir.color;
				var filterValue     = BookingModel.status.remplir.key;
				var actionToProcess = lang.actions.process;
		
			%>
			
			<sup id="badgeActions" class="badge badge-<%= classColor %> badge-action" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
				<%= nbBookings %>
			</sup>
	
			
		</h1>
	</div>



	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-md-9 col-lg-5">
			<a href="#reservations" class="btn btn-primary modalCreateBooking"><i class="fa fa-plus"></i><%= lang.viewsTitles.newBooking %></a>
		</div>
		
		<form class="form-actions pull-center col-xs-5 col-md-3 col-lg-2">

		  <div class="input-group">
		  		<div class="col-lg-20">
		  			<button type="button" class="btn btn-info"> <i class="fa fa-step-backward"></i>
		  			</button>
			  		<button type="button" class="btn btn-success"><%= lang.viewsTitles.validAll %></button>
			  		<button type="button" class="btn btn-danger"><%= lang.viewsTitles.cancelAll %></button>		
		  		</div>  		
		  </div>
		</form>

		<form class="form-search pull-right col-xs-5 col-md-3 col-lg-2">

		  <div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="fa fa-search fa-lg"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- /Table toolbar -->



		<!-- Message if No booking to Display -->
	<% if(bookings.length <= 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-info">
				<i class="fa fa-info-circle fa-lg"></i>&nbsp;<%= lang.infoMessages.noBooking %>
			</div>
		</div>
	<% } %>



	<!-- Table Bookings -->
	<div class="table-responsive">
	<table class="table-bookings table table-bordered table-hover table-sorter">
		<thead>
			<tr>
				<th data-sort-column="id">N°</th>
				<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
				<th><%= _.capitalize(lang.ressources) %></th>
				<th><%= _.capitalize(lang.startBookingDate) %></th>
				<th><%= _.capitalize(lang.endBookingDate) %></th>
				<th><%= _.capitalize(lang.UserOrClaimer) %></th>
				<th><%= _.capitalize(lang.bookingDate) %></th>
				<th>
					<%= _.capitalize(lang.status) %>
					<div class="dropdown pull-right">
						<a id="filterStateBooking" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#"><i class="fa fa-filter fa-lg"></i></a>

						<ul id="filterStateBookingList" class="dropdown-menu" role="menu" aria-labelledby="filterStateRequest">
							<% _.each(bookingsState, function (state, i) { %>
								<li role="menuitem">
									<a tabindex="-1" href="#<%= state.key %>"> 
										<i class="badge badge-<%= state.color %>">&nbsp;</i>
										&nbsp; <%= _.capitalize(state.translation) %>
									</a>
								</li>
							<% }) %>
								<li class="divider" role="menuitem"></li>
								<li class="delete-filter disabled" role="menuitem"><a href="#delete-filter"><i class="fa fa-times"></i> <%= _.capitalize(lang.deleteFilter) %></a></li>
						</ul>
					</div>
				</th>

				
				<th><%= _.capitalize(lang.action) %></th>
				
			</tr>
		</thead>
		
		<tbody id="booking-items">
		<!-- Bookings rows -->
		
		</tbody>
	</table>
	</div>

	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->

	<!-- Modal form to valid a request -->
	<div id="modalValidBooking" class="modal fade" role="dialog" aria-hidden="true"></div>
	
	<div id="modalValidBookingsList" class="modal fade" role="dialog" aria-hidden="true"></div>