<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title"><i class="fa fa-trash-o"></i>&nbsp;<%= lang.resa.viewsTitles.deleteBooking %></h3>
		</div>

		<div class="modal-body">

			<blockquote id="infoModalDeleteBooking" class="spaceBottom">
				<p>Etes-vous sûr de vouloir supprimer <%= inter.name %> ?</p>
				<small><%= inter.description %></small>
			</blockquote>
			<form id="formDeleteBooking" action="#" class="form-horizontal" role="form">
				<% if(!isClaimer){%>
				<!-- send mail Y/N -->
				<div class="form-group">
					<label for="modelDeleteBookingSendMail" class="control-label col-sm-4"><%= _.capitalize(lang.resa.sendMailToClaimer)%>:</label>
					<div class="col-sm-8">
						<input type="checkbox" class="make-switch" id="modelDeleteBookingSendMail" data-on-text="<%= lang.yes %>" data-off-text="<%= lang.no %>" tabindex="0">
					</div>
				</div>
				<% }%>
				<!-- Note -->
				<div class="form-group">
					<label for="" class="control-label col-sm-4"><%= _.capitalize(lang.resa.viewsTitles.cancelBookingNote)%>:</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="modelDeleteBookingNote"
						<%= isClaimer ? 'required' : ''%>
						></textarea>
					</div>
				</div>
			</form>

		</div>

		<div class="modal-footer">
			<button type="submit" form="formDeleteBooking" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
			<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>