{
	"openerp" : {
		"database"  : "pontlabbe2"
	},

	"itemsPerPage"      : 20,
	"startWorkTime"     : 8.0,
	"endWorkTime"       : 18.0,
	"startLunchTime"    : 12.0,
	"endLunchTime"      : 14.0,

	"menus" :  {
		"openstc"           : "app-interventions",
		"openresa"          : "app-reservations",
		"openstcpatrimoine" : "app-patrimoines",
		"openbase"          : "configuration"
	},

	"medias": {
		"cityLogo"         : "medias/city_logo_sample.png",
		"cityWallpaper"    : "medias/city_wallpaper_sample.jpg"
	}
}