{
	"openerp" : {
		"database"  : "pontlabbe2"
	},
	"barakafrites": {
		"url" : "http://localhost"
	},

	"itemsPerPage"      : 20,
	"startWorkTime"     : 8.0,
	"endWorkTime"       : 18.0,
	"startLunchTime"    : 12.0,
	"endLunchTime"      : 14.0,

	"menus" :  {
		"openstc"  : "app-interventions",
		"openresa" : "app-reservations",
		"openbase" : "configuration"
	},

	"medias": {
		"cityLogo"         : "medias/city_logo.png",
		"cityWallpaper"    : "medias/city_wallpaper.jpg"
	}
}