<div class="page-header">
	<h1>
		<%= lang.achatsstocks.viewsTitles.budgetsList %>
		<sup id="badge" class="badge"><%= nbBudgets %></sup>
	</h1>
</div>



<div class="col-sm-12">
	<h1 class="text-center text-info">Année 2014</h1>
</ul>

</div>


<!-- Table toolbar -->
<div id="headerList" class="tableToolbar row"></div>
<!-- Table toolbar -->



<!-- Check if there is any Places to display -->
<% if(nbBudgets <= 0) { %>
	<!-- No budget to display -->
	<div class="alert alert-info">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.achatsstocks.infoMessages.noBudgets %>.
	</div>
<% } %>

<div id="filter-informations" class="tableToolbar hide">
	<div class="alert alert-info">
		<i class="fa fa-filter fa-fw pull-left"></i><p id="filterContent" class="d-inline"><%= lang.activeFilter %>:</p>
		<button type="button" class="btn btn-link btn-xs pull-right unapply-filter"><i class="fa fa-eraser fa-fw"></i> <%= lang.actions.unapplyFilter %></button>
	</div>
</div>


<!-- Main view -->
<div class="row">

	<!-- Advance filter container -->
	<div id="advanceFilterContainer" class="hide content-sidebar content-sidebar-right">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title">
				<%= lang.advanceSearch %>
				<a href="#" class="pull-right unapply-filter">
					<i class="fa fa-eraser fa-fw text-muted" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.unapplyFilter) %>"></i>
				</a>
			</h4>
		</div>

		<div class="panel-body">
			<!-- Advance filter -->
			<div id="advanced-filters-bar"></div>
		</div>
	</div>
	</div>


	<div id="contentContainer" class="content-main">

		<!-- Table Budgets -->
		<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped table-sorter table-vertical-align">
			<thead>
				<tr>
					<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
					<th data-sort-column="planned_amount"><%= lang.achatsstocks.plannedAmount %></th>
					<th data-sort-column="openstc_practical_amount"><%= lang.achatsstocks.spentAmount %></th>
					<th data-sort-column="service_id.name"><%= _.capitalize(lang.service) %></th>
					<th class="col-lg-3"><%= _.capitalize(lang.progressRate) %></th>
				</tr>
			</thead>
			<tbody id="rows-items">
			</tbody>

		</table>
		</div>
		<!-- /Table Budgets -->

		<!-- Table pagination -->
		<div id="pagination" class="pull-right"></div>
		<!-- /Table pagination -->

	</div>

</div>
<!-- /Main view -->