<div class="page-header">
	<h1>
		<%= lang.achatsstocks.viewsTitles.budgetsList %>
		<sup id="badge" class="badge"><%= nbBudgets %></sup>
	</h1>
</div>



<div class="col-sm-12">
	<h1 class="text-center text-info">Année 2014</h1>
</ul>

</div>


<!-- Table toolbar -->
<div id="headerList" class="tableToolbar row"></div>
<!-- Table toolbar -->



<!-- Check if there is any Places to display -->
<% if(nbBudgets <= 0) { %>
	<!-- No budget to display -->
	<div class="alert alert-info">
		<i class="fa fa-info-circle fa-lg"></i> &nbsp;<%= lang.infoMessages.noPlace %>.
	</div>
<% } %>

<div id="filter-informations" class="tableToolbar hide">
	<div class="alert alert-info">
		<i class="fa fa-filter fa-fw pull-left"></i><p id="filterContent" class="d-inline"><%= lang.activeFilter %>:</p>
		<button type="button" class="btn btn-link btn-xs pull-right unapply-filter"><i class="fa fa-eraser fa-fw"></i> <%= lang.actions.unapplyFilter %></button>
	</div>
</div>


<!-- Main view -->
<div class="row">

	<!-- Advance filter container -->
	<div id="advanceFilterContainer" class="hide content-sidebar content-sidebar-right">
	<div class="panel panel-default">

		<div class="panel-heading">
			<h4 class="panel-title">
				<%= lang.advanceSearch %>
				<a href="#" class="pull-right unapply-filter">
					<i class="fa fa-eraser fa-fw text-muted" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.unapplyFilter) %>"></i>
				</a>
			</h4>
		</div>

		<div class="panel-body">
			<!-- Advance filter -->
			<div id="advanced-filters-bar"></div>
		</div>
	</div>
	</div>


	<div id="contentContainer" class="content-main">

		<!-- Table Budgets -->
		<div class="table-responsive">
		<table class="table table-bordered table-hover table-striped table-sorter">
			<thead>
				<tr>
					<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
					<th data-sort-column="name"><%= lang.achatsstocks.plannedAmount %></th>
					<th data-sort-column="name"><%= lang.achatsstocks.spentAmount %></th>
					<th data-sort-column="name"><%= _.capitalize(lang.service) %></th>
					<th class="col-lg-3"><%= _.capitalize(lang.progressRate) %></th>
				</tr>
			</thead>
			<tbody id="rows-items">
				<tr>
					<td>Petit équipements</td>
					<td>15 000.00€</td>
					<td>9 000.00€</td>
					<td>Voirie</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 60%">8 000€</div>
							<div class="progress-bar progress-bar-success" style="width: 40%">7 000€</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Consommables</td>
					<td>3 280.55€</td>
					<td>80.55€</td>
					<td>Bâtiment</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 2.45%">80.55€</div>
							<div class="progress-bar progress-bar-warning" style="width: 25%">1 000€</div>
							<div class="progress-bar progress-bar-success" style="width: 72.55%">2 500€</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Maintenance</td>
					<td>7 820.25€</td>
					<td>0€</td>
					<td>Bâtiment</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-warning" style="width: 34%">1 876.8€</div>
							<div class="progress-bar progress-bar-success" style="width: 66%">5 943.45€</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Réparation</td>
					<td>7 820.25€</td>
					<td>0€</td>
					<td>Espace verts</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-success" style="width: 100%">7 820.25€</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Fourniture plomberie</td>
					<td>57 250.25€</td>
					<td>57 250.25€</td>
					<td>Propreté</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" style="width: 100%">57 250.55€</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<!-- /Table Places -->

		<!-- Table pagination -->
		<div id="pagination" class="pull-right"></div>
		<!-- /Table pagination -->

	</div>

</div>
<!-- /Main view -->