<td><%= booking.id %></td>
<td>
	<a 	href="#collapse_<%= booking.getId() %>"
		class="accordion-object"
		data-toggle="popover"
		data-html="true"
		data-original-title="<%= _.capitalize(lang.about) %>"
		data-delay="160"
		data-content="">
			<i class="fa fa-thumb-tack">&nbsp;&nbsp;</i><%= _.capitalize(_(booking.getName()).escapeHTML()) %>
	</a>
	<!-- Interventions action -->
	<p class="row-actions invisible">
		 &nbsp;<a href="#app-reservations/formReservation/id/<%= booking.getId()%>" class="updateBooking"><i class="fa fa-pencil fa-lg" data-original-title="<%= _.capitalize(lang.actions.modify) %>"></i></a>
		<!--  <a href="#reservations" class="printInter" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.print) %>" data-action="inter">
			<i class="icon-print icon-large" data-action="inter">&nbsp;</i>
		</a>
		-->
		<% if ( !_.isUndefined(booking.getRecurrence('id')) ) { %>
			<a href="#" class="displayOccurences" data-toggle="tooltip" data-original-title="Afficher les occurences" data-action="reccurent">
				<i class="fa fa-th-list fa-lg" data-action="reccurent">&nbsp;</i>
			</a>
		<% } %>

		<% if(booking.hasActions("cancel")) { %>
			 &nbsp;<a href="#" class="buttonCancelInter" data-toggle="modal"><i class="fa fa-ban fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>"></i></a> 
		<% } %>
	</p>
</td>
<td>
<span data-toggle="tooltip" data-original-title="<%= booking.getResourceQuantities() %>"> <%= booking.getResourceNames('string') %></span>
</td>
<td><%= booking.getStartDate('human') %></td>
<td><%= booking.getEndDate('human') %></td>
<td>
	<span 
		data-toggle="tooltip" 
		data-html="true" 
		data-original-title="<strong><%= booking.fromCitizen() ? lang.citizen : booking.getClaimerType() %></strong> <%= booking.getClaimerContact() %>">
			<%= booking.fromCitizen() ? booking.getCitizenName() : booking.getClaimer() %>
	</span>
</td>
<td>
<span data-toggle="tooltip" data-original-title="<%= booking.getCreateDate('fromNow') %>"> <%= booking.getCreateDate() %></span>
</td>
<!-- Check the state of the booking -->
<td>
	<span 
		class="label label-<%= BookingModel.status[booking.getState()].color %>" 
		data-toggle="tooltip"
		data-original-title="<%= booking.getInformations() %>">
		<%= BookingModel.status[booking.getState()].translation %>
	</span>
</td>
<td>
	<!-- Check if the user can make action on the request -->
	<% if(!_.isEmpty(booking.getActions())){ 
		var actions = booking.getActions();
	%>
		<!-- Create the buttons group action -->
		<div class="btn-group btn-group-sm">
	
			<!-- Check if the booking is not in waiting state -->
			<%
	
				var mainAction = '';
				var mainActionColor = '';
				var mainActionIcon = '';
				var mainActionDisabled = '';
		
				switch(booking.getState()){
					case 'remplir':
						actions = _.without(actions, BookingModel.actions.confirm.key);
						console.debug("remplir");	
						if(booking.isAllDispo()) {
							mainAction = BookingModel.actions.confirm.key;
							mainActionColor = BookingModel.actions.confirm.color;
							mainActionIcon = BookingModel.actions.confirm.icon;
							mainActionDisabled = '';
						}
						else {
							mainAction = BookingModel.actions.resolve_conflict.key;
							mainActionColor = BookingModel.actions.resolve_conflict.color;
							mainActionIcon = BookingModel.actions.resolve_conflict.icon;
							mainActionDisabled = '';
						}
					break;
					case 'cancel':	
							actions = _.without(actions, BookingModel.actions.cancel.key);
							console.debug("cancel");	
							mainAction = BookingModel.actions.cancel.key;
							mainActionColor = BookingModel.actions.cancel.color;
							mainActionIcon = BookingModel.actions.cancel.icon;
							mainActionDisabled = '';
					break;
					case 'confirm':	
							mainAction = BookingModel.actions.done.key;
							mainActionColor = BookingModel.actions.done.color;
							mainActionIcon = BookingModel.actions.done.icon;
							mainActionDisabled = '';
					break;
					
					default:
							mainAction = BookingModel.actions.confirm.key;
							mainActionColor = BookingModel.actions.confirm.color;
							mainActionIcon = BookingModel.actions.confirm.icon;
							mainActionDisabled = '';
				}

			%>
			<!-- Main action button -->
			<button class="actions btn btn-<%= mainActionColor %> <%= mainActionDisabled %> no-outline" id="<%= mainAction %>">
				<i class="fa <%= mainActionIcon %> fa-fw <%= _.capitalize(mainAction) %>"></i>
			</button>
			
			<!-- Dropdown button action -->
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-caret-down"></span>
			</button>
			
			<!-- Other buttons action -->
			<ul class="dropdown-menu pull-right text-left">
				<% _.each(actions, function(action){ %>
					<li >
						<a href="#reservations" class="actions" id="<%= BookingModel.actions[action].key %>">
							<i class="fa <%= BookingModel.actions[action].icon %> fa-fw"></i>&nbsp;<%= _.capitalize(BookingModel.actions[action].translation) %>
						</a>
					</li>
				<% }); %>
			</ul>
		</div>
	<% } %>
</td>
