<td><%= booking.id %></td>

<td>
	<% if ( booking.getRecurrence('id') ) { %>
	<a href="#" class="displayOccurences" data-toggle="tooltip" data-original-title="Afficher les occurences" data-action="reccurent"><i class="fa fa-repeat" data-action="reccurent"></i></a>&nbsp;
	<% } %>

	<!--<a href="#app-reservations/nouvelle-reservation/id/<%= booking.getId()%>" class="updateBooking">-->
		<%= _.capitalize(_(booking.getName()).escapeHTML()) %>
	<!--</a>-->

	
	<!-- Interventions action -->
	<p class="row-actions invisible">

		<% if(booking.getState() == BookingModel.status.remplir.key) { %>
		&nbsp;<a href="#" class="buttonCancelBooking " data-toggle="modal"><i class="fa fa-ban fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>"></i></a> 
		<% } %>

        <% if (booking.get('invoice_attachment_id') != 0) { %>
        &nbsp;<a target="_blank" href="/api/open_object/portable_documents/<%= booking.get('invoice_attachment_id') %>?token=<%= downloadToken %>" class="buttonDownload"><i class="fa fa-download fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.resa.actions.downloadInvoice) %>"></i></a>
        <% } %>
	</p>
</td>

<td>
	<span data-toggle="popover" data-content="<%=booking.getResourceQuantitiesHtml()%>" data-html="true" data-placement="left">
		<%= booking.getResourceNames('string') %>
	</span>
</td>

<td><%= booking.getStartDate('human') %></td>

<td><%= booking.getEndDate('human') %></td>

<td>
	<span 
		data-toggle="tooltip" 
		data-html="true" 
		data-original-title="<strong><%= booking.fromCitizen() ? lang.citizen : booking.getClaimerType() %></strong> <%= booking.getClaimerContact() %>">
			<%= booking.fromCitizen() ? booking.getCitizenName() : booking.getClaimer() %>
	</span>
</td>

<td>
	<span data-toggle="tooltip" data-original-title="<%= booking.getCreateDate('fromNow') %>"> <%= booking.getCreateDate('human') %></span>
</td>

<!-- Check the state of the booking -->
<td>
	<span 
		class="label label-<%= BookingModel.status[booking.getState()].color %>" 
		data-toggle="popover"
		data-html="true" data-placement="left"
		data-original-title="<%= lang.by +' '+ booking.getWriteAuthor() %>"
		data-content="<%= booking.getStateInformationsHtml() %>">
		<%= BookingModel.status[booking.getState()].translation %>
	</span>
</td>

<td class="text-center">
	<!-- Check if the user can make action on the request -->
	<% if(!_.isEmpty(booking.getActions())){ 
		var actions = booking.getActions();
	%>
		<!-- Create the buttons group action -->
		<div class="btn-group btn-group-sm">
	
			<!-- Check if the booking is not in waiting state -->
			<%
	
				var mainAction = '';
				var mainActionColor = '';
				var mainActionIcon = '';
				var mainActionDisabled = '';
		
				switch(booking.getState()){
					case 'remplir':						
						if(booking.isAllDispo()) {
							actions = _.without(actions, BookingModel.actions.confirm.key);
							mainAction = BookingModel.actions.confirm.key;
							mainActionColor = BookingModel.actions.confirm.color;
							mainActionIcon = BookingModel.actions.confirm.icon;
							mainActionDisabled = '';
						}
						else {
							actions = _.without(actions, BookingModel.actions.cancel.key);
							mainAction = BookingModel.actions.cancel.key;
							mainActionColor = BookingModel.actions.cancel.color;
							mainActionIcon = BookingModel.actions.cancel.icon;
							mainActionDisabled = '';
							/* mainAction = BookingModel.actions.resolve_conflict.key;
							mainActionColor = BookingModel.actions.resolve_conflict.color;
							mainActionIcon = BookingModel.actions.resolve_conflict.icon;
							mainActionDisabled = '';
							*/
						}
					break;
					case 'cancel':	
							actions = _.without(actions, BookingModel.actions.cancel.key);
							console.debug("cancel");	
							mainAction = BookingModel.actions.cancel.key;
							mainActionColor = BookingModel.actions.cancel.color;
							mainActionIcon = BookingModel.actions.cancel.icon;
							mainActionDisabled = '';
					break;
					case 'confirm':
							actions = _.without(actions, BookingModel.actions.done.key);
							mainAction = BookingModel.actions.done.key;
							mainActionColor = BookingModel.actions.done.color;
							mainActionIcon = BookingModel.actions.done.icon;
							mainActionDisabled = '';
					break;
					
					default:
							mainAction = BookingModel.actions.confirm.key;
							mainActionColor = BookingModel.actions.confirm.color;
							mainActionIcon = BookingModel.actions.confirm.icon;
							mainActionDisabled = '';
				}

			%>
			<!-- Main action button -->
			<button class="actions btn btn-<%= mainActionColor %> <%= mainActionDisabled %> no-outline" data-action="<%= mainAction %>">
				<i class="fa <%= mainActionIcon %> fa-fw fa-lg <%= _.capitalize(mainAction) %>" data-action="<%= mainAction %>"></i>
			</button>


			<!-- Dropdown button action -->
			<% if( _.size(actions)>0 ) { %>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="fa fa-caret-down"></span>
				</button>
			<% } %>
			
			<!-- Other buttons action -->
			<ul class="dropdown-menu pull-right text-left">
				<% _.each(actions, function(action){ %>
					<li>
						<a href="#reservations" class="actions" data-action="<%= BookingModel.actions[action].key %>">
							<i class="fa <%= BookingModel.actions[action].icon %> fa-fw" data-action="<%= BookingModel.actions[action].key %>"></i>&nbsp;<%= _.capitalize(BookingModel.actions[action].translation) %>
						</a>
					</li>
				<% }); %>
			</ul>

		</div>
	<% } %>
</td>
