<!-- Task List -->
<td colspan="9" class="nestedTD">

	<!-- Check if there is some tasks -->
	<table class="table-nested-objects table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th data-sort-column="id">N°</th>
				<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
				<th><%= _.capitalize(lang.ressources) %></th>
				<th><%= _.capitalize(lang.startBookingDate) %></th>
				<th><%= _.capitalize(lang.endBookingDate) %></th>
				<th><%= _.capitalize(lang.UserOrClaimer) %></th>
				<th><%= _.capitalize(lang.bookingDate) %></th>
				<th><%= _.capitalize(lang.status) %></th>
			</tr>
		</thead>
		<tbody id="row-nested-objects">
		</tbody>
	</table>
</td>