<% var actions = booking.getActions();%>
<td><%= booking.id %></td>

<td>
	<% if ( booking.getRecurrence('id')) {%>
	<a href="#" class="displayOccurences" data-toggle="tooltip" data-original-title="Afficher les occurences" data-action="reccurent"><i class="fa fa-repeat" data-action="reccurent"></i></a>&nbsp;
	<% } %>

	<% if ( booking.hasActions('update')) {
	actions = _.without(actions, 'update') }%>
	<a href="#app-reservations/nouvelle-reservation/id/<%=booking.getId()%>" class="updateBooking">
		<%= _.capitalize(_(booking.getName()).escapeHTML()) %>
	</a>
	
	<!-- Interventions action -->
	<p class="row-actions invisible">

		<% if(booking.hasActions('delete')) { 
		actions = _.without(actions, 'delete');%>
		&nbsp;<a href="#" class="buttonCancelBooking " data-toggle="modal"><i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i></a> 
		<% } %>

		<% if(booking.hasActions('cancel')) {
		actions = _.without(actions, 'cancel'); 
		var action = BookingModel.actions.cancel;%>
		&nbsp;<a href="#" class="actions" data-action="<%= action.key%>" data-toggle="modal"><i data-action="<%=action.key%>" class="actions fa <%= action.icon%> fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(action.translation) %>"></i></a> 
		<% } %>

        <% if (booking.get('invoice_attachment_id') != 0) { %>
        &nbsp;<a target="_blank" href="/api/open_object/portable_documents/<%= booking.get('invoice_attachment_id') %>?token=<%= downloadToken %>" class="buttonDownload"><i class="fa fa-download fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.resa.actions.downloadInvoice) %>"></i></a>
        <% } %>
	</p>
</td>

<td>
	<span data-toggle="popover" data-content="<%=booking.getResourceQuantitiesHtml()%>" data-html="true" data-placement="left">
		<%= booking.getResourceNames('string') %>
	</span>
</td>

<td><%= booking.getStartDate('human') %></td>

<td><%= booking.getEndDate('human') %></td>

<td>
	<% if(booking.fromCitizen()){
		var tooltip = '<strong>'+lang.citizen+'</strong>' +'<br />'+ booking.getCitizenPhone();
	}
	else{
		var tooltip = '<strong>'+booking.getClaimerType()+'</strong>' +' '+ booking.getClaimerContact();
	} %>


	<% if(!_.isEmpty(booking.getClaimerMail())){ %>
		<a 	href="mailto:<%= booking.getClaimerMail() %>"
			data-toggle="tooltip" 
			data-html="true" 
			data-original-title="<%= tooltip %>">
			<%= booking.fromCitizen() ? booking.getCitizenName() : booking.getClaimer() %>
		<a>
	<% } else{ %>
		<span
			data-toggle="tooltip" 
			data-html="true" 
			data-original-title="<%= tooltip %>">
			<%= booking.fromCitizen() ? booking.getCitizenName() : booking.getClaimer() %>
		<span>
	<% } %>
</td>
<!-- Amount of booking -->
<td>
	<%= booking.getAttribute('amount_total',0.00).toString() + " " + lang.currencySymbol%>
</td>
<td>
	<span data-toggle="tooltip" data-original-title="<%= booking.getCreateDate('fromNow') %>"> <%= booking.getCreateDate('human') %></span>
</td>

<!-- Check the state of the booking -->
<td>
	<span 
		class="label label-<%= BookingModel.status[booking.getState()].color %>" 
		data-toggle="popover"
		data-html="true" data-placement="left"
		data-original-title="<%= lang.by +' '+ booking.getWriteAuthor() %>"
		data-content="<%= booking.getStateInformationsHtml() %>">
		<%= BookingModel.status[booking.getState()].translation %>
	</span>
</td>

<td class="text-center">
	<!-- Check if the user can make action on the request -->
	<% if(!_.isEmpty(actions)){ 
		
	%>
		<!-- Create the buttons group action -->
		<div class="btn-group btn-group-sm">
	
			<!-- Check if the booking is not in waiting state -->
			<%
	
				var mainAction = '';
				var mainActionColor = '';
				var mainActionIcon = '';
				var mainActionDisabled = '';
		
				switch(booking.getState()){
					case 'remplir':						
						if(booking.isAllDispo()) {
							mainAction = BookingModel.actions.confirm;

						}
						else {
							mainAction = BookingModel.actions.refuse;
							/* mainAction = BookingModel.actions.resolve_conflict;*/
						}
					break;
					case 'cancel':	
							mainAction = BookingModel.actions.cancel;

					break;
					case 'confirm':
							mainAction = BookingModel.actions.done;
					break;
					
					default:
							mainAction = BookingModel.actions.confirm;
				}
				actions = _.without(actions, mainAction.key);

			%>
			<!-- Main action button -->
			<button class="actions btn btn-<%= mainAction.color %> <%= mainActionDisabled %> no-outline" data-action="<%= mainAction.key %>">
				<i class="fa <%= mainAction.icon %> fa-fw fa-lg <%= _.capitalize(mainAction.key) %>" data-action="<%= mainAction.key %>"></i>
			</button>


			<!-- Dropdown button action -->
			<% if( _.size(actions)>0 ) { %>
				<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="fa fa-caret-down"></span>
				</button>
			<% } %>
			
			<!-- Other buttons action -->
			<ul class="dropdown-menu pull-right text-left">
				<% _.each(BookingModel.actions, function(action,action_key){ 
					if(_.contains(actions,action_key)){%>
					<li>
						<a href="#reservations" class="actions" data-action="<%= action.key %>">
							<i class="fa <%= action.icon %> fa-fw" data-action="<%= action.key %>"></i>&nbsp;<%= _.capitalize(action.translation) %>
						</a>
					</li>
				<% 		}
				}); %>
			</ul>

		</div>
	<% } %>
</td>
