<!-- Task List -->
<td colspan="9" class="nestedTD">

	<!-- Check if there is some tasks -->
	<table class="table-nested-objects table table-striped table-condensed table-hover">
		<thead>
			<tr>
				<th data-sort-column="id">N°</th>
				<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
				<th>Ressources</th>
				<th>Début résa</th>
				<th>Fin résa</th>
				<th>Utilisateur / demandeur</th>
				<th>Date demande</th>
				<th><%= _.capitalize(lang.status) %></th>
			</tr>
		</thead>
		<tbody id="row-nested-objects">
		</tbody>
	</table>
</td>