<div class="modal-dialog">
	<div class="modal-content">


		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">
				<%= _.capitalize(lang.viewsTitles.taskOcurrences) %> : <%= recurrence.getAttribute('name','') %>
			</h3>
		</div>


		<!-- Modal Body -->
		<div class="modal-body row">
			<div class="table-responsive col-sm-10 col-sm-offset-1">
				<table class="table table-bordered table-hover table-striped table-sorter">
					<thead>
						<tr>
							<th><%= _.capitalize(lang.date_deadline) %></th>
							<th><%= _.capitalize(lang.agentOrTeam) %></th>
							<th><%= _.capitalize(lang.state) %></th>
						</tr>
					</thead>
					<tbody class="tasks-items">
				
					</tbody>
				</table>
			</div>
			
		</div>
		<!-- / Modal Body -->

	</div>
</div>