<div class="modal-dialog">
	<div class="modal-content">


		<div class="modal-header">
			<div class="btn-group btn-group-xs pull-right">
				<a type="button" class="btn text-info hidden-xs" title="<%= lang.zenMode %>" data-action="zenmode"><i class="fa fa-arrows-alt"></i></a>
				<a type="button" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i></a>
			</div>
			<h4 class="modal-title">
				<%= _.capitalize(lang.viewsTitles.taskOcurrences) %> : <%= recurrence.getAttribute('name','') %>
			</h4>
		</div>


		<!-- Modal Body -->
		<div class="modal-body row">
			<div class="table-responsive col-sm-10 col-sm-offset-1">
				<table class="table table-bordered table-hover table-striped table-sorter">
					<thead>
						<tr>
							<th><%= _.capitalize(lang.date_deadline) %></th>
							<th><%= _.capitalize(lang.agentOrTeam) %></th>
							<th><%= _.capitalize(lang.state) %></th>
						</tr>
					</thead>
					<tbody class="tasks-items">

					</tbody>
				</table>
			</div>

		</div>
		<!-- / Modal Body -->

	</div>
</div>