<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
			<div class="btn-group btn-group-xs pull-right">
				<a type="button" class="btn text-info hidden-xs" title="<%= lang.zenMode %>" data-action="zenmode"><i class="fa fa-arrows-alt"></i></a>
				<a type="button" class="btn close" data-dismiss="modal"><i class="fa fa-times"></i></a>
			</div>
			<h4 class="modal-title"><i class="fa fa-ban"></i>&nbsp;<%= lang.viewsTitles.cancelIntervention %></h4>
		</div>

		<div class="modal-body">

			<blockquote id="infoModalCancelInter" class="spaceBottom">
				<p><%= inter.name %></p>
				<small><%= inter.description %></small>
			</blockquote>

			<% if(_.has(inter, 'contract_id') && inter.contract_id !== false){ %>
				<hr>
				<p class="text-center"><strong>
				<i class="fa fa-warning text-danger"></i>&nbsp;
				<%= lang.infoMessages.confirmCancelContractOfInter %></strong></p>
				<hr>
			<% } %>

			<form id="formCancelInter" action="#" class="form-horizontal" role="form">

				<!-- Request refuse motif -->
				<div class="form-group">
					<label for="motifCancel" class="control-label col-sm-3"><%= _.capitalize(lang.reason) %>:</label>

					<div class="col-sm-9">
						<textarea id="motifCancel" class="form-control" rows="5" required></textarea>
					</div>
				</div>
			</form>
		</div>

		<div class="modal-footer">
			<button type="submit" form="formCancelInter" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
			<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>