<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1><i class="fa fa-truck fa-lg"></i> OpenSTC <sup class="badge badge-info">v <%= app.properties.version %></sup></h1>
		<p>Lorem ipsum deserunt sint cupidatat in ex ad Ut laboris consequat ut ullamco culpa ut et velit. Lorem ipsum laborum mollit qui dolore nostrud dolore pariatur exercitation aliquip. Lorem ipsum cupidatat dolore enim sit sunt dolore ea magna in eu Duis amet consequat sed mollit eu laboris dolor. </p>
	</div>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="col-sm-4">
		<h2 class="text-info"><i class="fa fa-rocket"></i>&nbsp;Rapide</h2>
		<p>Lorem ipsum labore aute laboris irure dolor fugiat nisi fugiat dolore ut voluptate aliqua. Lorem ipsum ea officia Excepteur elit pariatur sed velit anim nostrud reprehenderit ut. Lorem ipsum sed dolore tempor dolore fugiat nostrud Duis commodo amet nulla anim dolor veniam ut sit consectetur. </p>
	</div>

	<div class="col-sm-4">
		<h2 class="text-info"><i class="fa fa-thumbs-o-up"></i>&nbsp;Simple</h2>
		<p>Lorem ipsum consequat officia Ut laborum anim cupidatat et veniam Duis et anim sint nulla dolore irure. Lorem ipsum anim exercitation id minim ut non eiusmod sint ut culpa et adipisicing incididunt minim sunt in irure proident commodo pariatur mollit cillum do dolore in aliquip proident consectetur laborum aute nisi fugiat nostrud minim. </p>
	</div>

	<div class="col-sm-4">
		<h2 class="text-info"><i class="fa fa-shield"></i>&nbsp;Sécurisé</h2>
		<p>Lorem ipsum incididunt laboris do anim esse labore ut ad. commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	</div>
</div>

<div class="row">

	<div class="col-sm-6">
		<h2 class="text-info"><i class="fa fa-puzzle-piece"></i>&nbsp;Modulaire</h2>
		<p>Lorem ipsum incididunt laboris do anim esse labore ut ad. commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	</div>

	<div class="col-sm-6">
		<h2 class="text-info"><i class="fa fa-star"></i>&nbsp;Multiplateforme</h2>
		<ul class="list-unstyled">
			<li><i class="fa fa-windows"></i>&nbsp;Windows</li>
			<li><i class="fa fa-android"></i>&nbsp;Android</li>
			<li><i class="fa fa-apple"></i>&nbsp;Apple</li>
			<li><i class="fa fa-linux"></i>&nbsp;Linux</li>

		</ul>
	</div>
</div>
