<div class="page-header">
	<h1>
		<%= lang.viewsTitles.absentTypesList %>
		<sup class="badge"><%= nbAbsentTypes %></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Categorie in the Database -->
	<% if(absentTypes.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSaveAbsentType" class="btn btn-primary modalSaveAbsentType" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addAbsentType) %></a>	

			<!--<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>-->
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.code) %></th>	
					<th><%= _.capitalize(lang.description) %></th>					
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++){  
				var absentType = absentTypes[i].toJSON() %>
				
				<!-- Categorie row -->
				<tr class="row-item" id="absentType_<%= absentType.id %>">
					<td><i class="icon-tag"></i> <%= absentType.name %>
						<p class="row-actions no-margin invisible">
							<a href="#modalSaveAbsentType" class="modalSaveAbsentType" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> 
							<a href="#modalDeleteAbsentType" class="modalDeleteAbsentType" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</p>
					</td>
					<td><%= (absentType.code != false ? absentType.code : "")%></td>
					<td><%= (absentType.description != false ? absentType.description : "")%></td>
				</tr>

			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#<%= app.routes.absentTypes.baseUrl %>/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#<%= app.routes.absentTypes.baseUrl %>/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#<%= app.routes.absentTypes.baseUrl %>/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#<%= app.routes.absentTypes.baseUrl %>/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#<%= app.routes.absentTypes.baseUrl %>/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSaveAbsentType" class="btn btn-primary modalSaveAbsentType" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addAbsentType) %></a>
		</div><br />

		<!-- No request to display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noAbsentType %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Categorie -->
<div id="modalSaveAbsentType" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addAbsentType) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formSaveAbsentType" action="#" class="form-horizontal">

			
			<!-- Absent Type name -->
			<div class="control-group">
				<label for="absentTypeName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="absentTypeName" name="absentTypeName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Absent Type code -->
			<div class="control-group">
				<label for="absentTypeCode" class="control-label"><%= _.capitalize(lang.code) %>:</label>

				<div class="controls">
					<input type="text" id="absentTypeCode" name="absentTypeCode" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>
			
			<!-- Absent Type Description -->
			<div class="control-group">
				<label for="absentTypeDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>

				<div class="controls">
				 	<textarea name="absentTypeDescription" id="absentTypeDescription" rows="2"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveAbsentType" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#absentTypes" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Categorie -->
<div id="modalDeleteAbsentType" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= lang.viewsTitles.deleteAbsentType %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteAbsentType" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p>Etes-vous sûr de vouloir supprimer ce type d'absence?</p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteAbsentType"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>