<div class="page-header">
	<h1>
		Suivi des réservations
		<sup id="bagdeCpt" class="badge"><%= nbBookings %></sup>
	</h1>
</div>



	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-md-9 col-lg-10">
			<a href="#reservations" class="btn btn-primary modalCreateBooking"><i class="icon-plus"></i>Nouvelle réservation</a>
		</div>

		<form class=" form-search pull-right col-xs-5 col-md-3 col-lg-2">
		  <div class="checkbox">
		    <label>
		      <input type="checkbox"> Réccurentes
		    </label>
		  </div>
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-large"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- /Table toolbar -->



		<!-- Message if No booking to Display -->
	<% if(bookings.length <= 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-info">
				<i class="icon-info-sign icon-large"></i>&nbsp;<%= lang.infoMessages.noRequest %>
			</div>
		</div>
	<% } %>



	<!-- Table Bookings -->
	<div class="table-responsive">
	<table class="table-bookings table table-bordered table-hover table-sorter">
		<thead>
			<tr>
				<th data-sort-column="id">N°</th>
				<th data-sort-column="name"><%= _.capitalize(lang.label) %></th>
				<th>Ressources</th>
				<th>Début résa</th>
				<th>Fin résa</th>
				<th>Utilisateur / demandeur</th>
				<th>Date demande</th>
				<th>
					<%= _.capitalize(lang.status) %>
					<div class="dropdown pull-right">
						<a id="filterStateBooking" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#"><i class="icon-filter icon-large"></i></a>

						<ul id="filterStateBookingList" class="dropdown-menu" role="menu" aria-labelledby="filterStateRequest">
							<% _.each(bookingsState, function (state, i) { %>
								<li role="menuitem">
									<a tabindex="-1" href="#<%= state.key %>"> 
										<i class="badge badge-<%= state.color %>">&nbsp;</i>
										&nbsp; <%= _.capitalize(state.translation) %>
									</a>
								</li>
							<% }) %>
								<li class="divider" role="menuitem"></li>
								<li class="delete-filter disabled" role="menuitem"><a href="#delete-filter"><i class="icon-remove"></i> <%= _.capitalize(lang.deleteFilter) %></a></li>
						</ul>
					</div>
				</th>

				<% if(app.models.user.isDST() || app.models.user.isManager()){ %>
					<th><%= _.capitalize(lang.action) %></th>
				<% } %>
			</tr>
		</thead>
		
		<tbody id="booking-items">
		<!-- Bookings rows -->
		
		</tbody>
	</table>
	</div>

	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->


</div>