
<div id="map" class="fatmap">
</div>


<div id="mapStatus">
    <div id="mapScale" style="border-right: solid 1px #999"></div>
    <div id="mapMousePosition" style="min-width: 135px;border-right: solid 1px #999;text-align: center"></div>
    <div id="mapProjection" style="border-right: solid 1px #999"></div>
    <div id="mapOutput"></div>
</div>

<!-- Form to add a new Intervention -->
<div id="modalAddInter" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Nouvelle intervention</h3>
	</div>
	
	<div class="modal-body">
	    <form id="formAddIntervention" action="#" class="form-horizontal">
	    
                <!-- intervention Name -->
                <div class="control-group">
                    <label for="interventionName" class="control-label"><%= _.capitalize(lang.label) %>:</label>

                    <div class="controls">
                        <input type="text" id="interventionName" name="interventionName" required="required" />
                        <span class="help-inline"></span>
                    </div>
                    
                    <div class="controls">
						<label for="isTemplate" class="checkbox"><%= _.capitalize(lang.template) %>
							<input type="checkbox" id="isTemplate" />
						</label>
					</div>
                </div>
                
               <div class="control-group">

				</div>
                
                <!-- intervention Description -->
                <div class="control-group">
                    <label for="interventionDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>

                    <div class="controls">
                        <textarea name="interventionDescription" id="interventionDescription" rows="5" required="required"></textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- intervention DeadLine -->
                <!-- <div class="control-group">
                    <label class="control-label" for="interventionDeadline"><%= _.capitalize(lang.Deadline) %>:</label>
                    <div class="controls">
                        <input 
                            type="text" class="Picker" 
                            id="interventionDeadline" 
                            value="" 
                            placeholder="dd/mm/yyyy"
                            required="required"
                            readonly="readonly">
                        <span class="help-inline"></span>
                    </div>
                </div>
                 -->
                
                <!-- intervention Contact Service -->
                <div class="control-group">
                    <label for="interventionDetailService" class="control-label"><%= lang.serviceConcerned %>:</label>

                    <div class="controls">
                        <select id="interventionDetailService"></select>
                        <span class="help-inline"></span>
                    </div>
                </div>
                
                <!-- intervention Place -->
                <div class="control-group">
                    <label for="interventionPlace" class="control-label"><%= _.capitalize(lang.place) %>:</label>

                    <div class="controls">  
                        <select id="interventionPlace"><option value="" disabled="disabled" ></option></select>
                        <span class="help-inline"></span>                           
                    </div>
                </div>
                
                <!-- intervention Place precision -->
                <div class="control-group">
                    <label for="interventionPlacePrecision" class="control-label"><%= _.capitalize(lang.informationOfTheSite) %>:</label>

                    <div class="controls">  
                         <textarea name="interventionPlacePrecision" id="interventionPlacePrecision" rows="2"></textarea>
                        <span class="help-inline"></span>                           
                    </div>
                </div>

	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formAddIntervention" class="btn btn-primary saveInterventionPlanning">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>
