<div class="page-header">
	<h1>
		<%= lang.viewsTitles.categoriesList %>
		<sup><i class="badge"><%= nbCats %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Categorie in the Database -->
	<% if(cats.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSaveCat" class="btn btn-primary modalSaveCat" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addCategorie) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.parentCategory) %></th>	
					<th><%= _.capitalize(lang.code) %></th>	
					<th><%= _.capitalize(lang.unit) %></th>						
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++){  
				var cat = cats[i].toJSON() %>
				
				<!-- Categorie row -->
				<tr class="row-item" id="cat_<%= cat.id %>">
					<td><i class="icon-tag"></i> <%= cat.name %>
						<p class="row-actions no-margin invisible">
							<a href="#modalSaveCat" class="modalSaveCat" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> 
							<a href="#modalDeleteCat" class="modalDeleteCat" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</p>
					</td>
					<td><%= (cat.parent_id != null ? cat.parent_id[1] : "")%></td>
					<td><%= (cat.code != false ? cat.code : "")%></td>
					<td><%= (cat.unit != false ? cat.unit : "")%></td>
				</tr>

			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#categories/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#categories/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#categories/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#categories/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#categories/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSaveCat" class="btn btn-primary modalSaveCat" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addCategorie) %></a>
		</div><br />

		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noCategorie %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Categorie -->
<div id="modalSaveCat" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addCategorie) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formSaveCat" action="#" class="form-horizontal">

			
			<!-- Categorie name -->
			<div class="control-group">
				<label for="catName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="catName" name="catName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Categorie code -->
			<div class="control-group">
				<label for="catCode" class="control-label"><%= _.capitalize(lang.code) %>:</label>

				<div class="controls">
					<input type="text" id="catCode" name="catCode" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>
			
			<!-- Categorie parent -->
			<div class="control-group">
				<label for="catParent" class="control-label"><%= _.capitalize(lang.parentCategory) %>:</label>

				<div class="controls">
					<select id="catParent"></select>
					<span class="help-inline"></span>
				</div>
			</div>
			
			<!-- Category unité -->
			<div class="control-group">
				<label for="catUnit" class="control-label"><%= _.capitalize(lang.unit) %>:</label>

				<div class="controls">
					<input type="text" id="catUnit" maxlength="2"/>
					<span class="help-inline"></span>
				</div>
			</div>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveCat" class="btn btn-primary saveTask"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#categories" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Categorie -->
<div id="modalDeleteCat" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression de la catégorie</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteCat" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p>Etes-vous sûr de vouloir supprimer cette catégorie ?</p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteCat"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>