<div class="page-header">
	<h1>
		<%= lang.viewsTitles.categoriesIntersList %>
		<sup id="bagdeNbCats" class="badge"><%= nbCats %></sup>
	</h1>
</div>


<div class="container-fluid">

	
	<!-- Table toolbar -->
	<div class="tableToolbar">
		<a href="#" class="btn btn-primary modalCreateCat"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addCategorie) %></a>

		<form class="form-search pull-right">
			<div class="input-append">
				<input type="search" class="input-medium search-query" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<button type="submit" class="btn"><i class="icon-search text-info icon-large"></i></button>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<!-- Check if there is any Categories to display -->
	<% if(nbCats <= 0) { %>

		<!-- No Category to display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noCategorie %>.
		</div>

	<% } %>


	<!-- Table Categories -->
	<table class="table table-bordered table-hover table-striped table-sorter">
		<thead>
			<tr>
				<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
				<th data-sort-column="code"><%= _.capitalize(lang.code) %></th>
			</tr>
		</thead>
		<tbody id="rows-items">

		</tbody>
	</table>


	<!-- Table pagination -->
	<div id="pagination"></div>
	<!-- /Table pagination -->


</div>


<!-- Modal Form to add/update a Cat -->
<div id="modalSaveCat" class="modal hide fade"></div>

<!-- Modal Form Delete Cat -->
<div id="modalDeleteCat" class="modal hide fade" data-backdrop="static"></div>