<div class="page-header">
    <h1>
        <%= lang.viewsTitles.claimersList %>
        <sup class="badge"><%= nbClaimers %></sup>
    </h1>
</div>


<div class="container-fluid">
    <% if(nbClaimers > 0) { %>
    <div class="tableToolbar">
        <a href="#modalNewClaimer" class="btn btn-primary modalNewClaimer" data-toggle="modal"><i
                class="icon-plus"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>

        <form class="form-search pull-right">
            <div class="input-append">
                <input type="search" class="input-medium search-query"
                       placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
                <button type="submit" class="btn"><i class="icon-search text-info icon-large"></i></button>
            </div>
        </form>
    </div>

    <table class="table table-bordered table-hover table-striped table-sorter">
        <thead>
        <tr>
            <th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
            <th><%= _.capitalize(lang.type) %></th>
            <th class="hidden-phone"><%= _.capitalize(lang.place) %></th>
            <th><%= _.capitalize(lang.phone) %></th>
            <th><%= _.capitalize(lang.email) %></th>
        </tr>
        </thead>
        <tbody id="claimersList">

        </tbody>
    </table>

    <% } else { %>
    <div class="tableToolbar">
        <a href="#modalNewClaimer" class="btn btn-primary" data-toggle="modal"><i class="icon-plus"></i> <%=
            _.capitalize(lang.actions.addClaimer) %></a>
    </div>
    <br/>

    <div class="alert alert-info">
        <i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noClaimer %>.
    </div>

    <% } %>

    <div id="pagination"></div>

</div>

<div id="modalEditClaimer" class="modal fade"></div>

<div id="modalDeleteClaimer" class="modal fade"></div>

<div id="modalEditContact" class="modal fade"></div>

<div id="modalDeleteClaimerContact" class="modal fade"></div>