<div class="page-header">
	<h1>
		<%= lang.viewsTitles.claimersList %>
		<sup><i class="badge"><%= nbClaimers %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Claimers in the Database -->
	<% if(nbClaimers > 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSaveClaimer" class="btn btn-primary modalSaveClaimer" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Claimers -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.type) %></th>
					<th class="hidden-phone"><%= _.capitalize(lang.place) %></th>
					<th><%= _.capitalize(lang.phone) %></th>
					<th><%= _.capitalize(lang.email) %></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++) { %>
				
				<!-- Claimer row -->
				<tr class="row-object" id="claimer_<%= claimers[i].id %>">
					<td>
						<a class="accordion-object" href="#collapse_<%= claimers[i].id %>">
							<i class="icon-pushpin">&nbsp;&nbsp;</i><%= claimers[i].name %>
						</a>
						<span class="object-actions invisible">
							<a href="#modalSaveClaimer" class="modalSaveClaimer" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a>
							<a href="#modalDeleteClaimer" class="modalDeleteClaimer" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</span>
					</td>
					<td><%= claimers[i].type_id[1]  %></td>
					<td class="hidden-phone"><%= (claimers[i].technical_site_id != null ? claimers[i].technical_site_id[1] : "") %></td>
					<td><%= (claimers[i].phone != false ? claimers[i].phone : "") %></td>
					<td><%= (claimers[i].email != false ? '<a href="mailto:'+claimers[i].email+'">'+claimers[i].email+'</a>' : "") %></td>
				</tr>
				<!-- Tasks row -->
				<tr class="row-nested-objects-collapse" id="collapse_<%= claimers[i].id %>">
					<td colspan="5">
						<% if(claimers[i].address.length != 0) { %>
							<table class="table-nested-objects table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
										<th><%= _.capitalize(lang.label) %></th>
									</tr>
								</thead>
								<tbody>
									<% _.each(claimers[i].address, function (address, i) { console.debug(address); %>
										
										<tr class="row-nested-objects" id="task_<%= address.id %>">
											<td><%= address.name %></td>
											<td><%= address.function %></td>
											<td><%= address.phone %></td>
											<td><%= address.email %></td>
											<td><%= address.mobile %></td>
											<td><%= address.street %></td>
											<td><%= address.city %></td>
											<td><%= address.zip %></td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						<% } else { %>
								<!-- No request in the Database -->
								<div class="alert alert-info">
									<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noAdressForPartner %>.
								</div>
						<% } %>

							<div class="div-actions" >
								<button class="btn btn-primary btn-small no-outline addAddress">
									<i class="icon-plus"></i>&nbsp; <%= _.capitalize(lang.actions.addAddress) %>
								</button>
							</div>
					</td>
				</tr>
			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandeurs/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandeurs/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#demandeurs/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandeurs/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandeurs/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSaveClaimer" class="btn btn-primary" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>
		</div><br />

		<!-- No Claimer in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noClaimer %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Claimer -->
<div id="modalSaveClaimer" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addClaimer) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formSaveClaimer" action="#" class="form-horizontal">

			<fieldset>
				<legend><%= lang.aboutTheClaimer %></legend>
			
			<!-- Place name -->
			<div class="control-group">
				<label for="claimerName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="claimerName" name="claimerName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Place Type -->
			<div class="control-group">
				<label for="claimerType" class="control-label"><%= _.capitalize(lang.type) %>:</label>

				<div class="controls">
					<select id="claimerType"></select>
					<span class="help-inline"></span>
				</div>
			</div>

			</fieldset>


			<fieldset>
				<legend><%= _.capitalize(lang.organization) %></legend>

				<!-- Place Service -->
				<div class="control-group">
					<label for="claimerService" class="control-label"><%= _.capitalize(lang.service) %>:</label>

					<div class="controls">
						<select id="claimerService"></select>
						<span class="help-inline"></span>
					</div>
				</div>
				
				<!-- Technical Service concerned-->
				<div class="control-group">
					<label for="claimerTechnicalService" class="control-label"><%= _.capitalize(lang.technicalService) %>:</label>

					<div class="controls">
						<select id="claimerTechnicalService"></select>
						<span class="help-inline"></span>
					</div>
				</div>

				<!-- Place Parent Place -->
				<div class="control-group">
					<label for="claimerTechnicalSite" class="control-label"><%= _.capitalize(lang.defaultPlace) %>:</label>

					<div class="controls">
						<select id="claimerTechnicalSite"></select>
						<span class="help-inline"></span>
					</div>
				</div>

			</fieldset>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveClaimer" class="btn btn-primary saveClaimer"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Claimer -->
<div id="modalDeleteClaimer" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression du demandeur</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteClaimer" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p><%= lang.warningMessages.confirmDeleteClaimer %></p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteClaimer"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>