<div class="page-header">
	<h1>
		<%= lang.viewsTitles.claimersList %>
		<sup><i class="badge"><%= nbClaimers %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Claimers in the Database -->
	<% if(nbClaimers > 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSaveClaimer" class="btn btn-primary modalSaveClaimer" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off" disabled>
					<button type="submit" class="btn" disabled><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Claimers -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.type) %></th>
					<th class="hidden-phone"><%= _.capitalize(lang.place) %></th>
					<th><%= _.capitalize(lang.phone) %></th>
					<th><%= _.capitalize(lang.email) %></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++) { 
				var claimer = claimers[i].toJSON()
				console.debug(claimer);
				%>
				
				<!-- Claimer row -->
				<tr class="row-object" id="claimer_<%= claimer.id %>">
					<td>
						<a class="accordion-object" href="#collapse_<%= claimer.id %>"><i class="icon-pushpin">&nbsp;&nbsp;</i><%= claimer.name %></a>
						<span class="object-actions invisible">
							<a href="#modalSaveClaimer" class="modalSaveClaimer" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a>

						</span>
					</td>
					<td><%= claimer.type_id[1]  %></td>
					<td class="hidden-phone"><%= (claimer.technical_site_id != null ? claimer.technical_site_id[1] : "") %></td>
					<td><%= (claimer.phone != false ? claimer.phone : "") %></td>
					<td><%= (claimer.email != false ? '<a href="mailto:'+claimer.email+'">'+claimer.email+'</a>' : "") %></td>
				</tr>
				<!-- Claimer row -->
				<tr class="row-nested-objects-collapse" id="collapse_<%= claimer.id %>">
					<td colspan="5" class="nestedTD">
						<% if(claimer.address.length != 0) { %>
							<table class="table-nested-objects table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th><%= _.capitalize(lang.name) %></th>
										<th><%= _.capitalize(lang.function) %></th>
										<th><%= _.capitalize(lang.phone) %></th>
										<th><%= _.capitalize(lang.email) %></th>
										<th><%= _.capitalize(lang.mobile) %></th>
										<th><%= _.capitalize(lang.street) %></th>
										<th><%= _.capitalize(lang.city) %></th>
									</tr>
								</thead>
								<tbody>
									<% _.each(claimer.address, function (address, i) { %>

										<tr class="row-nested-objects" id="address_<%= address.id %>">
											<td>
												<% 
												if(address.user_id != false){ 
													var off = officers.get(address.user_id[0]); console.log("o_O"); console.log(off); %>
													<i class="icon-user" data-toggle="tooltip" data-original-title="<%= off.getLogin() %>"></i>
												<% } %>
												<span><%= address.name %></span>&nbsp;
												<span class="nested-objects-actions invisible">
													<a href="#modalSaveContact" class="modalSaveContact" data-toggle="modal" data-action="update">
														<i class="icon-pencil displayInlineBlock" data-toggle="tooltip" data-action="update" data-original-title="<%= _.capitalize(lang.actions.update) %>">&nbsp;</i>
													</a> |

													<a href="#modalDeleteContact" class="modalDeleteContact" data-toggle="modal">
														<i class="icon-remove displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">&nbsp;</i>
													</a>
												</span>
											</td>
											<td><%= address.function!=false ? address.function : '' %></td>
											<td><%= address.phone!=false ? address.phone : '' %></td>
											<td><%= address.email != false ? "<a href=mailto:"+address.email+">"+address.email+"</a>" : '' %></td>
											<td><%= address.mobile != false ? address.mobile : '' %></td>
											<td><%= address.street != false ? address.street : '' %></td>
											<td><%= address.zip != false ? address.zip : '' %>&nbsp;<%= address.city != false ? address.city : '' %></td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						<% } else { %>
								<!-- No Claimer to display -->
								<div class="alert alert-info">
									<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPartner %>.
								</div>
						<% } %>

							<div class="div-actions" >
								<button class="btn btn-primary btn-small no-outline modalSaveContact" data-action="create" data-toggle="modal" data-target="#modalSaveContact">
									<i class="icon-plus"></i>&nbsp; <%= _.capitalize(lang.actions.addContact) %>
								</button>
							</div>
					</td>
				</tr>
			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandeurs/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandeurs/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#demandeurs/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>

				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandeurs/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandeurs/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSaveClaimer" class="btn btn-primary" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addClaimer) %></a>
		</div><br />

		<!-- No Claimer in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noClaimer %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Claimer -->
<div id="modalSaveClaimer" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addClaimer) %></h3>
	</div>

	<div class="modal-body">
		<form id="formSaveClaimer" action="#" class="form-horizontal">

			<fieldset>
				<legend><%= lang.aboutTheClaimer %></legend>

			<!-- Place name -->
			<div class="control-group">
				<label for="claimerName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="claimerName" name="claimerName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Place Type -->
			<div class="control-group">
				<label for="claimerType" class="control-label"><%= _.capitalize(lang.type) %>:</label>

				<div class="controls">
					<select id="claimerType"></select>
					<span class="help-inline"></span>
				</div>
			</div>

			</fieldset>


			<fieldset>
				<legend><%= _.capitalize(lang.organization) %></legend>

				<!-- Place Service -->
				<div class="control-group">
					<label for="claimerService" class="control-label"><%= _.capitalize(lang.service) %>:</label>

					<div class="controls">
						<select id="claimerService"></select>
						<span class="help-inline"></span>
					</div>
				</div>
				
				<!-- Technical Service concerned-->
				<div class="control-group">
					<label for="claimerTechnicalService" class="control-label"><%= _.capitalize(lang.technicalService) %>:</label>

					<div class="controls">
						<select id="claimerTechnicalService"></select>
						<span class="help-inline"></span>
					</div>
				</div>

				<!-- Place Parent Place -->
				<div class="control-group">
					<label for="claimerTechnicalSite" class="control-label"><%= _.capitalize(lang.defaultPlace) %>:</label>

					<div class="controls">
						<select id="claimerTechnicalSite"></select>
						<span class="help-inline"></span>
					</div>
				</div>

			</fieldset>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveClaimer" class="btn btn-primary saveClaimer"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Claimer -->
<div id="modalDeleteClaimer" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= lang.viewsTitles.deleteClaimer %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteClaimer" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p><%= lang.warningMessages.confirmDeleteClaimer %></p>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn btn-danger btnDeleteClaimer"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Form to add a new Contact -->
<div id="modalSaveContact" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.newContact %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formAddAddress" action="#" class="form-horizontal">

			<!-- Contact name -->
			<div class="control-group">
				<label for="addressName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="addressName" name="addressName" />
					<span class="help-inline"></span>
				</div>
			</div>


			<!-- Create Associated Account Link -->
			<div class="control-group">
				<div class="controls">
					<label class="checkbox" for="createAssociatedAccount">
					<input type="checkbox" id="createAssociatedAccount"><%= lang.actions.createAssociatedAccount %></label>
				</div>
			</div>

			<!-- Create associate Account -->
			<fieldset class="associated-account hide">
				<legend><%= lang.aboutTheAccount %></legend>

				<!-- Officer login -->
				<div class="control-group">
					<label for="partnerLogin" class="control-label"><%= _.capitalize(lang.login) %>:</label>

					<div class="controls">
						<input type="text" id="partnerLogin" name="partnerLogin" required="required" />
						<span class="help-inline"></span>
					</div>
				</div>

				<!-- Officer password -->
				<div class="control-group">
					<label for="partnerPassword" class="control-label"><%= _.capitalize(lang.password) %>:</label>

					<div class="controls">
						<input type="password" id="partnerPassword" name="partnerPassword" pattern=".{6,}" required="required" />
						<span class="help-inline"><%= lang.infoMessages.sixCharMin %></span>
					</div>
				</div>

			</fieldset>

			<fieldset>
				<legend><%= lang.aboutTheContact %></legend>
					<div class="control-group">
						<label for="addressEmail" class="control-label"><%= _.capitalize(lang.email) %>:</label>

						<div class="controls">
							<input type="email" id="addressEmail" name="addressEmail" required />
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label for="addressFunction" class="control-label"><%= _.capitalize(lang.function) %>:</label>

						<div class="controls">
							<input type="text" id="addressFunction" name="addressFunction" />
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label for="addressPhone" class="control-label"><%= _.capitalize(lang.phone) %>:</label>

						<div class="controls">
							<input type="text" id="addressPhone" name="addressPhone" />
							<span class="help-inline"></span>
						</div>
					</div>

					<div class="control-group">
						<label for="addressMobile" class="control-label"><%= _.capitalize(lang.mobile) %>:</label>

						<div class="controls">
							<input type="text" id="addressMobile" name="addressMobile" />
							<span class="help-inline"></span>
						</div>
					</div>

					<!-- Associated Adress details -->
					<div class="control-group">
						<div class="controls">
							<label class="checkbox" for="associatedAdress">
							<input type="checkbox" id="associatedAdress"><%= lang.actions.associatedAdress %></label>
						</div>
					</div>
					
			 </fieldset>

			<fieldset class="associated-adress hide">
				<legend><%= lang.aboutTheContactAdress %></legend>
					
				<div class="control-group">
					<label for="addressStreet" class="control-label"><%= _.capitalize(lang.address) %>:</label>

					<div class="controls">
						<input type="text" id="addressStreet" name="addressStreet" />
						<span class="help-inline"></span>
					</div>
				</div>
				
				<div class="control-group">
					<label for="addressCity" class="control-label"><%= _.capitalize(lang.city) %>:</label>

					<div class="controls">
						<input type="text" id="addressCity" name="addressCity" />
						<span class="help-inline"></span>
					</div>
				</div>
				
				<div class="control-group">
					<label for="addressZip" class="control-label"><%= _.capitalize(lang.zip) %>:</label>

					<div class="controls">
						<input type="text" id="addressZip" name="addressZip" />
						<span class="help-inline"></span>
					</div>
				</div>
			</fieldset>
			
			
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary saveAddress"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Claimer -->
<div id="modalDeleteContact" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.deleteContact %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteContact" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p><%= lang.warningMessages.confirmDeleteContact %></p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-danger btnDeleteAddress"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>