<!-- Connection Form -->
<div class="container well">


<div class="page-header">
  <h1>Mes applications</h1>
</div>


	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">

			<div class="caption">
				<h3>Interventions</h3>
				<img class="img-circle" src="http://www.9ori.com/art/media/images/de558e3bc0.jpg" width="200px" />
				<p><a href="#" id="lol" class="btn btn-primary btn-block">Accéder</a></p>
			</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">

			<div class="caption">
				<h3>Prêt réservations</h3>
				<img class="img-circle" src="http://www.9ori.com/art/media/images/de558e3bc0.jpg" width="200px" />
				<p><a href="#" class="btn btn-primary btn-block">Accéder</a></p>
			</div>
			</div>
		</div>


	</div>

</div>