<!-- Connection Form -->
<div class="container well container-margin">


<div class="page-header">
  <h1>Mes applications</h1>
</div>


	<% var nbMenus = _.size(menus);

		_.each(menus, function (menu, i){ 

		var offset = 0;	

		if(i % 4 == 0){ %>

			<div class="row">

			<%	if(nbMenus%4 == 3){ offset = 1; }else if(nbMenus%4 == 2){ offset = 3; }else if(nbMenus%4 == 1){ offset = 4; } %>
		<% } %>
		
		<div class="col-sm-6 col-lg-3 col-lg-offset-<%= offset %>">
			<div class="thumbnail">
				<div class="caption">
					<h2 class="text-center"><i class="icon-home icon-large icon-border" /><%= menu.name %></h2>
					<p><a href="#<%= _.first(menu.children[0].children).tag %>" class="btn btn-primary btn-lg btn-block">Accéder</a></p>
				</div>
			</div>
		</div>

		<% if(i % 4 == 3){ %>
			</div>
			<div class="row">&nbsp;</div>
		<% } %>

	<% }); %>

</div>