<div class="page-header">
	<h1>
		<%= lang.viewsTitles.equipmentsList %>
		<sup class="badge" id="badgeNbEquipments"></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Claimers Types in the Database -->
		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#" class="btn btn-primary modalAddEquipment" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addEquipment) %></a>	

		<form class="form-search pull-right col-xs-5 col-md-3 col-lg-2">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-large"></i></button>
				</span>
			</div>
		</form>
		</div>
		<!-- Table toolbar -->

	<% if(nbEquipments != 0) { %>
		<!-- Table Requests -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.immat) %></th>					
					<th><%= _.capitalize(lang.marque) %></th>	
					<th><%= _.capitalize(lang.year) %></th>
					<th><%= _.capitalize(lang.time) %></th>	
					<th><%= _.capitalize(lang.km) %></th>	
					<th><%= _.capitalize(lang.category) %></th>	
				</tr>
			</thead>
			<tbody id="row-items">		
				<!-- Categorie row -->
			</tbody>
		</table>
	<% }
	else { %>
		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noEquipment %>.
		</div>

	<% } %>

</div>

	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->

<!-- Modal Form to add a new Equipment -->
<div id="modalSaveEquipment" role="dialog" aria-hidden="true" class="modal fade"></div>


<!-- Modal Form Delete Equipment -->
<div id="modalDeleteEquipment" role="dialog" aria-hidden="true" class="modal fade"></div>