<div class="page-header">
	<h1>
		<%= lang.viewsTitles.equipmentsList %>
		<sup><i class="badge"><%= nbEquipments %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Claimers Types in the Database -->
	<% if(equipments.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSaveEquipment" class="btn btn-primary modalSaveEquipment" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addEquipment) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.immat) %></th>					
					<th><%= _.capitalize(lang.marque) %></th>	
					<th><%= _.capitalize(lang.usage) %></th>
					<th><%= _.capitalize(lang.type) %></th>
					<th><%= _.capitalize(lang.cv) %></th>
					<th><%= _.capitalize(lang.year) %></th>
					<th><%= _.capitalize(lang.time) %></th>	
					<th><%= _.capitalize(lang.km) %></th>	
					<th><%= _.capitalize(lang.category) %></th>	
					<th><%= _.capitalize(lang.service) %></th>			
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++){  
				var equipment = equipments[i] %>
				
				<!-- Categorie row -->
				<tr class="row-item" id="equipment_<%= equipment.id %>">
					<td><i class="icon-wrench"></i> <%= equipment.name %>
						<p class="row-actions no-margin invisible">
							<a href="#modalSaveEquipment" class="modalSaveEquipment" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> 
							<a href="#modalDeleteEquipment" class="modalDeleteEquipment" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</p>
					</td>
					<td><%= (equipment.immat != false ? equipment.immat : "")%></td>
					<td><%= (equipment.marque != false ? equipment.marque : "")%></td>
					<td><%= (equipment.usage != false ? equipment.usage : "")%></td>
					<td><%= (equipment.type != false ? equipment.type : "")%></td>
					<td><%= (equipment.cv != false ? equipment.cv : "")%></td>
					<td><%= (equipment.year != false ? equipment.year : "")%></td>
					<td><%= (equipment.time != false ? equipment.time : "")%></td>
					<td><%= (equipment.km != false ? equipment.km : "" )%></td>
					<% if( equipment.technical_vehicle ) { %>
						<td><%= _.capitalize(lang.technicalVehicleEquipment) %></td>
					<% } else if ( equipment.commercial_vehicle ) { %>
						<td><%= _.capitalize(lang.commercialVehicleEquipment) %></td>
					<% } else if ( equipment.small_material ) { %>
						<td><%= _.capitalize(lang.smallMaterialEquipment) %></td>
					<% } else if ( equipment.fat_material ) { %>
						<td><%= _.capitalize(lang.fatMaterialEquipment) %></td>
					<% } %>	
					<td><%= (equipment.service != false ? equipment.service[1] : "" )%></td>									
				</tr>

			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#equipments/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#equipments/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#equipments/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#equipments/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#equipments/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSaveEquipment" class="btn btn-primary modalSaveEquipment" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addEquipment) %></a>
		</div><br />

		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noEquipmentType %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Equipment -->
<div id="modalSaveEquipment" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addEquipment) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formSaveEquipment" action="#" class="form-inline">
		
			<div class="input-append">
			
				<!-- name -->
				<div class="control-group">
					<label for="equipmentName" class="control-label"><%= _.capitalize(lang.name) %>:</label>
	
					<div class="controls">
						<input type="text" id="equipmentName" name="equipmentName" />
						<span class="help-inline"></span>
					</div>
				</div>
				
				<!-- Service -->
				<div class="control-group">
	                <label for="equipmentService" class="control-label"><%= lang.service %>:</label>
	
	                <div class="controls">
	                    <select id="equipmentService" required="required" ></select>
	                    <span class="help-inline"></span>
	                </div>
            	</div>
				
			</div>

			<div class="input-append">
				<!-- Immatriculation -->
				<div class="control-group">
					<label for="equipmentImmat" class="control-label"><%= _.capitalize(lang.immat) %>:</label>
	
					<div class="controls">
						<input type="text" id="equipmentImmat" name="equipmentImmat" />
						<span class="help-inline"></span>
					</div>
				</div>
				
				<!-- Usage -->
				<div class="control-group">
					<label for="equipmentUsage" class="control-label"><%= _.capitalize(lang.usage) %>:</label>
	
					<div class="controls">
						<input type="text" id="equipmentUsage" name="equipmentUsage" required="required" />
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
			
			<div class="input-append">
				<!-- Marque -->
				<div class="control-group">
					<label for="equipmentMarque" class="control-label"><%= _.capitalize(lang.marque) %>:</label>
	
					<div class="controls">
						<input type="text" id="equipmentMarque" name="equipmentMarque" required="required" />
						<span class="help-inline"></span>
					</div>
				</div>
				
				
				<!-- Type -->
				<div class="control-group">
					<label for="equipmentType" class="control-label"><%= _.capitalize(lang.type) %>:</label>
	
					<div class="controls">
						<input type="text" id="equipmentType" name="equipmentType" required="required" />
						<span class="help-inline"></span>
					</div>
				</div>
			</div>
			
			<div class="input-append">
			
				<!-- Year -->
				<div class="control-group">
					<label for="equipmentYear" class="control-label"><%= _.capitalize(lang.year) %>:</label>
	
					<div class="controls">
						<input type="number" id="equipmentYear" name="equipmentYear" required="required" value="<%= moment().year() %>">
						<span class="help-inline"></span>
					</div>
				</div>
				<!-- CV -->
				<div class="control-group">
					<label for="equipmentCV" class="control-label"><%= _.capitalize(lang.cv) %>:</label>
	
					<div class="controls">
						<input type="number" id="equipmentCV" name="equipmentCV" required="required" min="0"  />
						<span class="help-inline"></span>
					</div>
				</div>
				

			</div>
			
			<div class="input-append">
			
				<!-- KM -->
				<div class="control-group">
					<label for="equipmentKm" class="control-label"><%= _.capitalize(lang.km) %>:</label>
	
					<div class="controls">
						<input type="number" id="equipmentKm" name="equipmentKm" required="required" min="0" value="0"/>
						<span class="help-inline"></span>
					</div>
				</div>
				
				<!-- Time -->
				<div class="control-group">
					<label for="equipmentTime" class="control-label"><%= _.capitalize(lang.time) %>:</label>
	
					<div class="controls">
						<input type="number" id="equipmentTime" name="equipmentTime" required="required" min="0" value="0" />
						<span class="help-inline"></span>
					</div>
				</div>
				

			</div>
			
			
			
		
			
			<div class="input-append">
				<div class="control-group">
					<label class="control-label" style="width:450px"></label>
					<div class="controls btn toggleSwitch toggleSwitch-four">
						<input id="technicalVehicleEquipment" name="equipment" type="radio" checked>
						<label for="technicalVehicleEquipment" onclick=""><%= _.capitalize(lang.technicalVehicleEquipment) %></label>
			
						<input id="commercialVehicleEquipment" name="equipment" type="radio">	
						<label for="commercialVehicleEquipment" onclick=""><%= _.capitalize(lang.commercialVehicleEquipment) %></label>
						
						<input id="smallMaterialEquipment" name="equipment" type="radio">	
						<label for="smallMaterialEquipment" onclick=""><%= _.capitalize(lang.smallMaterialEquipment) %></label>
						
						<input id="fatMaterialEquipment" name="equipment" type="radio">	
						<label for="fatMaterialEquipment" onclick=""><%= _.capitalize(lang.fatMaterialEquipment) %></label>
						
						<span class="slide-button btn btn-primary"></span>
					</div>
				</div>
			
			
				<!-- <div class="control-group">
					<label class="checkbox toggle candy" style="width:150px">
						<input id="vehicleEquipment" type="checkbox" />
						<p>
							<%= _.capitalize(lang.vehicleEquipment) %>:
							<span><%= _.capitalize(lang.technicalVehicleEquipment) %></span>
							<span><%= _.capitalize(lang.commercialVehicleEquipment) %></span>
						</p>
						
						<a class="slide-button"></a>
					</label>
				
				</div>
				<div class="control-group">
					<label class="checkbox toggle candy" style="width:190px">
						<input id="materialEquipment" type="checkbox" />
						<p>
							<%= _.capitalize(lang.materialEquipment) %>:
							<span><%= _.capitalize(lang.smallMaterialEquipment) %></span>
							<span><%= _.capitalize(lang.fatMaterialEquipment) %></span>
						</p>
						
						<a class="slide-button"></a>
					</label>
				</div>
				 -->
			
				<!-- <div class="control-group">
					<div class="controls">
						<label for="vehicleEquipment" class="control-label"><%= _.capitalize(lang.vehicleEquipment) %>:</label>
						<div class="btn-group" data-toogle="button-radio" id="vehicleEquipment">
							<button class="btn" type="button" name="technicalVehicleEquipment" value="technicalVehicleEquipment">
								<%= _.capitalize(lang.technicalVehicleEquipment) %>
							</button>
							<button class="btn" type="button" name="commercialVehicleEquipment" value="commercialVehicleEquipment">
								<%= _.capitalize(lang.commercialVehicleEquipment) %>
							</button>
						</div>
						 <label for="equipmentIsTechnical" class="checkbox"><%= _.capitalize(lang.technicalEquipment) %>
							<input type="checkbox" id="equipmentIsTechnical" />
						</label>
						
					</div>
				</div>
				
				<div class="control-group">
						<label for="materialEquipment" class="control-label"><%= _.capitalize(lang.materialEquipment) %>:</label>
						<div class="btn-group" data-toogle="button-radio" id="materialEquipment">
							<button class="btn" type="button" name="smallMaterialEquipment" value="smallMaterialEquipment">
								<%= _.capitalize(lang.smallMaterialEquipment) %>
							</button>
							<button class="btn" type="button" name="fatMaterialEquipment" value="fatMaterialEquipment">
								<%= _.capitalize(lang.fatMaterialEquipment) %>
							</button>
						</div>
						<label for="equipmentIsTechnical" class="checkbox"><%= _.capitalize(lang.technicalEquipment) %>
							<input type="checkbox" id="equipmentIsTechnical" />
						</label>
					</div>
					<div class="controls">
						<label for="equipmentIsSmall" class="checkbox"><%= _.capitalize(lang.smallEquipment) %>
							<input type="checkbox" id="equipmentIsSmall" />
						</label>
					</div>
				</div> -->
				
			</div>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveEquipment" class="btn btn-primary saveEquipment"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#equipments" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Equipment -->
<div id="modalDeleteEquipment" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression du matériel</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteEquipment" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p>Etes-vous sûr de vouloir supprimer cet equipment?</p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteEquipment"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>