<div class="page-header">
	<h1>
		<%= lang.viewsTitles.equipmentsList %>
		<sup class="badge" id="badgeNbEquipments"><%= nbEquipments %></sup>
	</h1>
</div>


	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-md-9 col-lg-10">
			<a href="#" class="btn btn-primary modalAddEquipment"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addEquipment) %></a>
		</div>

		<form class=" form-search pull-right col-xs-5 col-md-3 col-lg-2">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-large"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<% if(nbEquipments <= 0) { %>

		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noEquipment %>.
		</div>
	<% } %>

	<!-- Table Equipments -->
	<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped table-sorter">
		<thead>
			<tr>
				<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
				<th><%= _.capitalize(lang.immat) %></th>					
				<th><%= _.capitalize(lang.marque) %></th>	
				<th><%= _.capitalize(lang.year) %></th>
				<th data-sort-column="<time></time>"><%= _.capitalize(lang.workHours) %></th>	
				<th data-sort-column="km"><%= _.capitalize(lang.km) %></th>	
				<th><%= _.capitalize(lang.category) %></th>	
			</tr>
		</thead>
		<tbody id="row-items">		
			<!-- Equipment row -->
		</tbody>
	</table>
	</div>



	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->



<!-- Modal Form to add a new Equipment -->
<div id="modalSaveEquipment" role="dialog" aria-hidden="true" class="modal fade"></div>

<!-- Modal Form Delete Equipment -->
<div id="modalDeleteEquipment" role="dialog" aria-hidden="true" class="modal fade"></div>