<div class="navbar-inner">
	<div class="container-fluid">
	 
	     
	    <!-- Application name -->
	    <a class="brand" id="appName" href="#"><i class="icon-truck icon-large"></i> <%= lang.applicationName %> </a>

		
		<!-- Display the menu if user is logged -->
		<% if(user.hasAuthToken()){ %>

		    <!-- Navbar button (display on smarthphone and touchpad)-->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		    </a>

		   	<!-- Elements (display on large screen) -->
		    <div class="nav-collapse">
			    	
		    	<!-- Main menu application -->
		    	<ul id="nav-menu-app" class="nav" role="menu">
	 				<% _.each(user.getMenus().content[0].children, function (menuRacine, i) {%>
                        <li class="dropdown" id="<%= _.slugify(menuRacine.tag) %>" role="menuitem">
                        <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#" id="drop-menu-app-<%= menuRacine.id %>"><%= menuRacine.name %> <b class="caret"></b></a>
                            <ul aria-labelledby="drop-menu-app-<%= menuRacine.id %>" role="menu" class="dropdown-menu">
                                <% _.each(menuRacine.children, function (menuItem, i) {%>
                                    <% if (menuItem.children.length > 0) { %>
                                        <li role="menuitem" class="dropdown-submenu">
                                            <a tabindex="-1" href="#"><%= menuItem.name %></a>
                                            <ul class="dropdown-menu">
                                                <% _.each(menuItem.children, function( subMenuItem, i ){%>
                                                    <li>
                                                        <a href="#<%= _.slugify(subMenuItem.tag) %>" tabindex="-1"><%= subMenuItem.name %></a>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </li>
                                    <% } else { %>
                                        <li role="menuitem">
                                            <a href="#<%= _.slugify(menuItem.tag) %>"><%= menuItem.name %></a>
                                        </li>
                                    <% }; %>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
		    	</ul>


		    	<!-- User menu application -->
				<ul class="nav pull-right" role="menu">
					<li class="dropdown" id="login-drop-menu-container" role="menuitem">
						<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-user icon-large"></i> <%= user.getFullname() %> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li role="menuitem"><a tabindex="-1" href="#about"><i class="icon-info-sign icon-fixed-width"></i> <%= _.capitalize(lang.about) %></a></li>
							<li role="menuitem" class="disabled"><a tabindex="-1" href="#help"><i class="icon-question-sign icon-fixed-width"></i> <%= _.capitalize(lang.help) %></a></li>
							<li role="menuitem" class="divider"></li>
							<li role="menuitem" class="disabled"><a tabindex="-1" href="#settings"><i class="icon-cog icon-fixed-width"></i> <%= _.capitalize(lang.settings) %></a></li>
							<li role="menuitem"><a tabindex="-1" href="#logout"><i class="icon-signout icon-fixed-width"></i> <%= _.capitalize(lang.actions.logOut) %></a></li>
						</ul>
					</li>
				</ul>

			</div>
		<% }; %>

	</div>
</div>