<div class="page-header">
	<h1>
		Interventions
		<sup>
			<i class="badge badge-success" >
				<%= nbInterventions %>
			</i>
		</sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Request in the Database -->
	<% if(interventions.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#" class="btn btn-primary"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addIntervention) %></a>	

			<form class="form-search pull-right">
    			<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.label) %></th>
					<th>Responsable</th>
					<th>Temps planifié</th>
					<th>Temps passé</th>
					<th>Avancement</th>
					<th class="align">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% _.each(interventions, function (intervention, i) { %>
					<tr id="<%= intervention.attributes.id %>">
					    <td>
					    	<a  href="#demandes-dintervent" 
					    		rel="popover" 
					    		data-content="<%= (intervention.description != '' ? intervention.description : _.capitalize(lang.notKnown)) %>" 
					    		data-original-title="<%= _.capitalize(lang.description) %>:">
					    		<%= intervention.attributes.name %>
					    	</a>
					    </td>
					    <td></td>
					    <td></td>
					    <td></td>
					    <td>
					    	<div class="progress" style="margin-bottom: 0;">
					    		<div class="bar" style="width: 70%;"><%= intervention.attributes.progress_rate %></div>
					    	</div>
					    </td>
					    <td class="align">
					    	<button type="button" class="btn btn-primary btn-small addTask" rel="tooltip" data-original-title="Ajouter une tâche"><i class="icon-plus-sign"></i></button>
					   	</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
		<!-- /Table Requests -->

	<% } 
	else { %>
		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noRequest %>.
		</div>

	<% } %>

</div>


<!-- Form to add a new Task -->
<div id="modalAddTask" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Nouvelle tâche</h3>
	</div>
	
	<div class="modal-body">
	    <form id="formAddTask" action="#" class="form-horizontal">
	    
			<!-- Task name -->
            <div class="control-group">
                <label for="taskName" class="control-label">Nom:</label>

                <div class="controls">
                    <input type="text" id="taskName" name="taskName" />
                    <span class="help-inline"></span>
                </div>
            </div>

            <!-- Task Category -->
            <div class="control-group">
                <label for="taskCategory" class="control-label">Catégorie:</label>

                <div class="controls">
                     <select id="taskCategory"></select>
                    <span class="help-inline"></span>
                </div>
            </div>

			<!-- Task hour -->
            <div class="control-group">
                <label for="taskHour" class="control-label">Heures prévisionnelles:</label>

                <div class="controls">
                     <input type="number" id="taskHour" name="taskHour" />
                    <span class="help-inline"></span>
                </div>
            </div>

			<!-- Assign to -->
            <div class="control-group">
                <label for="taskAssignTo" class="control-label">Assigné à:</label>

                <div class="controls">
                     <select id="taskAssignTo"></select>
                    <span class="help-inline"></span>
                </div>
            </div>

	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" class="btn btn-primary saveTask">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>
		