<!-- Connection Form -->
<div class="container well" id="formConnectionContainer">


	<h3 class="formHeading"><%= lang.connection %></h3>

	<form id="formConnection" role="form">
		<fieldset class="noMarginTop">
	
			<!-- Login -->
			<div class="form-group">
				<div class="input-group input-group-lg">
					<label for="loginUser" class="input-group-addon"><i class="icon-user"></i></label>
					<input type="text" id="loginUser" class="form-control" required placeholder="<%= lang.login %>" autocomplete="off" value="<%= user.getLogin() %>">
				</div>
			</div>

			<!-- Password -->
			<div class="form-group">
				<div class="input-group input-group-lg">
					<label for="passUser" class="input-group-addon"><i class="icon-lock"></i></label>
					<input type="password" id="passUser" class="form-control" required placeholder="<%= lang.password %>">
					<span class="input-group-addon-inner"><i id="toggelDisplayPassword" class="icon-eye-open icon-large" data-toggle="tooltip" data-original-title="<%= lang.actions.displayPassword %>"></i>
					</span>

				</div>
				<span id="errorLogin" class="help-block hide"><%= lang.errorMessages.loginIncorrect %></span>
			</div>
				<% if(!_.isNull(user.getUID())){ %>
					<p class="help-block" id="lastConnection"><%= lang.lastConnection %>  <%= moment(user.getLastConnection()).format('LLL') %></p>
				<% } %>

				<button type="submit" class="btn btn-primary btn-block btn-lg" data-loading-text="<i class='icon-refresh icon-spin'></i>&nbsp; <%= lang.connectionInProgress %>"><%= lang.actions.logIn %></button>

		</fieldset>
	</form>

</div>