<div class="page-header">
	<h1>
		<%= lang.viewsTitles.placesList %>
		<sup id="badgeNbPlaces" class="badge"><%= nbPlaces %></sup>
	</h1>
</div>



	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-xs-7 col-md-9 col-lg-10">
			<a href="#" class="btn btn-primary modalCreatePlace"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addPlace) %></a>
		</div>

		<form class="form-search pull-right col-xs-5 col-md-3 col-lg-2">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-large"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->



	<!-- Check if there is any Places to display -->
	<% if(nbPlaces <= 0) { %>

		<!-- No place to display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPlace %>.
		</div>

	<% } %>

	<!-- Table Teams -->
	<div class="table-responsive">
	<table class="table table-bordered table-hover table-striped table-sorter">
		<thead>
			<tr>
				<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
				<th><%= _.capitalize(lang.parentPlace) %></th>
				<th><%= _.capitalize(lang.associatedServices) %></th>	
				<th data-sort-column="surface"><%= _.capitalize(lang.area) %></th>
			</tr>
		</thead>
		<tbody id="rows-items">

		</tbody>
	</table>
	</div>


	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->




<!-- Modal Form to add/update a Place -->
<div id="modalSavePlace" class="modal fade"></div>

<!-- Modal Form Delete Place -->
<div id="modalDeletePlace" class="modal fade" data-backdrop="static"></div>