<div class="page-header">
	<h1>
		<%= lang.viewsTitles.placesList %>
		<sup class="badge"><%= nbPlaces %></sup>
	</h1>
</div>


<div class="container-fluid">


	<!-- Table toolbar -->
	<div class="tableToolbar">
		<a href="#" class="btn btn-primary modalSavePlace"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addPlace) %></a>

		<form class="form-search pull-right">
			<div class="input-append">
				<input type="search" class="input-medium search-query" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<button type="submit" class="btn"><i class="icon-search text-info icon-large"></i></button>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->



	<!-- Check if there is any Places in the Database  -->
	<% if(!_.isEmpty(places)) { %>

		<!-- Table Teams -->
		<table class="table table-bordered table-hover table-striped table-sorter">
			<thead>
				<tr>
					<th data-column="name"><%= _.capitalize(lang.name) %> <i class="icon-sort icon-large icon-muted pull-right"></i></th>
					<th><%= _.capitalize(lang.parentPlace) %></th>
					<th><%= _.capitalize(lang.service) %></th>	
					<th class="hidden-phone span2" data-column="surface"><%= _.capitalize(lang.area) %> <i class="icon-sort icon-large icon-muted pull-right"></i></th>
				</tr>
			</thead>
			<tbody>
			<% places.each(function(place){ %>

				<!-- Place row -->
				<tr class="row-item" id="place_<%= place.id %>">
					<td>
						<i class="icon-map-marker">&nbsp;&nbsp;</i><%= place.getCompleteName() %>

						<p class="row-actions invisible">
							<a href="#"  class="modalSavePlace">
								<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i></a>&nbsp;
							<a href="#" class="modalDeletePlace">
								<i class="icon-remove icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
							</a>
						</p>
					</td>
					<td><%= place.getParentPlace() %></td>
					<td><%= place.getServicesName() %></td>	
					<td class="text-right hidden-phone"><%= place.getSurface(true) %></td>
				</tr>

			<% }); %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div id="pagination"></div>
		<!-- /Table pagination -->

	<% }
	else { %>

		<!-- No place in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPlace %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Place -->
<div id="modalSavePlace" class="modal hide fade"></div>


<!-- Modal Form Delete Place -->
<div id="modalDeletePlace" class="modal hide fade"></div>