<div class="page-header">
	<h1>
		<%= lang.viewsTitles.placesList %>
		<sup><i class="badge"><%= nbPlaces %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is any Places in the Database  -->
	<% if(places.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#modalSavePlace" class="btn btn-primary modalSavePlace" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addPlace) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Teams -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.parentPlace) %></th>
					<th><%= _.capitalize(lang.service) %></th>	
					
					<th class="hidden-phone"><%= _.capitalize(lang.area) %></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++) { 
					var placeServices = [];
					console.log()
					_.each( places[i].service_ids, function(s){
						placeServices.push( s.name );
					});
				%>
				<!-- Place row -->
				<tr class="row-item" id="place_<%= places[i].id %>">
					<td>
						<i class="icon-map-marker">&nbsp;&nbsp;</i><%= places[i].complete_name %>
						<p class="row-actions invisible">
							<a href="#modalSavePlace"  class="modalSavePlace" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> |
							<a href="#modalDeletePlace" class="modalDeletePlace" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</p>
					</td>
					<td><%= places[i].site_parent_id[1] %></td>
					<td><%= _.toSentence( placeServices, ', ', ' et ' ) %></td>					
					<td class="text-right hidden-phone"><%= _.numberFormat(places[i].surface, 0, ",", " ") %> m²</td>
				</tr>

			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#sites/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#modalSavePlace" class="btn btn-primary modalSavePlace" data-toggle="modal"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addPlace) %></a>
		</div><br />

		<!-- No place in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPlace %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Place -->
<div id="modalSavePlace" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addPlace) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formSavePlace" action="#" class="form-horizontal">

			<fieldset>
				<legend><%= lang.aboutThePlace %></legend>
			
				<!-- Place name -->
				<div class="control-group">
					<label for="placeName" class="control-label"><%= _.capitalize(lang.name) %>:</label>
	
					<div class="controls">
						<input type="text" id="placeName" />
						<span class="help-inline"></span>
					</div>
				</div>
	
				<!-- Place Type -->
				<div class="control-group">
					<label for="placeType" class="control-label"><%= _.capitalize(lang.type) %>:</label>
	
					<div class="controls">
						<select id="placeType"></select>
						<span class="help-inline"></span>
					</div>
				</div>


			</fieldset>
			
			<!-- Equipments -->
			<fieldset>
				<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.service) %></legend>

				<!-- Services Management -->
				<div class="row-fluid marginTop servicesDroppableArea">
					
					<div class="span6">
						<div class="widget-title">
							<h4>Services de l'équipe <span class="badge pull-right"></span></h4>
						</div>
		
						<ul id="placeServices" class="sortableServicesList sortable unstyled nav nav-list drop-area">
		
						</ul>
					</div>
		
					<div class="span6">
						<div class="widget-title">
							<h4>Autre services <span class="badge pull-right" id="badgeNbServices"></span></h4>
						</div>
		
						<ul id="servicesList" class="sortableServicesList sortable unstyled nav nav-list">
						</ul>
					</div>
		
				</div>
				
				<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.parentPlace) %></legend>
				<!-- Place Parent Place -->
				<div class="control-group">
					<div class="controls">
						<select id="placeParentPlace"></select>
						<span class="help-inline"></span>
					</div>
				</div>
				
			</fieldset>


			<fieldset>
				<legend><%= _.capitalize(lang.property) %></legend>

			<!-- Place Width -->
			<div class="control-group">
				<label for="placeWidth" class="control-label"><%= _.capitalize(lang.width) %>:</label>

				<div class="controls">
					<input type="number" id="placeWidth" />
					<span class="help-inline"></span>
				</div>
			</div>
			
			<!-- Place Lenght -->
			<div class="control-group">
				<label for="placeLenght" class="control-label"><%= _.capitalize(lang.lenght) %>:</label>

				<div class="controls">
					<input type="number" id="placeLenght" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Place Area -->
			<div class="control-group">
				<label for="placeArea" class="control-label"><%= _.capitalize(lang.area) %>:</label>

				<div class="controls">
					<input type="number" id="placeArea" />
					<span class="help-inline"></span>
				</div>
			</div>

			</fieldset>

		</form>
	</div>
	
	
	<div class="modal-footer">
		<button type="submit" form="formSavePlace" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#places" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Place -->
<div id="modalDeletePlace" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression du site</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeletePlace" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p><%= lang.warningMessages.confirmDeletePlace %></p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeletePlace"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>