<div class="page-header">
	<h1>
		<%= lang.viewsTitles.placesList %>
		<sup id="bagdeNbPlaces" class="badge"><%= nbPlaces %></sup>
	</h1>
</div>


<div class="container-fluid">


	<!-- Table toolbar -->
	<div class="tableToolbar">
		<a href="#" class="btn btn-primary modalSavePlace"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addPlace) %></a>

		<form class="form-search pull-right">
			<div class="input-append">
				<input type="search" class="input-medium search-query" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<button type="submit" class="btn"><i class="icon-search text-info icon-large"></i></button>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->



	<!-- Check if there is any Places to display -->
	<% if(nbPlaces <= 0) { %>

		<!-- No place to display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPlace %>.
		</div>

	<% } %>

		<!-- Table Teams -->
		<table class="table table-bordered table-hover table-striped table-sorter">
			<thead>
				<tr>
					<th data-sort-column="name"><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.parentPlace) %></th>
					<th><%= _.capitalize(lang.associatedServices) %></th>	
					<th class="hidden-phone span2" data-sort-column="surface"><%= _.capitalize(lang.area) %></th>
				</tr>
			</thead>
			<tbody id="rows-items">

			</tbody>
		</table>


		<!-- Table pagination -->
		<div id="pagination"></div>
		<!-- /Table pagination -->

</div>


<!-- Modal Form to add a new Place -->
<div id="modalSavePlace" class="modal hide fade"></div>


<!-- Modal Form Delete Place -->
<div id="modalDeletePlace" class="modal hide fade" data-backdrop="static"></div>