<div class="page-header">
	<h1><%= lang.viewsTitles.planning %></h1>
</div>




<!-- Interventions List -->
<div class="row-fluid">


 	<!-- Left Column -->
 	



	<!-- Interventions toolbar -->

	<!-- /Interventions toolbar -->

	<!-- Interventions List -->
	<div id="planningInters" class="span3"></div>

  


	<!-- Right Column -->
	<div class="span9">


		<!-- List Officer/Teams -->
		<div id="listAgentsTeams">
			<ul class="nav nav-tabs" id="allTabs">
				<li class="active">
					<a href="#" data-target="#tab-agents" data-toggle="tab" class="no-outline">
						<%= _.capitalize(lang.agents) %> &nbsp;<span class="badge"><%= _.size(officers) %></span>
					</a>
				</li>
				<li>
					<a href="#" data-target="#tab-teams" data-toggle="tab" class="no-outline">
						<%= _.capitalize(lang.teams) %> &nbsp;<span class="badge"><%= _.size(teams) %></span>
					</a>
				</li>
			</ul>

			<div class="tab-content">
				
				<!-- Officers -->
				<div class="tab-pane active" id="tab-agents">
					<ul id="listAgents" class="unstyled inline nav nav-list">
						<%_.each(officers, function (officer, i) { console.log(officer); %>
							<li>
								<a id="pOfficer_<%= officer.id %>" href="#planning/officer/<%= _.slugify(officer.name).toUpperCase()%>">
									<i class="icon-user"></i><%= (officer.firstname != false ? officer.firstname : '') %> &nbsp;<%= officer.name.toUpperCase() %>
								</a>
							</li>
						<% }) %>
					</ul>
				</div>

				<!-- Teams -->
				<div class="tab-pane" id="tab-teams">
					<ul id="listTeams" class="unstyled inline nav nav-list">
						<% _.each(teams, function (team, i) {

							var teamMembers = "<li><i class='icon-asterisk'></i> "+ team.manager_id[1] +"</li>";

							_.each(team.members, function(teamMember){
								teamMembers += "<li><i class='icon-user'></i>&nbsp;"+ (teamMember.firstname != false ? teamMember.firstname.replace(' ', '&nbsp;') : '') +"&nbsp;"+ teamMember.name.toUpperCase().replace(' ', '&nbsp;') +"</li>"
							});
						%>

							<li rel="popover" data-original-title="<%= _.capitalize(lang.agents) %>" data-content="<ul class='unstyled'><%= teamMembers %></ul>" data-html="true" data-placement="left">
								<a id="pTeam_<%= team.id %>" href="#planning/team/<%= _.slugify(team.name).toUpperCase()%>">
									<i class="icon-group"></i><%= team.name %>
								</a>
							</li>
						<% }) %>
					</ul>
				</div>


		  	</div>
		</div>
		<!-- /List Officer/Teams -->


		<!-- Calendar -->
		<div id="calendarsContainer" style="overflow: hidden; max-height: 590px;">
			<div id="calendar"></div>
		</div>
		<!-- /Calendar -->


	</div>

</div>

<!-- Modal Form to add a new Task to Inter -->
<div id="modalAddTask" class="modal hide fade"></div>

<!-- Modal Form Delete Task -->
<div id="modalDeleteTask" class="modal hide fade"></div>

<!-- Modal Form Cancel Task -->
<div id="modalCancelTask" class="modal hide fade"></div>

<!-- Modal Form to add/update an inter -->
<div id="modalSaveInter" class="modal hide fade"></div>

<!-- Modal Form Cancel Intervention -->
<div id="modalCancelInter" class="modal hide fade"></div>

<div id="printingCalendar"></div>
