        		
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Modal header</h3>
		  </div>
		  <div class="modal-body">
		    <form>
				<div>
					<label>Temps travaillé:</label>
					<input id='total_hours' class="field" type="time"></input>
				</div>
				<div>
					<label>Temps restant:</label>
					<input id='remaining_hours' class="field" type="time"></input>
				</div>
			</form>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-primary">Save changes</button>
		  </div>
		</div>
    
    <!-- Contenu de la page -->
	<div class="container-fluid" data-spy="scroll" data-target=".navListAgents" >
		
		<!-- <div class="page-header">
			<div class="alert alert-success" style="">
  				<a class="close" data-dismiss="alert">×</a>
  				<strong>Tâche correctement attribuée</strong><br /> La tâche a correctement été attribué à l'agent.
			</div>-->

	
			<h1>Interventions <small>Services Techniques</small></h1>


	

		<div class="row-fluid">

			
			<!-- Interventions -->
			<div class="span3">
				
				<aside class="accordion" id="accordionInterventions" data-spy="affix" data-offset-top="5">
                	<!--  <div class="accordion-group">
                 		<div class="accordion-heading">
                    		<h5>
                    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseOne">
                					<i class="icon-pushpin icon-large"></i> 
                					&nbsp;Entretien <em class="muted">Bois Saint Laurent&nbsp;</em> <span class="badge badge-info pull-right">8h</span>
            					</a>
            				</h5>
                  		</div>
                  		<div id="collapseOne" class="accordion-body collapse in">
                    		<div class="accordion-inner">
					            <ul class="unstyled tasks">
					            	<% _.each(tasks, function (task, i) { %>
										<li class="external-event" id="task_<%= task.id %>" data-duration="2">
											<i class="icon-caret-right"></i> <%= task.name %>
											<span class="badge pull-right">2h</span>
										</li>
									<% }) %>
                      			</ul>
                			</div>
                  		</div>
                	</div>
					-->
					<div class="accordion-group">
						<div class="accordion-heading">
							<h5>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseTwo">
								<i class="icon-pushpin icon-large"></i> 
								&nbsp;Interventions <em class="muted">Taches&nbsp;</em> <span class="badge badge-info pull-right">10h</span>
								</a>
							</h5>
						</div>
						<div id="collapseTwo" class="accordion-body collapse in">
							<div class="accordion-inner">
								<ul class="unstyled tasks">
					            	<%  interventionsNotAssigned = interventions;					            		
					            		_.each(interventionsNotAssigned, function (interventionNotAssigned, i) { 
					            			tasksNotAssigned = interventionNotAssigned.tasks;
					            			console.debug("intervention : " + interventionNotAssigned.name);
					            			_.each(interventionNotAssigned.tasks, function (task, j, tasksNotAssigned) { 
					            				if(task.user_id != false) {	
					            					console.debug("pop task : " + task.name);			            			
													tasksNotAssigned.pop(task);
												}
											});
											interventionNotAssigned.tasks = tasksNotAssigned;											
											_.each(interventionNotAssigned.tasks, function (task, j) { 
												console.debug("#########TASK : " + task.name);
											});

									     });
									     interventions = interventionsNotAssigned;
									    _.each(interventions, function (intervention, i) { 
									    	console.debug("++rate:" + intervention.progress_rate);
					            			if(intervention.progress_rate != 100 && intervention.tasks.length >0 ){
						            		%>
											<li class="external-event" id="intervention_<%= intervention.id %>" data-duration="2">
												<i class="icon-caret-right"></i> <%= intervention.name %>
												<span class="badge pull-right">2h</span>
												<div class="accordion-inner">
										            <ul class="unstyled tasks">
										            	<% _.each(intervention.tasks, function (task, i) { 
										            		console.debug(task.user_id);
										            		if(task.user_id == false){ %>
															<li class="external-event" id="task_<%= task.id %>" data-duration="2">
																<i class="icon-caret-right"></i> <%= task.name %>
																<span class="badge pull-right"><%= task.planned_hours %></span>
															</li>
															<% } %>
														<% }) %>
					                      			</ul>
					                			</div>
											</li>
											<% } %>
									<% }) %>
								</ul>
							</div>
						</div>
					</div>

                	<!-- <div class="accordion-group">
                  		<div class="accordion-heading">
                    		<h5>
                    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseThree">
                    				<i class="icon-pushpin icon-large"></i> 
                    				&nbsp;Décoration <em class="muted">Mairie&nbsp;</em><span class="badge badge-info pull-right">5h</span></a>
                    		</h5>
                  		</div>
                  		<div id="collapseThree" class="accordion-body collapse">
		                    <div class="accordion-inner">
		                    	<ul class="unstyled tasks">
									<li class="external-event" data-duration="3"><i class="icon-caret-right"></i> Pose guirlande <span class="badge pull-right">3h</span></li>
									<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Pose des sapins <span class="badge pull-right">2h</span></li>
	                      		</ul>
		                    </div>
                  		</div>
                	</div>
              	</aside>  -->

			</div>
			<!-- /Interventions -->

			
			<!-- Calendrier -->
			<div class="span7">
				<% _.each(officers, function (officer, i) { %>
					<section id="<%= _.slugify(officer.firstname)%>-<%= _.slugify(officer.name)%>" class="calendarContainer">
						<div id="officer_<%= officer.id %>" class="calendar thumbnail" data-username="<%= officer.firstname %> &nbsp;<%= officer.name %>"></div>

					</section>
				<% }) %>
				

			</div>
			
			
			<!-- /Calendrier -->


			<!-- Menu Personnes - Equipes -->
			<div class="span2 navListAgents">
				<ul class="nav nav-list well well-small" id="listAgents" data-spy="affix" data-offset-top="5">
				  	<li class="nav-header">
				  		<h4><i class="icon-group icon-large"></i>&nbsp;&nbsp;&nbsp;&nbsp;Agents&nbsp;&nbsp;<span class="badge pull-right"><%= _.size(officers) %></span></h4></li>
					<li class="divider"></li>
					
					<% _.each(officers, function (officer, i) { %>
						<li><a href="#<%= _.slugify(officer.firstname)%>-<%= _.slugify(officer.name)%>"><i class="icon-caret-right"></i><%= officer.firstname %> &nbsp;<%= officer.name %></a></li>
					<% }) %>
				</ul>
			</div>
			<!-- /Menu Personnes - Equipes -->

		</div>

		


	</div>
	<!-- /Contenu de la page -->
