    <!-- Contenu de la page -->
	<div class="container-fluid" >
		
		<!-- <div class="page-header">
			<div class="alert alert-success" style="">
  				<a class="close" data-dismiss="alert">×</a>
  				<strong>Tâche correctement attribuée</strong><br /> La tâche a correctement été attribué à l'agent.
			</div>-->

	
			<h1>Interventions <small>Services Techniques</small></h1>


	

		<div class="row-fluid">

			
			<!-- Interventions -->
			<div class="span3">
				
				<aside class="accordion" id="accordionInterventions" data-spy="affix" data-offset-top="5">
                	<div class="accordion-group">
                 		<div class="accordion-heading">
                    		<h5>
                    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseOne">
                					<i class="icon-pushpin icon-large"></i> 
                					&nbsp;Entretien <em class="muted">Bois Saint Laurent&nbsp;</em> <span class="badge badge-info pull-right">8h</span>
            					</a>
            				</h5>
                  		</div>
                  		<div id="collapseOne" class="accordion-body collapse in">
                    		<div class="accordion-inner">
                      			<ul class="unstyled tasks">
                      				<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Tonte <span class="badge pull-right">2h</span></li>
                      				<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Élagage <span class="badge pull-right">2h</span></li>
                      				<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Taille <span class="badge pull-right">2h</span></li>
                      				<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Désherbage <span class="badge pull-right">2h</span></li>
                      			</ul>
                			</div>
                  		</div>
                	</div>

					<div class="accordion-group">
						<div class="accordion-heading">
							<h5>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseTwo">
								<i class="icon-pushpin icon-large"></i> 
								&nbsp;Rénovation <em class="muted">Centre Culturel Le Triskell&nbsp;</em> <span class="badge badge-info pull-right">10h</span>
								</a>
							</h5>
						</div>
						<div id="collapseTwo" class="accordion-body collapse">
							<div class="accordion-inner">
								<ul class="unstyled tasks">
									<li class="external-event" data-duration="4"><i class="icon-caret-right"></i> Tache 1 <span class="badge pull-right">4h</span></li>
									<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Tache 2 <span class="badge pull-right">2h</span></li>
									<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Tache 3 <span class="badge pull-right">2h</span></li>
									<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Tache 4 <span class="badge pull-right">2h</span></li>
	                      		</ul>
							</div>
						</div>
					</div>

                	<div class="accordion-group">
                  		<div class="accordion-heading">
                    		<h5>
                    			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionInterventions" href="#collapseThree">
                    				<i class="icon-pushpin icon-large"></i> 
                    				&nbsp;Décoration <em class="muted">Mairie&nbsp;</em><span class="badge badge-info pull-right">5h</span></a>
                    		</h5>
                  		</div>
                  		<div id="collapseThree" class="accordion-body collapse">
		                    <div class="accordion-inner">
		                    	<ul class="unstyled tasks">
									<li class="external-event" data-duration="3"><i class="icon-caret-right"></i> Pose guirlande <span class="badge pull-right">3h</span></li>
									<li class="external-event" data-duration="2"><i class="icon-caret-right"></i> Pose des sapins <span class="badge pull-right">2h</span></li>
	                      		</ul>
		                    </div>
                  		</div>
                	</div>
              	</aside>

			</div>
			<!-- /Interventions -->

			
			<!-- Calendrier -->
			<div class="span7">

				<section id="claudeTanniou" class="calendarContainer">
					<div id="AclaudeTanniou" class="calendar thumbnail" data-username="François Pignon"></div>
				</section>
				<section id="denisDugor" class="calendarContainer">
					<div id="AdenisDugor" class="calendar thumbnail" data-username="Marcel Durant" ></div>
				</section>
				<section id="didierGuirrec" class="calendarContainer">
					<div id="AdidierGuirrec" class="calendar thumbnail" data-username="Franck Dupond"></div>
				</section>
				<section id="fredericBironneau" class="calendarContainer">
					<div id="AfredericBironneau" class="calendar thumbnail" data-username="Frédéric BIRONNEAU"></div>
				</section>
				<section id="gilbertGalland" class="calendarContainer">
					<div id="AgilbertGalland" class="calendar thumbnail" data-username="Gilbert GALLAND"></div>
				</section>
				<section id="joelBrigant" class="calendarContainer">
					<div id="AjoelBrigant" class="calendar thumbnail" data-username="Joël BRIGANT"></div>
				</section>
				<section id="julienConan" class="calendarContainer">
					<div id="AjulienConan" class="calendar thumbnail" data-username="Julien CONAN"></div>
				</section>
				<section id="larryBillien" class="calendarContainer">
					<div id="AlarryBillien" class="calendar thumbnail" data-username="Larry BILLIEN"></div>
				</section>
				<section id="marcelLegall" class="calendarContainer">
					<div id="AmarcelLegall" class="calendar thumbnail" data-username="Marcel LE GALL"></div>
				</section>
				<section id="philippeBleis" class="calendarContainer">
					<div id="AphilippeBleis" class="calendar thumbnail" data-username="Philippe BLEIS"></div>
				</section>
				<section id="rogerTanguy" class="calendarContainer">
					<div id="ArogerTanguy" class="calendar thumbnail" data-username="Roger TANGUY"></div>
				</section>

				<!-- <form class="form-horizontal" id="addOfficier">
					<div class="control-group">
						<label class="control-label" for="nomFamille">Nom Famille *</label>
						<div class="controls">
							<input type="text" id="nomFamille" name="nomFamille" required placeholder="Nom Famille">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="prenomsOfficiels">Prénoms Officiels *</label>
						<div class="controls">
							<input type="text" id="prenomsOfficiels" name="prenomsOfficiels" required placeholder="Prénoms Officiels">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="actif">Actif</label>
						<div class="controls">
							<input type="checkbox" id="actif" name="actif" value="true">
						</div>
					</div>
		    		<div class="form-actions">
				    	<button type="submit" class="btn btn-primary">Enregistrer</button>
				    	<button type="reset" class="btn">Annuler</button>
				    </div>
				</form> -->

			</div>
			<!-- /Calendrier -->


			<!-- Menu Personnes - Equipes -->
			<div class="span2 navUser" >
				<ul class="nav nav-list well well-small" id="listAgents" data-spy="affix" data-offset-top="5">
				  	<li class="nav-header">
				  		<h4><i class="icon-group icon-large"></i>&nbsp;&nbsp;&nbsp;&nbsp;Agents&nbsp;&nbsp;<span class="badge pull-right">11</span></h4></li>
					<li class="divider"></li>
					<li><a href="#claudeTanniou"><i class="icon-caret-right"></i> François Pignon</a></li>
					<li><a href="#denisDugor"><i class="icon-caret-right"></i> Marcel Durant</a></li>
					<li><a href="#didierGuirrec"><i class="icon-caret-right"></i> Franck Dupond</a></li>
					<li><a href="#fredericBironneau"><i class="icon-caret-right"></i> Aimery Desbois</a></li>
					<li><a href="#gilbertGalland"><i class="icon-caret-right"></i> Andre Sergent</a></li>
					<li><a href="#joelBrigant"><i class="icon-caret-right"></i> Paul Saunier</a></li>
					<li><a href="#julienConan"><i class="icon-caret-right"></i> Philippe Royer</a></li>
					<li><a href="#larryBillien"><i class="icon-caret-right"></i> Ernest Roussel</a></li>
					<li><a href="#marcelLegall"><i class="icon-caret-right"></i> Vincent Renaud</a></li>
					<li><a href="#philippeBleis"><i class="icon-caret-right"></i> Frédéric Boisvert</a></li>
					<li><a href="#rogerTanguy"><i class="icon-caret-right"></i> Hugues Véron</a></li>
				</ul>
			</div>
			<!-- /Menu Personnes - Equipes -->

		</div>

	</div>
	<!-- /Contenu de la page -->