	<div id="planningToolbar" class="row-fluid">

		<!-- Button add intervention -->
		<button class="btn btn-primary no-outline addInterventionPlanning pull-left">
			<i class="icon-plus"></i> <%= _.capitalize(lang.actions.addIntervention) %>
		</button>

		<!-- Filter -->
		<div class="dropdown span5 offset1">

			<a id="filterStateIntervention" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#">
		   		<i class="icon-filter icon-large"> <%= _.capitalize(lang.status) %></i>
			</a>

			<ul id="filterStateInterventionList" class="dropdown-menu" aria-labelledby="filterStateIntervention">

				<% _.each(interventionsState, function (state, i) {
					if(i == app.Models.Intervention.status.scheduled.key || i == app.Models.Intervention.status.open.key || i == app.Models.Intervention.status.pending.key || i == app.Models.Intervention.status.template.key){
				%>
					<li>
						<a tabindex="-1" href="#<%= state.key %>">
							<i class="badge badge-<%= state.color %>">&nbsp;</i>
							&nbsp; <%= _.capitalize(state.translation) %>
						</a>
					</li>
				<% }
				}) %>
					<li class="divider"></li>
					<li class="delete-filter disabled"><a href="#delete-filter"><%= _.capitalize(lang.deleteFilter) %></a></li>
			</ul>
		</div>
		<br />
	</div>


<% if( _.size(interventions) > 0 ) { %>
	
	<div class="accordion" id="accordionInter" style="overflow-y: scroll; max-height: 725px; margin-bottom: 0;">

		<!-- State Color -  To Schedule - Scheduled - Template-->
		<% _.each(interventions, function (intervention, i) { 
			var informationHour	= '';

			var classColor = app.Models.Intervention.status[intervention.state].color;

			if(intervention.state != app.Models.Intervention.status.template.key){
				informationHour = (intervention.planned_hours != false ? app.decimalNumberToTime(intervention.planned_hours, 'human') : '');
			}
			else{
				informationHour = (intervention.total_hours != false ? app.decimalNumberToTime(intervention.total_hours, 'human') : '');
			}


			if(intervention.description != false){
				var description = "<i class='icon-flag'></i>&nbsp; "+intervention.description+"<br />";
			}
			else{
				var description = "";
			}

			var popoverContent = description+ "<i class='icon-map-marker'></i>&nbsp; "+intervention.site1[1];
		%>
			<div class="accordion-group">
				<div class="accordion-heading border-emphasize border-emphasize-<%= classColor %>">
					<a href="#collapse_<%= intervention.id %>" class="accordion-toggle no-outline" 
					   data-toggle="collapse" data-parent="#accordionInter"  
					   rel="popover" data-placement="right" data-html="true" data-title="<%= intervention.name %>"
					   data-content="<%= popoverContent %>" >

						<i class="icon-pushpin">&nbsp;&nbsp;</i><span><%= _(intervention.name).truncate(25) %></span>

						<!-- Intervention Actions -->
						<button class="btn btn-link invisible linkToInter" type="button" data-toggle="modal" rel="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>" data-placement="top" data-delay="50"><i class="icon-pencil"></i></button>	
						
						<% if(intervention.actions.indexOf("cancel") > -1) { %>
							<button data-target="#modalCancelInter" class="btn btn-link buttonCancelInter invisible" data-toggle="modal" rel="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>" data-placement="top" data-delay="50"><i class="icon-ban-circle"></i></button>
						<% } %>

						<small class="badge badge-<%= classColor %> pull-right"><%= informationHour %></small>
					</a>
				</div>

				<div id="collapse_<%= intervention.id %>" class="accordion-body collapse border-emphasize border-emphasize-<%= classColor %>">
					<div class="accordion-inner">

						<!-- Check if there is some tasks -->
						<% var hasTasks = intervention.tasks.length != 0;
						if(hasTasks) { %>

							<!-- Display all task of the Intervention -->
							<ul class="unstyled tasks">
							<% 
								//var allPlanned = true;
								_.each(intervention.tasks, function (task, i) { %>

									<!-- To Schedule -->
									<% if(task.state == app.Models.Task.status.draft.key) { %>
									<li id="task_<%= task.id %>" class="external-event">
										<i class="icon-chevron-right"></i> <%= task.name %>
										<%if(task.actions.indexOf("delete") > -1){ %>
										<a href="#modalDeleteTask" class="modalDeleteTask hide" data-toggle="modal">
											<i class="icon-remove displayInlineBlock modalDeleteTask" rel="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>" data-placement="top" data-delay="50">&nbsp;</i>
										</a>
										<% } %>
										<small class="badge badge-<%= app.Models.Task.status.draft.color %> pull-right"><%= task.planned_hours %>h</small>
									</li>

									<!-- Schedule -->
									<% //allPlanned = false;

									} else if(task.state == app.Models.Task.status.open.key){ %>
									<li id="task_<%= task.id %>" class="external-event disabled">
										<i class="icon-time" rel="tooltip" data-placement="right"></i> <%= task.name %>
										<small class="badge badge-<%= app.Models.Task.status.open.color %> pull-right"><%= app.decimalNumberToTime(task.planned_hours, 'human') %></small>
									</li>
									<% } %>

							<%	}); %>
						<% } else { %>

							<!-- No task to display -->
							<div class="alert alert-info">
								<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noTaskForIntervention %>.

							</div>
						<% } %>
						</ul>

						<!-- Intervention Action -->
						<div class="div-actions">

							<!-- Add Task -->
							<button class="btn btn-primary btn-small no-outline addTaskPlanning" id="<%= intervention.id %>" rel="tooltip" 
									data-original-title="<%= _.capitalize(lang.actions.addTask) %>" data-placement="right"
								<% if(intervention.actions.indexOf("add_task") == -1) { %>
									disabled
								<% } %>>
								<i class="icon-plus"></i>
							</button>

							<!-- Switch button - To Scheduled / Scheduled -->
							<% if(hasTasks && intervention.state != app.Models.Intervention.status.template.key) { %>

								<div class="switch switch-small calendarSwitch pull-right" data-on-label="<%= _.capitalize(lang.planningFenced) %>" data-off-label="<%= _.capitalize(lang.toScheduled) %>" data-on="primary" data-off="warning">

									<input type="checkbox" 
										<% if(intervention.state == app.Models.Intervention.status.scheduled.key){ %>
											checked
										<% } %>

										<% if(intervention.actions.indexOf("plan_unplan") == -1){ %>
											disabled
										 <% } %>
										/>
								</div>

							<% } %>
						</div>

					</div>
				</div>
			</div>
		<% }) %>

	</div>
	<% }else { %>

		<!-- No interventions to display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noRequest %>
		</div>
	
<% } %>
<!-- /Interventions List -->
<!-- /Left Column -->