<!-- Form to print paperboard-->
<div id="printingCalendar" class="hide container-fluid" >

	<!-- <table cellpadding="0" cellspacing="0" border="0" class="bordered-table zebra-striped" id="example">  -->
	<!--  <table  class="table table-striped table-bordered" border="1" id="example" width="100%"> -->
    <div>
    	<div class="top">
    		<div class="dataTables_info" id="example_info">
    			<h1>Fiche d'interventions: <em id="worker"></em></h1>	
   				
    		</div>
    		<div class="dataTables_filter" id="example_filter">
    			<img src="<%= app.config.logo_path %>" />
    		</div>
    		<div id="example_length" class="dataTables_length">
    			<h2>
    				<span class="before-muted"></span>
					<em class="muted"></em>
				</h2>    			
    		</div>
    		<div class="dataTables_paginate paging_two_button" id="example_paginate">
    		</div>
    		<div class="clear"></div>
    	</div>

		<table class="dataTables dataTables_wrapper" id="paperboard">
			<thead class="top">
				<tr>
					<th>Day</th>
					<th><%= _.capitalize(lang.intervention) %></th>
					<th><%= _.capitalize(lang.description) %></th>
					<th><%= _.capitalize(lang.label) %></th>
					<th><%= _.capitalize(lang.place) %></th>
					<th>Heure début fin</th>
					<th><%= _.capitalize(lang.estimatedHours) %></th>
					<th><%= _.capitalize(lang.spentHours) %></th>
					<th><%= _.capitalize(lang.remainingHours) %> <!--Temps restant estimé par l'agent--></th>
					<th><%= _.capitalize(lang.done) %></th>
					<th><%= _.capitalize(lang.materialEquipment) %> / <%= _.capitalize(lang.vehicleEquipment) %></th>
					<th><%= _.capitalize(lang.oilQtity) %></th>
					<th><%= _.capitalize(lang.km) %></th>
					<th><%= _.capitalize(lang.oilPrice) %></th>
				</tr>
			</thead>
		</table>

	</div>
</div>