<!-- Check the group of the user to display element with the good color -->
<% 
	if(app.models.user.isDST()) { 
		var classColor = app.Models.Request.state[1].color;
		var actionRequestToProcess = lang.actions.confirm;
	}
	else if(app.models.user.isManager()){
		var classColor = app.Models.Request.state[0].color;
		var actionRequestToProcess = lang.actions.process;
	}
	else{ 
		var classColor = '';
		var actionRequestToProcess = '';
	} 
%>



<div class="page-header">
	<h1>
		<%= lang.viewsTitles.requestsList %>
		<sup data-toggle="tooltip" data-original-title="<%= actionRequestToProcess %>">
			<i class="badge badge-<%= classColor %>" ><%= nbInterventionsInBadge %></i>
		</sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Message if No Request to Display -->
	<% if(requests.length == 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-info">
				<i class="icon-info-sign icon-large"></i>&nbsp;<%= lang.infoMessages.noRequest %>
			</div>
		</div>
	<% } %>


	<!-- Table toolbar -->
	<div class="tableToolbar">
		<a href="#demandes-dinterventions/add" class="btn btn-primary"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addRequest) %></a>

		<form class="form-search pull-right">
			<div class="input-append">
				<input type="search" class="input-medium search-query" disabled="disabled" placeholder="<%= lang.actions.search %>..." autocomplete="off">
				<button type="submit" disabled class="btn disabled"><i class="icon-search icon-large"></i></button>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<!-- Table Requests -->
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>N°</th>
				<th><%= _.capitalize(lang.label) %></th>
				<th class="hidden-phone"><%= _.capitalize(lang.place) %></th>
				<th><%= _.capitalize(lang.service) %></th>
				<th><%= _.capitalize(lang.claiment) %></th>
				<th><%= _.capitalize(lang.dateRequest) %></th>
				<th>
					<%= _.capitalize(lang.status) %>
					<div class="dropdown pull-right">
						<a id="filterStateRequest" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#"><i class="icon-filter icon-large"></i></a>
						
						<ul id="filterStateRequestList" class="dropdown-menu" role="menu" aria-labelledby="filterStateRequest">
							<% _.each(requestsState, function (state, i) { %>
								<li role="menuitem">
									<a tabindex="-1" href="#<%= state.value %>"> 
										<i class="badge <%= (state.color != '' ? 'badge-'+state.color : '') %>">&nbsp;</i>
										&nbsp; <%= _.capitalize(state.traduction) %>
									</a>
								</li>
							<% }) %>
								<li class="divider"></li>
								<li class="delete-filter disabled"><a href="#delete-filter"><i class="icon-remove"></i> <%= _.capitalize(lang.deleteFilter) %></a></li>
						</ul>
					</div>
				</th>
				
				<% if(app.models.user.isDST() || app.models.user.isManager()){ %>
					<th class="span1"><%= _.capitalize(lang.action) %></th>
				<% } %>
			</tr>
		</thead>

	<!-- Check if there is Request in the Database -->
	<% if(requests.length != 0) { %>

		<tbody>
			<% for (var i = startPos; i < endPos; i++) { %>
			
				<!-- Set if the table row should be hightlight and Bold -->
				<% 
					if(requests[i].state == app.Models.Request.state[0].value && app.models.user.isManager()) {
						var classRow = classColor+" bolder";
					}
					else if(requests[i].state == app.Models.Request.state[1].value && app.models.user.isDST()){
						var classRow = classColor+" bolder";
					}
					else{
						var classRow = "";
					}
					var createdBy = (requests[i].create_uid != '' ?_.capitalize(lang.createdBy) + requests[i].create_uid[1]: "");

					var description = (requests[i].description != '' ? requests[i].description : _.capitalize(lang.notKnown));

					var modifydBy = (requests[i].write_uid != '' ?_.capitalize(lang.modifyBy) + requests[i].write_uid[1] : "");
				%>


				<!-- Request row -->
				<tr id="<%= requests[i].id %>" class="<%= classRow %>">
					<td><%= requests[i].id %></td>

					<td>
						<a 	href="#demandes-dinterventions/<%= requests[i].id %>" rel="popover" 
							data-content="<%= description %><br /><em><%= createdBy %></em>"
							data-html="true" data-delay="160"
							data-original-title="<%= _.capitalize(lang.description) %>">
							<%= _.capitalize(requests[i].name) %>
						</a>
					</td>

					<!-- Request site -->
					<td class="hidden-phone"><%= (requests[i].site1 != false ? _(requests[i].site1[1].toLowerCase()).titleize() : "") %></td>

					<!-- Request service -->
					<td>
						<span data-toggle="tooltip"
							data-original-title="<%= _.capitalize(lang.toValidateBy) %> <%= (requests[i].manager_id != false ? requests[i].manager_id[1] : _.capitalize(lang.notKnown)) %>">
							<%= requests[i].belongsToService!=null?requests[i].belongsToService.name:"" %>
						</span>
					</td>

					<!-- Claimer -->
					<td>
						<% if(requests[i].partner_id != false){ %>
							<span data-toggle="tooltip" data-original-title="<%= requests[i].partner_address[1] %>"><%= requests[i].partner_id[1] %></span>
						
						<% } else{ %>
							<%= requests[i].people_name %>
						<% } %>
					</td>



					<!-- Request Date -->
					<td>
						<span 
							data-toggle="tooltip"
							data-original-title="<%= moment(requests[i].create_date, 'YYYY-MM-DD HH:mm:ss').add('hours',1).fromNow() %>">
							<%= ( requests[i].create_date != null &&  requests[i].create_date != "" ) ? moment(requests[i].create_date, 'YYYY-MM-DD HH:mm:ss').add('hours',1).format('LLL'): "" %>
						</span>
					</td>

					<!-- Request state -->
					<td>

						<!-- Set information for the state if the Request is Valid, Refused or cancelled -->
						<% if(requests[i].state == app.Models.Request.status.valid.key){
							var title = requests[i].infoMessage;
						}
						else if(requests[i].state == app.Models.Request.status.closed.key){
							if(requests[i].intervention_ids[0].state == app.Models.Intervention.state[2].value){
								var title = requests[i].infoMessage;	
							}
							else{
								var title = requests[i].intervention_ids[0].cancel_reason;
							}
							
						}
						else if(requests[i].state == app.Models.Request.status.refused.key){
							var title = requests[i].refusal_reason  + '\n('+ modifydBy +')';
						}
						else{
							var title = '';
						}
						
						%>
						<span class="label label-<%= app.Models.Request.status[requests[i].state].color %>" data-toggle="tooltip" data-original-title="<%= title %>">
							<%= app.Models.Request.status[requests[i].state].translation %>
						</span>
					</td>



					<!-- Action column -->
					<td class="align">
					<!-- Check if the user can make action on the request -->
					<%  var actions = requests[i].actions;
						if(!_.isEmpty(actions)){ %>

						<!-- Create the buttons group action -->
						<div class="btn-group">

							<!-- Check if the request is not in waiting state -->
							<%
							
							if(requests[i].state != app.Models.Request.status.wait.key){
								var mainAction = '';
								var mainActionIcon = app.Models.Request.actions[requests[i].state].icon;
								var mainActionColor = app.Models.Request.actions[requests[i].state].color;
								var mainActionDisabled = 'disabled';
							}else{
								var mainAction = app.Models.Request.actions.valid.key;
								var mainActionColor = app.Models.Request.actions.valid.color;
								var mainActionIcon = app.Models.Request.actions.valid.icon;
								var mainActionDisabled = '';

								/ Remove validate action from the array actions /
								actions = _.without(actions, app.Models.Request.actions.valid.key);
							} %>

							<!-- Main action button -->
							<button class="btn btn-small btn-<%= mainActionColor %> <%= mainActionDisabled %> no-outline button<%= _.capitalize(mainAction) %>Request" data-toggle="modal" data-target="#modal<%= _.capitalize(mainAction) %>Request">
								<i class="<%= mainActionIcon %> icon-fixed-width button<%= _.capitalize(mainAction) %>Request"></i>
							</button>
							
							<!-- Dropdown button action -->
							<button class="btn btn-small dropdown-toggle no-outline" data-toggle="dropdown">
								<span class="icon-caret-down"></span>
							</button>
							
							<!-- Other buttons action -->
							<ul class="dropdown-menu pull-right text-left">
								<% _.each(actions, function(action){ %>
									<li>
										<a href="#modal<%= _.capitalize(app.Models.Request.actions[action].key) %>Request" data-toggle="modal" class="button<%= _.capitalize(app.Models.Request.actions[action].key) %>Request">
											<i class="<%= app.Models.Request.actions[action].icon %> icon-fixed-width"></i>&nbsp;<%= _.capitalize(app.Models.Request.actions[action].translation) %>
										</a>
									</li>
								<% }); %>
							</ul>
						</div>

					<% } %>
					</td>

				</tr>
			<% } %>
		</tbody>
		<% } %>

	</table>
	<!-- /Table Requests -->


	<!-- Table pagination -->
	<div class="pagination pagination-right">
		<ul>
			<!-- First page button -->
			<% if(page-2 >= 1){ %>
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandes-dinterventions/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
			<% } %>
			
			<!-- Previous page button -->
			<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#demandes-dinterventions/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
		
			<!-- [...] page Button -->
			<% 	if (page-2 > 1) { %>
					<li class="disabled"><a href='#'>...</a></li>
			<% } 
					
				for (var i=(page-2); i < (page+3); i++) {
					if(i >= 1 && i <= pageCount){ %>
						<li <%= (i === page ? " class='active'" : "")%>><a href='#demandes-dinterventions/page<%=i%>'><%= i %></a></li>
					<% }

				} %>
				
			<!-- [...] page Button -->
			<% if (page+2 < pageCount) { %>
				<li class="disabled"><a href='#'>...</a></li>
			<% } %>
			
			<!-- Next page button -->
			<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandes-dinterventions/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
			
			<!-- Last page button -->
			<% if(page+2 <= pageCount){ %>
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#demandes-dinterventions/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
			<% } %>
		</ul>
	</div>
	<!-- /Table pagination -->

</div>



<!-- Modal Form to validate the Request -->
<div id="modalValidRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.validRequest %></h3>
	</div>

	<div class="modal-body">

		<form id="formValidRequest" action="#" class="form-horizontal">

			<!-- Request name -->
			<div class="control-group">
				<label for="requestName" class="control-label"><%= _.capitalize(lang.label) %>:</label>

				<div class="controls">
					<input type="text" id="requestName" name="requestName" readonly />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Intervention Request Catégory -->
			<div class="control-group">
				<label for="requestAssignement" class="control-label"><%= _.capitalize(lang.category) %>:</label>

				<div class="controls">
					<select id="requestAssignement" name="requestAssignement" required="required"></select>
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Request Service -->
			<div class="control-group">
				<label for="requestService" class="control-label"><%= lang.serviceConcerned %>:</label>

				<div class="controls">
					<select id="requestService" name="requestService"></select>
					<span class="help-inline"></span>
				</div>
			</div>


			<!-- Request Note description -->
			<div class="control-group">
				<label for="requestNote" class="control-label"><%= _.capitalize(lang.note) %>:</label>

				<div class="controls">
					<textarea id="requestNote" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>


			<!-- Create Associated Task Link -->
			<div class="control-group">
				<div class="controls">
					<label class="checkbox" for="createAssociatedTask"><input type="checkbox" id="createAssociatedTask"> <%= lang.actions.createAssociatedTask %></label>
				</div>
			</div>


			<!-- Create associate task -->
			<fieldset class="associated-task hide">
				<legend><%= lang.aboutTheTask %></legend>

				<!-- Estimated hour -->
				<div class="control-group">
					<label for="taskHour" class="control-label"><%= lang.estimatedHours %>:</label>
					<div class="controls">
						<div class="input-append bootstrap-timepicker" >							
							<input type="text" value="01:00" class="timepicker-default input-small" id='taskHour' required="required">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
					</div>
				</div>

				<!-- Task Category -->
				<div class="control-group">
					<label for="taskCategory" class="control-label"><%= _.capitalize(lang.category) %>:</label>

					<div class="controls">
						<select id="taskCategory"></select>
						<span class="help-inline"></span>
					</div>
				</div>

			</fieldset>

		</form>
	</div>

	<div class="modal-footer">
		<button type="submit" form="formValidRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form ton Refuse the Request -->
<div id="modalRefusedRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.refuseRequest %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalRefusedRequest" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<form id="formRefuseRequest" action="#" class="form-horizontal">
		
			<!-- Request Refuse description -->
			<div class="control-group">
				<label for="motifRefuse" class="control-label"><%= _.capitalize(lang.refusalReason) %>:</label>

				<div class="controls">
					<textarea id="motifRefuse" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formRefuseRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form ton submit to the DST -->
<div id="modalConfirmRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.confirmChief %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalConfirmDST" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<form id="formConfirmDSTRequest" action="#" class="form-horizontal">
		
			<!-- Request confirm DST information -->
			<div class="control-group">
				<label for="motifDST" class="control-label"><%= lang.infoMessages.information %>:</label>

				<div class="controls">
					<textarea id="motifDST" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formConfirmDSTRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>
