
<% if ( request.id != null && request.id !=0 ) { %>
    <h1>
        <%= lang.viewsTitles.requestDetail %> n°<%= request.id %>
        
        
        <% _.each(requestsState, function (state, i) { 
            if(state.value == request.state){ %>
                <span class="label label-<%= state.color %> vertical-align-middle marginLeft"><%= state.traduction %></span>
        <% }} ) %>

    </h1><br />

<% } else { %>
    <h1><%= lang.viewsTitles.newRequest %></h1><br />
<% } %>


<form id="formRequest" action="#" class="form-horizontal container-fluid">
    
    <div class="row-fluid">
    
        <!-- About the claimer -->
        <fieldset class="span6">
            <legend><%= lang.aboutTheClaimer %></legend>
            
            <!-- Request Partner Type -->
            <div class="control-group">
                <label for="requestClaimerType" class="control-label"><%= _.capitalize(lang.type) %>:</label>

                <div class="controls">
                     <select id="requestClaimerType"></select>
                    <span class="help-inline"></span>
                </div>
            </div>

            <!-- Request Partner -->
            <div class="control-group" id="requestClaimerBlock" style="display:none">
                <label for="requestClaimer" class="control-label"><%= _.capitalize(lang.name) %>:</label>

                <div class="controls">
                     <select id="requestClaimer"></select>
                    <span class="help-inline"></span>
                </div>
            </div>

                <!-- Request Contact Service -->
                <div class="control-group" id="requestContactServiceBlock" style="display:none">
                    <label for="requestContactService" class="control-label" ><%= _.capitalize(lang.service) %>:</label>

                    <div class="controls">
                        <input type="text" id="requestContactService" name="requestContactService" readonly="readonly" />
                        <span class="help-inline"></span>
                    </div>
                </div>
		<br />


            <!-- Details about the claimer -->
            <fieldset>
                <legend><%= lang.claimerDetails %></legend>
                        
                <!-- Request Contact -->
                <div class="control-group">
                    <label for="requestContact" class="control-label"><%= _.capitalize(lang.contact) %>:</label>

                    <div class="controls">
                        <div id="requestContactSelectBlock" style="display:none">
                            <select id="requestContactSelect" name="requestContact" disabled="disabled" style="float:left"></select>
                            <span class="help-inline"></span>
                        </div>

                        <div id="requestContactInputBlock" style="display:inline">
                            <input type="text" id="requestContactInput" name="requestContact" readonly="readonly" style="float:left" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>

                <!-- Request Contact Phone -->
                <div class="control-group">
                    <label for="requestContactPhone" class="control-label"><%= _.capitalize(lang.phone) %>:</label>

                    <div class="controls">
                         <input type="tel" id="requestContactPhone" name="requestContactPhone" readonly="readonly" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Contact Email -->
                <div class="control-group">
                    <label for="requestContactEmail" class="control-label"><%= _.capitalize(lang.email) %>:</label>

                    <div class="controls">
                         <input type="email" id="requestContactEmail" name="requestContactEmail" readonly="readonly" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            
            </fieldset>

        </fieldset>


        <!-- About the request -->
        <fieldset class="span6">

            <legend><%= lang.aboutTheRequest %></legend>

                <!-- Request Name -->
                <div class="control-group">
                    <label for="requestName" class="control-label"><%= _.capitalize(lang.label) %>:</label>

                    <div class="controls">
                        <input type="text" id="requestName" name="requestName" value="<%= request.name %>" required="required" />
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Description -->
                <div class="control-group">
                    <label for="requestDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>

                    <div class="controls">
                        <textarea name="requestDescription" id="requestDescription" rows="5" required="required"><%= request.description %></textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request DeadLine -->
                <div class="control-group">
                    <label class="control-label" for="requestDateDeadline"><%= _.capitalize(lang.dateDeadline) %>:</label>
                    <div class="controls">
                        <input 
                            type="text" class="datePicker" 
                            id="requestDateDeadline" 
                            value="<%= (request.date_deadline) != "" ? moment(request.date_deadline, 'YYYY-MM-DD').format('L') : "" %>" 
                            placeholder="dd/mm/yyyy"
                            required="required"
                            readonly="readonly">
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Contact Service -->
                <div class="control-group">
                    <label for="requestDetailService" class="control-label"><%= lang.serviceConcerned %>:</label>

                    <div class="controls">
                        <select id="requestDetailService"></select>
                        <span class="help-inline"></span>
                    </div>
                </div>

                <!-- Request Place -->
                <div class="control-group">
                    <label for="requestPlace" class="control-label"><%= _.capitalize(lang.place) %>:</label>

                    <div class="controls">  
                        <select id="requestPlace"><option value="" disabled="disabled" ></option></select>
                        <span class="help-inline"></span>                           
                    </div>
                </div>

                <!-- Request Place precision -->
                <div class="control-group">
                    <label for="requestPlacePrecision" class="control-label"><%= _.capitalize(lang.informationOfTheSite) %>:</label>

                    <div class="controls">  
                         <textarea name="requestPlacePrecision" id="requestPlacePrecision" rows="2"><%= request.site_details!=false?request.site_details:'' %></textarea>
                        <span class="help-inline"></span>                           
                    </div>
                </div>

        </fieldset>
    
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary save"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
        <a href="#" class="text-info"><%= lang.actions.cancel %></a>
    </div>

</form>
