<div class="page-header">
	<h1>
		<%= lang.viewsTitles.requestsList %>

		<% if(app.models.user.isDST()) { 
				var classColor = app.Models.Request.status.confirm.color;
				var filterValue = app.Models.Request.status.confirm.key;
				var actionToProcess = lang.actions.confirm; 
			}
		   else if(app.models.user.isManager()){ 
		   		var classColor = app.Models.Request.status.wait.color;
		   		var filterValue = app.Models.Request.status.wait.key;
		   		var actionToProcess = lang.actions.process; }
		   else{ var classColor = ''; var actionToProcess = ''; var filterValue = ''; }
		%>

		<sup id="badgeActions" class="badge badge-<%= classColor %>" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
			<%= nbRequests %>
		</sup>
	</h1>
</div>


<div class="container-fluid">


	<!-- Table toolbar -->
	<div class="tableToolbar">
		<a href="#demandes-dinterventions/add" class="btn btn-primary"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addRequest) %></a>

		<form class="form-search pull-right">
			<div class="input-append">
				<input type="search" class="input-medium search-query" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<button type="submit" class="btn"><i class="icon-search text-info icon-large"></i></button>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->


	<!-- Message if No Request to Display -->
	<% if(nbRequests <= 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-info">
				<i class="icon-info-sign icon-large"></i>&nbsp;<%= lang.infoMessages.noRequest %>
			</div>
		</div>
	<% } %>


	<!-- Table Requests -->
	<table class="table table-striped table-bordered table-hover table-sorter">
		<thead>
			<tr>
				<th data-sort-column="id" class="span1">N°</th>
				<th data-sort-column="name" class="span6"><%= _.capitalize(lang.label) %></th>
				<th class="hidden-phone span5"><%= _.capitalize(lang.place) %></th>
				<th><%= _.capitalize(lang.service) %></th>
				<th><%= _.capitalize(lang.claiment) %></th>
				<th data-sort-column="create_date"><%= _.capitalize(lang.createDate) %></th>
				<th>
					<%= _.capitalize(lang.status) %>
					<div class="dropdown pull-right">
						<a id="filterStateRequest" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#"><i class="icon-filter icon-large"></i></a>

						<ul id="filterStateRequestList" class="dropdown-menu" role="menu" aria-labelledby="filterStateRequest">
							<% _.each(requestsState, function (state, i) { %>
								<li role="menuitem">
									<a tabindex="-1" href="#<%= state.key %>"> 
										<i class="badge badge-<%= state.color %>">&nbsp;</i>
										&nbsp; <%= _.capitalize(state.translation) %>
									</a>
								</li>
							<% }) %>
								<li class="divider" role="menuitem"></li>
								<li class="delete-filter disabled" role="menuitem"><a href="#delete-filter"><i class="icon-remove"></i> <%= _.capitalize(lang.deleteFilter) %></a></li>
						</ul>
					</div>
				</th>

				<% if(app.models.user.isDST() || app.models.user.isManager()){ %>
					<th class="span1"><%= _.capitalize(lang.action) %></th>
				<% } %>
			</tr>
		</thead>
		<tbody id="rows-items">
			
		</tbody>

	</table>
	<!-- /Table Requests -->


	<!-- Table pagination -->
	<div id="pagination"></div>
	<!-- /Table pagination -->

</div>












































<!-- Modal Form to validate the Request -->
<div id="modalValidRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.validRequest %></h3>
	</div>

	<div class="modal-body">

		<form id="formValidRequest" action="#" class="form-horizontal">

			<!-- Request name -->
			<div class="control-group">
				<label for="requestName" class="control-label"><%= _.capitalize(lang.label) %>:</label>

				<div class="controls">
					<input type="text" id="requestName" name="requestName" readonly />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Intervention Request Catégory -->
			<div class="control-group">
				<label for="requestAssignement" class="control-label"><%= _.capitalize(lang.category) %>:</label>

				<div class="controls">
					<select id="requestAssignement" name="requestAssignement" required="required"></select>
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Request Service -->
			<div class="control-group">
				<label for="requestService" class="control-label"><%= lang.serviceConcerned %>:</label>

				<div class="controls">
					<select id="requestService" name="requestService" required="required"></select>
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- intervention DeadLine -->
			<div class="control-group">
				<label class="control-label" for="requestDateDeadline"><%= _.capitalize(lang.dateDeadline) %>:</label>
				<div class="controls">
					<div class="input-append">
					<input 
						type="text" class="datepicker input-small"
						id="requestDateDeadline" 
						value="<%= moment().add('w', 1).format('L') %>" 
						placeholder="dd/mm/yyyy"
						required="required">
						<span class="add-on"><i class="icon-calendar"></i></span>
					</div>
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Request Note description -->
			<div class="control-group">
				<label for="requestNote" class="control-label"><%= _.capitalize(lang.note) %>:</label>

				<div class="controls">
					<textarea id="requestNote" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>


			<!-- Create Associated Task Link -->
			<div class="control-group">
				<div class="controls">
					<label class="checkbox" for="createAssociatedTask"><input type="checkbox" id="createAssociatedTask"> <%= lang.actions.createAssociatedTask %></label>
				</div>
			</div>


			<!-- Create associate task -->
			<fieldset class="associated-task hide">
				<legend><%= lang.aboutTheTask %></legend>

				<!-- Estimated hour -->
				<div class="control-group">
					<label for="taskHour" class="control-label"><%= lang.estimatedHours %>:</label>
					<div class="controls">
						<div class="input-append bootstrap-timepicker" >							
							<input type="text" value="01:00" class="timepicker-default input-small" id='taskHour' required="required">
							<span class="add-on"><i class="icon-time"></i></span>
						</div>
					</div>
				</div>

				<!-- Task Category -->
				<div class="control-group">
					<label for="taskCategory" class="control-label"><%= _.capitalize(lang.category) %>:</label>

					<div class="controls">
						<select id="taskCategory"></select>
						<span class="help-inline"></span>
					</div>
				</div>

			</fieldset>

		</form>
	</div>

	<div class="modal-footer">
		<button type="submit" form="formValidRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form ton Refuse the Request -->
<div id="modalRefusedRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.refuseRequest %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalRefusedRequest" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<form id="formRefuseRequest" action="#" class="form-horizontal">
		
			<!-- Request Refuse description -->
			<div class="control-group">
				<label for="motifRefuse" class="control-label"><%= _.capitalize(lang.refusalReason) %>:</label>

				<div class="controls">
					<textarea id="motifRefuse" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formRefuseRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form ton submit to the DST -->
<div id="modalConfirmRequest" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= lang.viewsTitles.confirmChief %></h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalConfirmDST" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<form id="formConfirmDSTRequest" action="#" class="form-horizontal">
		
			<!-- Request confirm DST information -->
			<div class="control-group">
				<label for="motifDST" class="control-label"><%= lang.infoMessages.information %>:</label>

				<div class="controls">
					<textarea id="motifDST" rows="5" required="required"></textarea>
					<span class="help-inline"></span>
				</div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formConfirmDSTRequest" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>