<div class="page-header">
	<h1>
		<%= lang.viewsTitles.requestsList %>

		<% if(app.models.user.isDST() || app.models.user.isManager()){

		  if(app.models.user.isDST()) { 
				var classColor      = app.Models.Request.status.confirm.color;
				var filterValue     = app.Models.Request.status.confirm.key;
				var actionToProcess = lang.actions.confirm; 
			}
			else if(app.models.user.isManager()){ 
		   		var classColor      = app.Models.Request.status.wait.color;
		   		var filterValue     = app.Models.Request.status.wait.key;
		   		var actionToProcess = lang.actions.process; }
			else{ 
		   		var classColor      = '';
		   		var actionToProcess = '';
		   		var filterValue     = ''; 
			}
		%>
		
		<sup id="badgeActions" class="badge badge-<%= classColor %> badge-action" data-filter="<%= filterValue %>" data-toggle="tooltip" data-original-title="<%= actionToProcess %>" data-placement="bottom">
			<%= nbRequestsToDeal %>
		</sup>

		<% } %>

		<sup class="badge"><%= nbRequests %></sup>
	</h1>
</div>


<div class="row">


	<!-- Table toolbar -->
	<div class="tableToolbar row">
		<div class="col-sm-9 col-xs-8">
			<a href="#demandes-dinterventions/add" id="buttonAddRequest" class="btn btn-primary"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addRequest) %></a>
		</div>


		<form class=" form-search pull-right col-sm-3 col-xs-4">
			<div class="input-group">
				<input type="search" class="form-control" placeholder="<%= _.capitalize(lang.actions.search) %>..." autocomplete="off">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="icon-search icon-large"></i></button>
				</span>
			</div>
		</form>
	</div>
	<!-- Table toolbar -->



	<!-- Message if No Request to Display -->
	<% if(nbRequests <= 0) { %>
		<div class="tableToolbar">
			<div class="alert alert-info">
				<i class="icon-info-sign icon-large"></i>&nbsp;<%= lang.infoMessages.noRequest %>
			</div>
		</div>
	<% } %>


	<!-- Table Requests -->
	<div class="table-responsive ">
	<table class="table table-striped table-bordered table-hover table-sorter">
		<thead>
			<tr>
				<th data-sort-column="id" class="span1">N°</th>
				<th data-sort-column="name" class="span6"><%= _.capitalize(lang.label) %></th>
				<th class="hidden-phone span5"><i class="icon-map-marker icon-fixed-width" style="text-align:center;"></i><%= _.capitalize(lang.place) + ' - '%><i class="icon-wrench icon-fixed-width" style="text-align:center;"></i><%= _.capitalize(lang.equipment) %></th>
				<th><%= _.capitalize(lang.service) %></th>
				<th><%= _.capitalize(lang.claiment) %></th>
				<th data-sort-column="create_date"><%= _.capitalize(lang.createDate) %></th>
				<th>
					<%= _.capitalize(lang.status) %>
					<div class="dropdown pull-right">
						<a id="filterStateRequest" class="dropdown-toggle filter-button" data-toggle="dropdown" href="#"><i class="icon-filter icon-large"></i></a>

						<ul id="filterStateRequestList" class="dropdown-menu" role="menu" aria-labelledby="filterStateRequest">
							<% _.each(requestsState, function (state, i) { %>
								<li role="menuitem">
									<a tabindex="-1" href="#<%= state.key %>"> 
										<i class="badge badge-<%= state.color %>">&nbsp;</i>
										&nbsp; <%= _.capitalize(state.translation) %>
									</a>
								</li>
							<% }) %>
								<li class="divider" role="menuitem"></li>
								<li class="delete-filter disabled" role="menuitem"><a href="#delete-filter"><i class="icon-remove"></i> <%= _.capitalize(lang.deleteFilter) %></a></li>
						</ul>
					</div>
				</th>

				<% if(app.models.user.isDST() || app.models.user.isManager()){ %>
					<th class="span1"><%= _.capitalize(lang.action) %></th>
				<% } %>
			</tr>
		</thead>
		<tbody id="rows-items">
			
		</tbody>

	</table>
	</div>
	<!-- /Table Requests -->


	<!-- Table pagination -->
	<div id="pagination" class="pull-right"></div>
	<!-- /Table pagination -->

</div>


<!-- Modal form to add a request -->
<div id="modalAddRequest" class="modal hide fade"></div>

<!-- Modal form to valid a request -->
<div id="modalValidRequest" class="modal fade" role="dialog" aria-hidden="true"></div>

<!-- Modal form to refuse a request -->
<div id="modalRefuseRequest" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static"></div>

<!-- Modal form to Confirm a request -->
<div id="modalConfirmRequest" class="modal fade" role="dialog" aria-hidden="true"></div>
