<div class="page-header">
	<h1>
		<%= lang.viewsTitles.servicesList %>
		<sup><i class="badge"><%= nbServices %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Services in the Database -->
	<% if(services.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#services/add" class="btn btn-primary"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addService) %></a>	

			<form class="form-search pull-right">
				<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.name) %></th>
					<th><%= _.capitalize(lang.code) %></th>					
					<th><%= _.capitalize(lang.manager) %></th>
					<th><%= _.capitalize(lang.parentService) %></th>
					<th><%= _.capitalize(lang.technicalService) %></th>
				</tr>
			</thead>
			<tbody>
			<% for (var i = startPos; i < endPos; i++) { 
					var service = services[i];
				%>
								
				<!-- Service row -->
				<tr class="row-object" id="service_<%= service.id %>">
					<td>
						<a class="accordion-object" href="#collapse_<%= service.id %>">
							<i class="icon-pushpin">&nbsp;&nbsp;</i><%= service.name %>
						</a>
						<span class="object-actions invisible">
							<a href="#services/<%= service.id %>"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> |
							<a href="#modalDeleteService" class="modalDeleteService" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
						</span>
					</td>
					<td><%= service.code %></td>
					<td><%= service.manager_id[1] %></td>
					<td><%= service.service_id[1] %></td>
					<td><%= (service.technical == true ? "<i class='icon-ok'></i>" : "")%></td>
				</tr>
				
				<!-- Claimer row -->
				<tr class="row-nested-objects-collapse" id="collapse_<%= service.id %>">
					<td colspan="5" class="nestedTD">
						<% if(service.user_ids.length != 0) { %>
							<table class="table-nested-objects table table-striped table-condensed table-hover">
								<thead>
									<tr>
										<th><%= _.capitalize(lang.name) %></th>
										<th><%= _.capitalize(lang.login) %></th>
										<th><%= _.capitalize(lang.group) %></th>
										<th><%= _.capitalize(lang.email) %></th>
										<th><%= _.capitalize(lang.lastConnection) %></th>
									</tr>
								</thead>
								<tbody>
									<% _.each(service.user_ids, function (user, i) { console.debug(user); 
											console.debug( user.groups_id );
										%>
										
										<tr class="row-nested-objects" id="user_<%= user.id %>">
											<td>
												<span><%= user.name +" "+ user.firstname %></span>&nbsp;
												<span class="nested-objects-actions invisible">	
													<a href="#modalSaveUser" class="modalSaveUser" data-toggle="modal">
														<i class="icon-pencil displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>">&nbsp;</i>
													</a>																								
													<a href="#modalDeleteUser" class="modalDeleteUser" data-toggle="modal">
														<i class="icon-remove displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">&nbsp;</i>
													</a>
												</span>
											</td>
											
											<td><%= user.login %></td>
											<td><%= user.groups_id !=false ? _(user.groups_id[0].name).strRight('/') : "" %></td>
											<td><%= (user.user_email != false ? user.user_email : "") %></td>
											<td><% 
												if(user.date != false){ %>
													<span data-toggle="tooltip"
													    data-original-title="<%= moment(user.date, 'YYYY-MM-DD HH:mm:ss').fromNow() %>">
											    		<%= moment(user.date, 'YYYY-MM-DD HH:mm:ss').format('LLL') %>
													</span>
												<% } %>
											</td>
										</tr>
									<% }); %>
								</tbody>
							</table>
						<% } else { %>
								<!-- No Claimer in the Database -->
								<div class="alert alert-info">
									<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noPartner %>.
								</div>
						<% } %>

							<div class="div-actions" >
								<button class="btn btn-primary btn-small no-outline addAddress">
									<i class="icon-plus"></i>&nbsp; <%= _.capitalize(lang.actions.addContact) %>
								</button>
							</div>
					</td>
				</tr>

			<% }; %>
			</tbody>
		</table>


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#sites/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% }
	else { %>
		<div class="tableToolbar">
			<a href="#services/add" class="btn btn-primary"><i class="icon-plus"></i> <%= _.capitalize(lang.actions.addService) %></a>
		</div><br />

		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noService %>.
		</div>

	<% } %>

</div>


<!-- Modal Form to add a new Serivice -->
<div id="modalAddService" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addService) %></h3>
	</div>
	
	<div class="modal-body">
		<form id="formAddService" action="#" class="form-horizontal">

			<fieldset>
				<legend><%= lang.aboutTheService %></legend>
			
			<!-- Service name -->
			<div class="control-group">
				<label for="serviceName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="serviceName" name="serviceName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Service code -->
			<div class="control-group">
				<label for="serviceCode" class="control-label"><%= _.capitalize(lang.code) %>:</label>

				<div class="controls">
					<input type="text" id="serviceCode" name="serviceCode" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			</fieldset>


			<fieldset>
				<legend><%= _.capitalize(lang.organization) %></legend>

				<!-- Service Manager -->
				<div class="control-group">
					<label for="serviceManager" class="control-label"><%= _.capitalize(lang.manager) %>:</label>

					<div class="controls">
						<select id="serviceManager"></select>
						<span class="help-inline"></span>
					</div>
				</div>

				<!-- Service Parent Service -->
				<div class="control-group">
					<label for="serviceParentService" class="control-label"><%= _.capitalize(lang.parentService) %>:</label>

					<div class="controls">
						<select id="serviceParentService"></select>
						<span class="help-inline"></span>
					</div>
				</div>

				<!-- Service is Technical Service -->
				<div class="control-group">
					<div class="controls">
						<label for="serviceIsTechnical" class="checkbox"><%= _.capitalize(lang.technicalService) %>
							<input type="checkbox" id="serviceIsTechnical" />
						</label>
					</div>
				</div>

			</fieldset>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formAddService" class="btn btn-primary saveTask"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Place -->
<div id="modalDeleteService" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression du service</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteService" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p>Etes-vous sûr de vouloir supprimer ce service ?</p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteService"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>