<!-- Check the group of the user to display element with the good color -->	
<% 
	if(app.models.user.isDST()) { 
		var classColor = "warning";
		var actionTaskToProcess = lang.actions.timeSpent;
	}
	else if(app.models.user.isManager()){
		var classColor = "info";
		var actionTaskToProcess = lang.actions.timeSpent;
	}
	else{ 
		var classColor = "";
		var actionTaskToProcess = "";
	} 
%>



<div class="page-header">
	<h1>
		<%= lang.viewsTitles.tasksList %>
		<sup rel="tooltip" data-original-title="<%= actionTaskToProcess %>">
			<i class="badge badge-<%= classColor %>">
				<%= nbTasks %>
			</i>
		</sup>
	</h1>
</div>


<div class="container-fluid">


	<h3>Semaine <%= weekSelected %>, du <%= moment().week(weekSelected).year(yearSelected).day(1).format('LL') %> au <%= moment().week(weekSelected).year(yearSelected).day(5).format('LL') %></h3>

	<!-- Pagination -->
	<ul class="pager">
		<li class="previous"><a href="#"><i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %></a></li>
		<li class="next"><a href="#"><%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i></a></li>
	</ul>


	<!-- Check if there is Request in the Database -->
	<% if(tasks.length != 0) { %>

		<!-- Table Requests -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.label) %></th>
					<th><%= _.capitalize(lang.intervention) %></th>
					<th><%= _.capitalize(lang.place) %></th>
					<th><%= _.capitalize(lang.dateStart) %></th>
					<th><%= _.capitalize(lang.dateEnd) %></th>
					<th><%= _.capitalize(lang.assignedTo) %></th>
					<th><%= _.capitalize(lang.plannedHours) %></th> 
					<th><%= _.capitalize(lang.remainingHours) %></th>
					<th><%= _.capitalize(lang.status) %></th>
					<th><%= _.capitalize(lang.action) %></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(tasks, function (task, i) { %>
				
					<tr id="<%= task.id %>">
					    <td><a 	href="#taches/<%= task.id %>"> <%= _.capitalize(task.name) %> </a></td>
						<td class="hidden-phone"><%= task.project_id[1] %></td>
						<td><%= task.intervention.site1[1] %></td>
						<td><%= (task.date_start) != "" ? moment(task.date_start).format('LLL') : "" %></td>
						<td><%= (task.date_end) != "" ? moment(task.date_end).format('LLL') : "" %></td>
					    
					    <% if(task.team_id == false){ %>
					    	<td><%= task.user_id[1] %></td>
					    <% } else { %>
					    	<td><%= task.team_id[1] %></td>	
					    <% } %>

					    <td><%= task.planned_hours %>h</td>
					    <td><%= task.remaining_hours %>h</td>
					    <td>
				    		<% if(task.state == app.Models.Task.state[0].value) { %>
				    			<span class="label label-info"><%= lang.wait %></span>
				    		<% } else if(task.state == app.Models.Task.state[1].value) { %>
				    			<span class="label label-success"><%= lang.finished %></span>
				    		<% } else if(task.state == app.Models.Task.state[2].value) { %>
				    			<span class="label label-muted"><%= lang.pending %></span>
				    		<% } else if(task.state == app.Models.Task.state[4].value) { %> 
				    			<span class="label label-important"><%= lang.refused %></span>
				    		<% } %>
				    		
					   	</td>

					   	<!-- Actions -->
					   	<td class="align">

					   		<!-- Tâches à saisir -->
							<% if( task.state == app.Models.Task.state[0].value ) { %>
					   		
								<div class="btn-group">
									<button class="btn btn-small btn-success no-outline buttonTaskDone" data-toggle="modal" data-taskid="<%= task.id %>" data-target="#modalTaskDone"><i class="icon-ok"></i></button>
									<button class="btn btn-small dropdown-toggle no-outline" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right align-left">										
										<li><a href="#" class="taskNotDone" data-taskid="<%= task.id %>"><i class="icon-remove"></i>&nbsp;Non Fait</a></li>
										<li><a href="#modalTimeSpent" data-toggle="modal" data-taskid="<%= task.id %>" class="buttonTimeSpent"><i class="icon-time"></i>&nbsp;Non Terminée</a></li>
									</ul>
								</div>

							<% } %>
					   	</td>
						
					</tr>
				<% }); %>
			</tbody>
		</table>
		<!-- /Table Requests -->

		<!-- Pagination -->
		<ul class="pager">
			<li class="previous"><a href="#"><i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %></a></li>
			<li class="next"><a href="#"><%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i></a></li>
		</ul>


	<% } 
	else { %>
		<!-- No Task to Display -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noTask %>.
		</div>

	<% } %>

</div>

<!-- Modal Form Task Done -->
<div id="modalTaskDone" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Saisie du temps passé</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalTaskDone" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTaskDone" action="#" class="form-horizontal">
	    
    	     <div class="control-group">
               	<label for="eventTime" class="control-label">Temps travaillé:</label>
               	<div class="controls">
					<div class="input-append bootstrap-timepicker-component" >							
					    <input type="text" class="timepicker-default input-small" id='eventTime'>
					    <span class="add-on">
					        <i class="icon-time"></i>
					    </span>
					</div>
               	</div>
			</div>
	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTaskDone" class="btn btn-primary">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>


<!-- Modal Form Time Spent -->
<div id="modalTimeSpent" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Saisie des temps passés</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalTimeSpent" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTimeSpent" action="#" class="form-horizontal">
	    
			<!-- Task name -->
                
             <div class="control-group">
               	<label for="eventTimeSpent" class="control-label">Temps travaillé:</label>
               	<div class="controls">
					<div class="input-append bootstrap-timepicker" >							
					    <input type="text" class="timepicker-default input-small" id='eventTimeSpent' required="required">
					    <span class="add-on">
					        <i class="icon-time"></i>
					    </span>
					</div>
               	</div>
			</div>
			
			
			<div class="control-group">
               	<label for="eventTimeRemaining" class="control-label">Temps restant:</label>
               	<div class="controls">
					<div class="input-append bootstrap-timepicker" >							
					    <input type="text" class="timepicker-default input-small" id='eventTimeRemaining' required="required">
					    <span class="add-on">
					        <i class="icon-time"></i>
					    </span>
					</div>
               	</div>
			</div>
				
	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTimeSpent" class="btn btn-primary">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>
