<!-- Check the group of the user to display element with the good color -->	
<% 
	if(app.models.user.isDST()) { 
		var classColor = "warning";
		var actionTaskToProcess = lang.actions.timeSpent;
	}
	else if(app.models.user.isManager()){
		var classColor = "info";
		var actionTaskToProcess = lang.actions.timeSpent;
	}
	else{ 
		var classColor = "";
		var actionTaskToProcess = "";
	} 
%>



<div class="page-header">
	<h1>
		<%= lang.viewsTitles.tasksList %>
		<sup rel="tooltip" data-original-title="<%= actionTaskToProcess %>">
			<i class="badge badge-<%= classColor %>" >
				<%= nbTasks %>
			</i>
		</sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Check if there is Request in the Database -->
	<% if(tasks.length != 0) { %>

		<!-- Table toolbar -->
		<div class="tableToolbar">
			<a href="#taches/add" class="btn btn-primary"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addTask) %></a>

			<form class="form-search pull-right">
    			<div class="input-append">
					<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
					<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
				</div>
			</form>
		</div>
		<!-- Table toolbar -->


		<!-- Table Requests -->
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th><%= _.capitalize(lang.label) %></th>
					<th class="hidden-phone"><%= _.capitalize(lang.category) %></th>
					<th><%= _.capitalize(lang.intervention) %></th>
					<th><%= _.capitalize(lang.assignedTo) %></th>
					<th><%= _.capitalize(lang.plannedHours) %></th> 
					<th><%= _.capitalize(lang.remainingHours) %></th>
					<th><%= _.capitalize(lang.progressRate) %></th>
					<th><%= _.capitalize(lang.status) %></th>
					<th><%= _.capitalize(lang.action) %></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(tasks, function (task, i) { %>
				

					<tr id="<%= i %>">
					    <td>
					    	<a 	href="#taches/<%= task.id %>" 
								rel="popover">
								<%= task.name %>
							</a>
						</td>
						<td><%= (task.category_id[0] != false && task.category_id[0] != null ? _(task.category_id[1].toLowerCase()).titleize() : "") %></td>
						<td class="hidden-phone"><%= task.project_id[1] %></td>
					    <td><%= task.user_id[1] %></td>
					    <td><%= task.planned_hours %></td>
					    <td>
							<span 
					    		rel="tooltip">
					    		<%= task.remaining_hours %>
					    	</span>
					    </td>
					   	<td>
					    	<div class="progress" style="margin-bottom: 0;">
					    		<div class="bar" style="width: 70%;"><%= tasks.progress %></div>
					    	</div>
					    </td>
					    <td>
				    		<% if(task.state == app.Models.Task.state[0].value) { %> 
				    			<span class="label label-important"><%= lang.refused %></span>
				    		<% } else if(task.state == app.Models.Task.state[1].value) { %>
				    			<span class="label label-info"><%= lang.wait %></span>
				    		<% } else if(task.state == app.Models.Task.state[2].value) { %>
				    			<span class="label label-warning"><%= lang.pending %></span>
				    		<% } else if(task.state == app.Models.Task.state[3].value) { %>
				    			<span class="label label-success"><%= lang.valid %></span>
				    		<% } else if(task.state == app.Models.Task.state[4].value) { %>
				    			<span class="label label"><%= lang.closed %></span>
				    		<% } %>
					   	</td>
					   	
					   	
					   	<td class="align">

					   		<!-- Tâches à saisir -->
							<% if(task.state == app.Models.Task.state[2].value) { %>
					   		
								<div class="btn-group">
									<button class="btn btn-small btn-success no-outline buttonTaskDone" data-toggle="modal" id="<%= task.id %>" data-target="#modalTaskDone"><i class="icon-ok"></i></button>
									<button class="btn btn-small dropdown-toggle no-outline" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right align-left">										
										<li><a href="#" class="taskNotDone" id="<%= task.id %>"><i class="icon-remove"></i>&nbsp;Non Fait</a></li>
										<li><a href="#modalTimeSpent" data-toggle="modal" id="<%= task.id %>" class="buttonTimeSpent"><i class="icon-user"></i>&nbsp;Non Terminée</a></li>
									</ul>
								</div>

							<% } %>
					   	</td>
						
					</tr>
				<% }); %>
			</tbody>
		</table>
		<!-- /Table Requests -->


		<!-- Table pagination -->
		<div class="pagination pagination-right">
			<ul>
				<!-- First page button -->
				<% if(page-2 >= 1){ %>
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#taches/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
				<% } %>
				
				<!-- Previous page button -->
				<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#taches/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
			
				<!-- [...] page Button -->
				<% 	if (page-2 > 1) { %>
						<li class="disabled"><a href='#'>...</a></li>
				<% } 
						
					for (var i=(page-2); i < (page+3); i++) {
						if(i >= 1 && i <= pageCount){ %>
							<li <%= (i === page ? " class='active'" : "")%>><a href='#taches/page<%=i%>'><%= i %></a></li>
						<% }

					} %>
					
				<!-- [...] page Button -->
				<% if (page+2 < pageCount) { %>
					<li class="disabled"><a href='#'>...</a></li>
				<% } %>
				
				<!-- Next page button -->
				<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#taches/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
				
				<!-- Last page button -->
				<% if(page+2 <= pageCount){ %>
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#taches/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
				<% } %>
			</ul>
		</div>
		<!-- /Table pagination -->

	<% } 
	else { %>
		<!-- No request in the Database -->
		<div class="alert alert-info">
			<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noTask %>.
		</div>

	<% } %>

</div>

<!-- Modal Form Task Done -->
<div id="modalTaskDone" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Saisie du temps passé</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalTaskDone" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTaskDone" action="#" class="form-horizontal">
	    
			<!-- Task name -->
            <div class="control-group">
                <label for="eventTimeSpent" class="control-label">Temps travaillé:</label>

                <div class="controls">
                    <input type='number' name='eventTimeSpent' id='eventTimeSpent' value='' title='time spent!' size='10' /> 
                    <span class="help-inline"></span>
                </div>
            </div>
	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTaskDone" class="btn btn-primary">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>


<!-- Modal Form Time Spent -->
<div id="modalTimeSpent" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Saisie des temps passés</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalTimeSpent" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTimeSpent" action="#" class="form-horizontal">
	    
			<!-- Task name -->
            <div class="control-group">
                <label for="eventTimeSpent" class="control-label">Temps travaillé:</label>

                <div class="controls">
                    <input type='number' name='eventTimeSpent' id='eventTimeSpent' value='' title='time spent!' size='10' /> 
                    <span class="help-inline"></span>
                </div>
                
                
                <label for="eventTimeRemaining" class="control-label">Temps restant:</label>

                <div class="controls">
                    <input type='number' name='eventTimeRemaining' id='eventTimeRemaining' value='' title='remaining time' size='10' /> 
                    <span class="help-inline"></span>
                </div>
            </div>
	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTimeSpent" class="btn btn-primary">Enregistrer</button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal">Annuler</a>
	</div>
</div>
