
<% if ( task.id != null && task.id !=0 ) { %>
    <h1><%= lang.viewsTitles.taskDetail %> n°<%= task.id %></h1><br />
<% } else { %>
    <h1><%= lang.viewsTitles.newtask %></h1><br />
<% } %>


<form id="formTask" action="#" class="form-inline container-fluid">
    
    <div class="row-fluid">
        
        <!-- About the task -->
        <fieldset class="span6">
           
            <legend><%= lang.aboutTheTask %>:</legend>
                
                <div class="input-append">     
	                <!-- task Name -->
	                <div class="control-group">
	                    <label for="taskName" class="control-label"><%= _.capitalize(lang.label) %>:</label>
	
	                    <div class="controls">
	                        <input type="text" id="taskName" name="taskName" class="inputField" value="<%= task.name %>" required="required" />
	                        <span class="help-inline"></span>
	                    </div>
	                </div>
	                
	                <!-- Task Category -->
		            <div class="control-group">
		                <label for="taskCategory" class="control-label">Catégorie:</label>
		
		                <div class="controls">
		                     <select id="taskCategory" class="inputField"></select>
		                    <span class="help-inline"></span>
		                </div>
		            </div>
		            
		            <!-- Officer -->
	                <div class="control-group">
	                    <label for="taskOfficer" class="control-label"><%= _.capitalize(lang.officer) %>:</label>
	
	                    <div class="controls">  
	                        <select id="taskOfficer" class="inputField"><option value="" disabled="disabled" ></option></select>
	                        <span class="help-inline"></span>                           
	                    </div>
	                </div>    
	        	</div>
                
               
                <div class="input-append">                 

	                <!-- task Description -->
	                <div class="control-group">
	                    <label for="taskDescription" class="control-label"><%= _.capitalize(lang.description) %>:</label>
	
	                    <div class="controls">
	                        <textarea name="taskDescription" id="taskDescription" class="inputField" rows="5" required="required"><%= task.description ? task.description : ""%></textarea>
	                        <span class="help-inline"></span>
	                    </div>
	                </div>

                </div>
	        
	  </fieldset>    
	  <fieldset class="span6">
           
            	<legend><%= lang.aboutThePlanning %>:</legend>
                
                
                <!-- Start/End Date/hour -->
                <div class="input-append">             
	             	 <div class="control-group">
	                    <label class="control-label" for="startDate"><%= _.capitalize(lang.dateStart) %>:</label>
	                   <div class="controls">
	                        <input 
	                        	type="text"
	                            class="datepicker inputField" 
	                            id="startDate" 
	                            size="20"
	                            value="<%= task.date_start.format('L') %>" 
	                            required="required">
	                        <span class="add-on"><i class="icon-calendar"></i></span>
	                    </div>
	                </div>
	                
	                <div class="control-group">
	                    <label class="control-label" for="endDate"><%= _.capitalize(lang.dateEnd) %>:</label>
	                    <div class="controls">
	                        <input 
	                        	type="text"
	                            class="datepicker inputField" 
	                            id="endDate"
	                            size="20" 
	                            value="<%= task.date_end.format('L') %>" 
	                            placeholder="dd/mm/yyyy"
	                            required="required">
	                        <span class="add-on"><i class="icon-calendar"></i></span>
	                    </div>
	                </div>                
            </div>  
            
            <div class="input-append">
            
            	<div class="control-group">
                	<label for="startHour" class="control-label">@</label>
                	<div class="controls">
						<div class="input-append bootstrap-timepicker" >							
						    <input type="text" class="timepicker-default input-small inputField" value="<%= task.date_start.hours() %>:<%= task.date_start.minutes()%>" id='startHour' required="required">
						    <span class="add-on">
						        <i class="icon-time"></i>
						    </span>
						</div>
                	</div>
				</div>
             
             	<div class="control-group">
                	<label for="endHour" class="control-label">@</label>
                	<div class="controls">
						<div class="input-append bootstrap-timepicker" >							
						    <input type="text" class="timepicker-default input-small inputField" value="<%= task.date_end.hours() %>:<%= task.date_end.minutes()%>" id='endHour' required="required">
						    <span class="add-on">
						        <i class="icon-time"></i>
						    </span>
						</div>
                	</div>
				</div> 
				
			</div> 
			
			
			<!-- Select Material -->
			<div class="row-fluid marginTop equipmentsDroppableArea">
				
				<div class="span6">
					<div class="widget-title">
						<h4>Matériels <span class="badge pull-right" id="badgeNbEquipments"></span></h4>
					</div>
	
					<ul id="equipments" class="sortableEquipmentsList sortable unstyled nav nav-list" >
	
					</ul>
				</div>
	
			</div>


        </fieldset>
    
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary save"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
        <a href="#taches" class="text-info"><%= lang.actions.cancel %></a>
    </div>
    
</form>
