<!-- Pagination for the Week | Display the title in smart format -->
<%
	var momentDatePrev = momentDate.clone().subtract('weeks', 1).day(4);
	var momentDateNext = momentDate.clone().add('weeks', 1).day(4);


	var firstDayOfTheWeek = momentDate.clone().day(1);
	var lastDayOfTheWeek = momentDate.clone().day(7);


	if(firstDayOfTheWeek.isSame(lastDayOfTheWeek, 'month')){
		var titleFirstDay = momentDate.day(1).format('D');
	}
	else{
		if(firstDayOfTheWeek.isSame(lastDayOfTheWeek, 'year')){
			var titleFirstDay = momentDate.day(1).format('D MMM');
		}
		else{
			var titleFirstDay = momentDate.day(1).format('D MMM YYYY');
		}
	}

%>



<div class="page-header">
	<h1>
		<%= lang.viewsTitles.tasksList %>
		<sup class="badge badge-info" id="globalBagePendingTask" data-toggle="tooltip" data-original-title="<%= lang.wait %>" data-placement="bottom">
			<%= nbPendingTasks %>
		</sup>
	</h1>
</div>


	<!-- Toolbar -->
	<div class="tableToolbar rom">
		<button class="btn btn-primary addTask">
			<i class="icon-plus"></i>&nbsp; <%= _.capitalize(lang.actions.addTask) %>
		</button>

		<% if(displayFilter) { %>
		<div class="pull-right">
			<form class="form-inline">
				<div class="input-group">
					<label for="filterListAgents" class="input-group-addon" style='width: 1px'><i class="icon-filter"></i></label>
  					<input id="filterListAgents" class="select2"  style="width: 250px" data-placeholder="<%= lang.actions.selectAAgent %>"/>
				</div>
			</form>
		</div>
		<% } %>
	</div>
	<!-- /Toolbar -->


	<!-- Title week of the year -->
	<h2 class="text-center">
		<%= lang.week %> <%= momentDate.week() %> - 
		<em class="text-muted"><%= titleFirstDay %> <%= lang.to %> <%= lastDayOfTheWeek.format('D MMM YYYY') %></em>
	</h2>
	<!-- /Title week of the year -->


	<!-- Pagination -->
	<ul class="pager noMarginTop">
		<li class="previous">
			<a href="#" class="linkPreviousWeek"><i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %></a>
		</li>
		<li class="next">
			<a href="#" class="linkNextWeek"><%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i></a>
		</li>
	</ul>
	<!-- /Pagination -->
	


	<div id="task-accordion" class="panel-group panel-group-tasks">
	</div>


	<!-- Pagination -->
	<ul class="pager">
		<li class="previous">
			<a href="#" class="linkPreviousWeek"><i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %></a>
		</li>
		<li class="next">
			<a href="#" class="linkNextWeek"><%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i></a>
		</li>
	</ul>



<!-- Modal Form Task Done -->
<div id="modalTaskDone" class="modal fade" aria-hidden="true"></div>


<!-- Modal Form to Add a new Task -->
<div id="modalAddTask" class="modal fade" aria-hidden="true"></div>