<!-- Pagination for the Week | Display the title in smart format -->
<%
	var momentDatePrev = momentDate.clone().subtract('weeks', 1).day(4);
	var momentDateNext = momentDate.clone().add('weeks', 1).day(4);


	var firstDayOfTheWeek = momentDate.clone().day(1);
	var lastDayOfTheWeek = momentDate.clone().day(7);


	if(firstDayOfTheWeek.isSame(lastDayOfTheWeek, 'month')){
		var titleFirstDay = momentDate.day(1).format('D');
	}
	else{
		if(firstDayOfTheWeek.isSame(lastDayOfTheWeek, 'year')){
			var titleFirstDay = momentDate.day(1).format('D MMM');
		}
		else{
			var titleFirstDay = momentDate.day(1).format('D MMM YYYY');
		}
	}

%>



<div class="page-header">
	<h1>
		<%= lang.viewsTitles.tasksList %>
		<sup data-toggle="tooltip" data-original-title="<%= lang.wait %>">
			<i class="badge badge-info"><%= nbPendingTasks %></i>
		</sup>
	</h1>
</div>


<div class="container-fluid">

	<!-- Add task -->
	<div class="tableToolbar">
		<button class="btn btn-primary no-outline addTask">
			<i class="icon-plus"></i>&nbsp; <%= _.capitalize(lang.actions.addTask) %>
		</button>

		<% if(displayFilter) { %>
			<form class="pull-right form-inline">
				<label for="filterListAgents" class="muted"><i class="icon-filter"></i> <%= _.capitalize(lang.agent) %>:</label>
				<select id="filterListAgents" class="input-medium">
				</select>
			</form>
		<% } %>
	</div>
	<!-- /Add task -->

	
	<!-- Title week of the year -->
	<h2 class="text-center">
		<%= lang.week %> <%= momentDate.week() %> - 
		<em class="muted"><%= titleFirstDay %> <%= lang.to %> <%= lastDayOfTheWeek.format('D MMM YYYY') %></em>
	</h2>
	<!-- /Title week of the year -->


	<!-- Pagination -->
	<ul class="pager noMarginTop">
		<li class="previous">
			<a href="#taches/<%= momentDatePrev.year()+"/"+momentDatePrev.week() %>">
				<i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %>
			</a>
		</li>
		<li class="next">
			<a href="#taches/<%= momentDateNext.year()+"/"+momentDateNext.week() %>">
				<%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i>
			</a>
		</li>
	</ul>
	<!-- /Pagination -->



	<div id="task-accordion" class="accordion without-border">
	
	<% 	_.each(tasksPerDay, function(day, i) { %>

		<!-- Unfold the current day -->
		<% if(day.day.isSame(moment(), "day")){ var unfold = 'in'; var borderUnfold = 'collapse-selected'} %>

		<!-- Count the number of Open Task -->
		<% 	var pendingTask = _.countBy(day.tasks, function(task){ return task.state == app.Models.Task.state[0].value; }); %>

		<section class="accordion-group <%= borderUnfold %>">
		
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" href="#accordion_<%= i %>">
					<h4 class="table-caption">
						<%= _.capitalize(day.day.format('dddd D MMMM')) %> 
						<div class="pull-right">
							<!-- Badge pending Task -->
							<% if(pendingTask.true > 0){ %>
								 <small class="badge badge-info vertical-align-top" data-toggle="tooltip" data-original-title="<%= lang.wait %>"><%= pendingTask.true %></small>
							<% } %>
							<small class="badge vertical-align-top"><%= _.size(day.tasks) %></small>
						</div>
					</h4>
				</a>
			</div>


			<div id="accordion_<%= i %>" class="accordion-body collapse <%= unfold %>">
			
			<!-- Check if there is tasks planned this day -->
			<% if(_.size(day.tasks) != 0){ %>


				<!-- Table Requests -->
				<table class="table table-striped table-bordered table-hover noMarginBottom">
					<thead>
						<tr>
							<th><%= _.capitalize(lang.intervention) %></th>
							<th><%= _.capitalize(lang.label) %></th>
							<th><%= _.capitalize(lang.place) %></th>
							<th><%= _.capitalize(lang.startHour) %></th>
							<th><%= _.capitalize(lang.endHour) %></th>
							<th><%= _.capitalize(lang.assignedTo) %></th>
							<th class="hidden-phone"><%= _.capitalize(lang.plannedHours) %></th> 
							<th class="hidden-phone"><%= _.capitalize(lang.remainingHours) %></th>
							<th><%= _.capitalize(lang.status) %></th>
							<th><%= _.capitalize(lang.action) %></th>
						</tr>
					</thead>
					<tbody>

					<% _.each(day.tasks, function (task, i) { %>

						<tr id="<%= task.id %>">
						    <!-- Intervention name -->
						    <td class="<%= (task.state == app.Models.Task.state[1].value ? 'isCheck' : '') %>">
						    	<!-- Check if the task is Orphan -->
						    	<%= (task.project_id != false ? task.project_id[1] : '<i class="icon-asterisk"></i> '+task.name)  %>
						    </td>

						    <!-- Task Name -->
					    	<td><a href="#taches/<%= task.id %>"> <%= _.capitalize(task.name) %> </a></td>
							<td><%= (task.intervention && task.intervention.site1 ) ? task.intervention.site1[1] : '' %></td>
							<td><%= (task.date_start) != '' ? moment(task.date_start).format('H[h]mm') : '' %></td>
							<td><%= (task.date_end) != '' ? moment(task.date_end).format('H[h]mm') : '' %></td>

							<!-- Assign To -->
							<td>
							<% if(task.team_id == false){ %>
								<%= task.user_id[1] %>
						    <% } else { %>
								<%= task.team_id[1] %>
							<% } %>
							</td>

							<td class="hidden-phone"><%= app.decimalNumberToTime(task.planned_hours) %></td>
						    <td class="hidden-phone"><%=(task.state!=app.Models.Task.state[3].value && task.state!=app.Models.Task.state[5].value) ? app.decimalNumberToTime(task.remaining_hours) : '' %></td>

						    <!-- Task State -->
							<td>
					    		<!-- To Schedule -->
								<% if(task.state == app.Models.Task.state[3].value) { %>
									<span class="label label-<%= app.Models.Task.state[3].color %>"><%= app.Models.Task.state[3].traduction %></span>

								<!-- Schedule -->
								<% } else if(task.state == app.Models.Task.state[0].value){ %>
									<span class="label label-<%= app.Models.Task.state[0].color %>"><%= app.Models.Task.state[0].traduction %></span>

								<!-- Finish -->
								<% } else if(task.state == app.Models.Task.state[1].value){ 
														
									if(_(task.effective_hours).toNumber(2) <= _(task.planned_hours).toNumber(2)){ %>
										<span class="label label-<%= app.Models.Task.state[1].color %>"><%= app.Models.Task.state[1].traduction %></span>
									<% } else  { %>
										<span class="label label-overrun"><%= app.Models.Task.state[1].traduction %></span>
									<% } %>

								<!-- Cancel -->
								<% } else if(task.state == app.Models.Task.state[4].value){ %>
									<span class="label label-<%= app.Models.Task.state[4].color %>"><%= app.Models.Task.state[4].traduction %></span>
								<% } else{ %>
									<strong><%= task.state %></strong>
								<% } %>
							</td>

						   	<!-- Actions -->
						   	<td class="align">

						   		<!-- Tâches à saisir -->
								<% if( task.state == app.Models.Task.state[0].value && task.date_start) { %>
						   		
									<div class="btn-group">
										<button class="btn btn-small btn-success no-outline buttonTaskDone" data-toggle="modal" data-taskid="<%= task.id %>" data-target="#modalTaskDone"><i class="icon-ok"></i>
										</button>
										<button class="btn btn-small dropdown-toggle no-outline" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu pull-right text-left">										
											<li>
												<a href="#" class="taskNotDone" data-taskid="<%= task.id %>">
													<i class="icon-remove"></i>&nbsp;<%= _.capitalize(app.lang.notDone) %>
												</a>
											</li>
											<li>
												<a href="#modalTimeSpent" data-toggle="modal" data-taskid="<%= task.id %>" class="buttonTimeSpent">
													<i class="icon-time"></i>&nbsp;<%= _.capitalize(app.lang.notFinished) %>
												</a>
											</li>
										</ul>
									</div>

								<% } %>
						   	</td>
							
						</tr>
					<% }); %>
					</tbody>
				</table>
				
				<!-- /Table Requests -->

			<% } else{ %>
				<!-- No Task to Display -->
				<div class="alert alert-info noMarginBottom">
					<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noTask %>.
				</div>
			<% } %>
			</div>

		</section>
	<% }); %>
	</div>


	<!-- Pagination -->
	<ul class="pager">
		<li class="previous">
			<a href="#taches/<%= momentDatePrev.year()+"/"+momentDatePrev.week() %>"><i class="icon-chevron-left"></i> <%= _.capitalize(lang.actions.previousWeek) %></a>
		</li>
		<li class="next">
			<a href="#taches/<%= momentDateNext.year()+"/"+momentDateNext.week() %>"><%= _.capitalize(lang.actions.nextWeek) %> <i class="icon-chevron-right"></i></a>
		</li>
	</ul>


</div>



<!-- Modal Form Task Done -->
<div id="modalTaskDone" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= lang.viewsTitles.statementTask %></h3>
	</div>
	
	<div class="modal-body custom-height-modal">

		<blockquote id="infoModalTaskDone" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTaskDone" action="#" class="form-horizontal">
	    	 
			<!-- Worked Time -->
			<div class="control-group">
				<label for="eventTimeDone" class="control-label"><%= lang.workedTime %>:</label>
				<div class="controls">
					<div class="input-append bootstrap-timepicker">
						<input type="text" class="timepicker-default input-small taskInput" id="eventTimeDone">
						<span class="add-on"><i class="icon-time"></i></span>
					</div>
				</div>
			</div>
			
			<!-- Vehicle -->
			<div class="control-group">
				<label for="taskEquipmentDone" class="control-label"><%= _.capitalize(lang.vehicleEquipment) %>:</label>

				<div class="controls">
					<div class="input-append">
						<select id="taskEquipmentDone" class="taskEquipment taskSelect taskInput" required="required"></select>
						<span class="add-on linkRefueling" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.oil) %>">
							<i class="icon-tint"></i>
						</span>
					</div>
				</div>
			</div>


			<!-- Refueling Vehicle -->
			<fieldset class="refueling-vehicle hide">
				<legend><i class="icon-tint"></i> <%= _.capitalize(lang.oil) %></legend>

				<div class="control-group">
					<div class="form-inline">
						<!-- KM -->
						<div class="span4">
							<label for="equipmentKmDone"><%= _.capitalize(lang.milometer) %>:</label>
							<input type="text" id="equipmentKmDone" class="equipmentKm input-mini taskInput" placeholder="<%= lang.inKm %>" />
						</div>

						<!-- Oil -->
						<div class="span4">
							<label for="equipmentOilQtityDone"><%= _.capitalize(lang.quantity) %>:</label>
							<input type="text" id="equipmentOilQtityDone" class="taskInput input-mini" placeholder="<%= lang.inLiter %>" />
						</div>

						<!-- Oil Price -->
						<div class="span4">
							<label for="equipmentOilPriceDone"><%= _.capitalize(lang.price) %>:</label>
							<input type="text" id="equipmentOilPriceDone" class="taskInput input-mini" placeholder="<%= lang.inEuro %>" />
						</div>
					</div>
				</div>

			</fieldset>
			

			<!-- Equipments -->
			<fieldset>
				<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.equipment) %></legend>

				<!-- Select Material -->
				<div class="row-fluid marginTop equipmentsDroppableAreaDone">
					
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Utilisé <span class="badge pull-right"></span></h4>
						</div>
		
						<ul id="equipmentsDone" class="sortableEquipmentsList sortable unstyled nav nav-list drop-area">
		
						</ul>
					</div>
		
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Disponible <!--<span class="badge pull-right" id="badgeNbEquipmentsDone"></span>--></h4>
						</div>
		
						<ul id="equipmentsListDone" class="sortableEquipmentsList sortable unstyled nav nav-list">
						</ul>
					</div>
		
				</div>

			</fieldset>

	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTaskDone" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>



<!-- Modal Form to Add a new Task -->
<div id="modalAddTask" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= _.capitalize(lang.actions.addTask) %></h3>
	</div>
	
	<div class="modal-body custom-height-modal">

	    <form id="formAddTask" action="#" class="form-horizontal">
	    

			<!-- Task name -->
            <div class="control-group">
                <label for="taskName" class="control-label" ><%= _.capitalize(lang.label) %>:</label>

                <div class="controls">
                    <input type="text" id="taskName" name="taskName" class="taskInput"  required="required"/>
                    <span class="help-inline"></span>
                </div>
            </div>

			<!-- Task Category -->
			<div class="control-group">
				<label for="taskCategory" class="control-label"><%= _.capitalize(lang.category) %>:</label>

				<div class="controls">
					<select id="taskCategory" class="taskInput taskSelect"></select>
					<span class="help-inline"></span>
				</div>
			</div>


			<!-- Start date / Start Hour -->
			<div class="control-group">
				<label class="control-label" for="startDate"><%= _.capitalize(lang.dateStart) %>:</label>
               	<div class="control-group">

	               <div class="controls">
						<!-- Start date -->
						<div class="input-append">
	                        <input type="text" class="datepicker taskInput input-small" id="startDate" size="20" value="" required="required">
							<span class="add-on"><i class="icon-calendar"></i></span>
	                	</div>

						<!-- Start hour -->
	                	<div class="input-append bootstrap-timepicker" >							
					    	<input type="text" class="timepicker-default input-small taskInput" id='startHour' required="required">
					    	<span class="add-on"><i class="icon-time"></i></span>
						</div>
	                </div>

                </div>
            </div>

			<!-- Start date / Start Hour -->
			<div class="control-group">
				<label class="control-label" for="endDate"><%= _.capitalize(lang.dateEnd) %>:</label>
				<div class="control-group">

					<div class="controls">
						<!-- End date -->
						<div class="input-append">
							<input type="text" class="datepicker taskInput input-small" id="endDate" size="20" value="" placeholder="dd/mm/yyyy" required="required">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
						
						<!-- End Hour -->
						<div class="input-append bootstrap-timepicker">
						    <input type="text" class="timepicker-default input-small taskInput" id='endHour' required="required">
						    <span class="add-on"><i class="icon-time"></i></span>
						</div>

					</div>

				</div>
			</div>

			<!-- Vehicle -->
			<div class="control-group">
				<label for="taskEquipmentAdd" class="control-label"><%= _.capitalize(lang.vehicleEquipment) %>:</label>

				<div class="controls">
					<div class="input-append">
						<select id="taskEquipmentAdd" class="taskEquipment taskInput taskSelect" required="required"></select>
						<span class="add-on linkRefueling" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.oil) %>">
							<i class="icon-tint"></i>
						</span>
					</div>
				</div>
			</div> 


			<!-- Refueling Vehicle -->
			<fieldset class="refueling-vehicle hide">
				<legend><i class="icon-tint"></i> <%= _.capitalize(lang.oil) %></legend>
				

				<div class="control-group">
					<div class="form-inline">
						<!-- KM -->
						<div class="span4">
							<label for="equipmentKmAdd"><%= _.capitalize(lang.milometer) %>:</label>
							<input type="text" id="equipmentKmAdd" class="equipmentKm input-mini taskInput" placeholder="<%= lang.inKm %>" />
						</div>

						<!-- Oil -->
						<div class="span4">
							<label for="equipmentOilQtityAdd"><%= _.capitalize(lang.quantity) %>:</label>
							<input type="text" id="equipmentOilQtityAdd" class="taskInput input-mini" placeholder="<%= lang.inLiter %>" />
						</div>

						<!-- Oil Price -->
						<div class="span4">
							<label for="equipmentOilPriceAdd"><%= _.capitalize(lang.price) %>:</label>
							<input type="text" id="equipmentOilPriceAdd" class="taskInput input-mini" placeholder="<%= lang.inEuro %>" />
						</div>
					</div>
				</div>

			</fieldset>


			<!-- Equipments -->
			<fieldset>
				<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.equipment) %></legend>

				<!-- Select Material -->
				<div class="row-fluid marginTop equipmentsDroppableAreaAdd">
					
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Utilisé <span class="badge pull-right"></span></h4>
						</div>
		
						<ul id="equipmentsAdd" class="sortableEquipmentsList sortable unstyled nav nav-list drop-area">
		
						</ul>
					</div>
		
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Disponible <!--<span class="badge pull-right" id="badgeNbEquipmentsDone"></span>--></h4>
						</div>
		
						<ul id="equipmentsListAdd" class="sortableEquipmentsList sortable unstyled nav nav-list">
						</ul>
					</div>
		
				</div>
			</fieldset>

	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formAddTask"  class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Time Spent -->
<div id="modalTimeSpent" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3><%= lang.viewsTitles.statementTask %></h3>
	</div>
	
	<div class="modal-body custom-height-modal">

		<blockquote id="infoModalTimeSpent" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

	    <form id="formTimeSpent" action="#" class="form-horizontal">
	    
			<!-- Worked time -->
			<div class="control-group">
				<label for="eventTimeSpent" class="control-label"><%= lang.workedTime %>:</label>
				
				<div class="controls">
					<div class="input-append bootstrap-timepicker">							
						<input type="text" class="timepicker-default input-small" id='eventTimeSpent' class="taskInput" class="taskInput"  required="required">
						<span class="add-on"><i class="icon-time"></i></span>
					</div>
				</div>
			</div>

			
			<!-- Remaining time -->
			<div class="control-group">
				<label for="eventTimeRemaining" class="control-label"><%= lang.remainingTime %>:</label>

				<div class="controls">
					<div class="input-append bootstrap-timepicker">
					    <input type="text" class="timepicker-default input-small" id='eventTimeRemaining' class="eventInput" required="required">
					    <span class="add-on"><i class="icon-time"></i></span>
					</div>
               	</div>
			</div>


			<!-- Vehicle -->
			<div class="control-group">
				<label for="taskEquipmentSpent" class="control-label"><%= _.capitalize(lang.vehicleEquipment) %>:</label>

				<div class="controls">
					<div class="input-append">
						<select id="taskEquipmentSpent" class="taskEquipment taskInput taskSelect" required="required" ></select>
						<span class="add-on linkRefueling" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.oil) %>">
							<i class="icon-tint"></i>
						</span>
					</div>
				</div>
			</div> 	

			
			<!-- Refueling Vehicle -->
			<fieldset class="refueling-vehicle hide">
				<legend><i class="icon-tint"></i> <%= _.capitalize(lang.oil) %></legend>

				<div class="control-group">
					<div class="form-inline">
						<!-- KM -->
						<div class="span4">
							<label for="equipmentKmSpent"><%= _.capitalize(lang.milometer) %>:</label>
							<input type="text" id="equipmentKmSpent" class="equipmentKm input-mini taskInput" placeholder="<%= lang.inKm %>" />
						</div>

						<!-- Oil -->
						<div class="span4">
							<label for="equipmentOilQtitySpent"><%= _.capitalize(lang.quantity) %>:</label>
							<input type="text" id="equipmentOilQtitySpent" class="taskInput input-mini" placeholder="<%= lang.inLiter %>" />
						</div>

						<!-- Oil Price -->
						<div class="span4">
							<label for="equipmentOilPriceSpent"><%= _.capitalize(lang.price) %>:</label>
							<input type="text" id="equipmentOilPriceSpent" class="taskInput input-mini" placeholder="<%= lang.inEuro %>" />
						</div>
					</div>
				</div>

			</fieldset>


			<!-- Equipments -->
			<fieldset>
				<legend><i class="icon-wrench"></i> <%= _.capitalize(lang.equipment) %></legend>

				<!-- Select Material -->
				<div class="row-fluid marginTop equipmentsDroppableAreaSpent">
					
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Utilisé <span class="badge pull-right"></span></h4>
						</div>
		
						<ul id="equipmentsSpent" class="sortableEquipmentsList sortable unstyled nav nav-list drop-area">
		
						</ul>
					</div>
		
					<div class="span6">
						<div class="widget-title">
							<h4 class="noMarginTop">Disponible <!--<span class="badge pull-right" id="badgeNbEquipmentsDone"></span>--></h4>
						</div>
		
						<ul id="equipmentsListSpent" class="sortableEquipmentsList sortable unstyled nav nav-list">
						</ul>
					</div>
		
				</div>
			</fieldset>
			
				
	    </form>
	</div>
	
	<div class="modal-footer">
	    <button type="submit" form="formTimeSpent" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>
