<div class="page-header">
	<h1>
		<%= lang.viewsTitles.teamsList %>
		<sup><i class="badge"><%= nbTeams %></i></sup>
	</h1>
</div>


<div class="container-fluid">

	<div class="span6">
		<!-- Check if there is Teams in the Database -->
		<% if(nbTeams > 0) { %>

			<!-- Table toolbar -->
			<div class="tableToolbar">
				<a href="#modalSaveTeam" class="btn btn-primary modalSaveTeam" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addTeam) %></a>

				<form class="form-search pull-right">
					<div class="input-append">
						<input type="search" class="input-medium search-query" placeholder="<%= lang.actions.search %>..." autocomplete="off">
						<button type="submit" class="btn"><i class="icon-search icon-large"></i></button>
					</div>
				</form>
			</div>
			<!-- Table toolbar -->


			<!-- Table Teams -->
			<table class="table teamsTable table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><%= _.capitalize(lang.name) %></th>
						<th><%= _.capitalize(lang.foreman) %></th>
					</tr>
				</thead>
				<tbody>
				<% for (var i = startPos; i < endPos; i++) { %>
					
					<!-- Teams row -->
					<tr class="row-item" id="team_<%= teams[i].id %>">
						<td>
							<i class="icon-group">&nbsp;&nbsp;</i><a href="#<%= _.slugify(teams[i].name) %>" class="teamName"><%= teams[i].name %></a>
							<p class="row-actions invisible">
								<a href="#modalSaveTeam" class="modalSaveTeam" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a> |
								<a href="#modalDeleteTeam" class="modalDeleteTeam" data-toggle="modal"><i class="icon-remove"></i>&nbsp;<%= _.capitalize(lang.actions.delete) %></a>
							</p>
						</td>
						<td><%= teams[i].manager_id[1] %></td>
					</tr>

				<% }; %>
				</tbody>
			</table>


			<!-- Table pagination -->
			<div class="pagination pagination-right">
				<ul>
					<!-- First page button -->
					<% if(page-2 >= 1){ %>
						<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%= 1 %>'><%= _.capitalize(lang.actions.first) %></a></li>
					<% } %>
					
					<!-- Previous page button -->
					<li <%= ((page - 1) == 0 ? " class='disabled'" : "")%>><a href='#sites/page<%=(page-1)%>'><%= _.capitalize(lang.actions.previousShort) %></a></li>
				
					<!-- [...] page Button -->
					<% 	if (page-2 > 1) { %>
							<li class="disabled"><a href='#'>...</a></li>
					<% } 
							
						for (var i=(page-2); i < (page+3); i++) {
							if(i >= 1 && i <= pageCount){ %>
								<li <%= (i === page ? " class='active'" : "")%>><a href='#sites/page<%=i%>'><%= i %></a></li>
							<% }

						} %>
						
					<!-- [...] page Button -->
					<% if (page+2 < pageCount) { %>
						<li class="disabled"><a href='#'>...</a></li>
					<% } %>
					
					<!-- Next page button -->
					<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%=(page+1)%>'><%= _.capitalize(lang.actions.nextShort) %></a></li>
					
					<!-- Last page button -->
					<% if(page+2 <= pageCount){ %>
						<li <%= ((page + 1) > pageCount ? " class='disabled'" : "")%>><a href='#sites/page<%= pageCount %>'><%= _.capitalize(lang.actions.end) %></a></li>
					<% } %>
				</ul>
			</div>
			<!-- /Table pagination -->

		<% }
		else { %>
			<div class="tableToolbar">
				<a href="#modalSaveTeam" class="btn btn-primary modalSaveTeam" data-toggle="modal"><i class="icon-plus-sign"></i> <%= _.capitalize(lang.actions.addTeam) %></a>
			</div><br />

			<!-- No team in the Database -->
			<div class="alert alert-info">
				<i class="icon-info-sign icon-large"></i> &nbsp;<%= lang.infoMessages.noTeam %>.
			</div>

		<% } %>

	</div>


	<!-- Team Services and members -->
	<div class="span6 hide" id="teamServicesMembers">

		<h4 class="well" id="teamTitle"></h4>

		<!-- Officers Management -->
		<div class="row-fluid officersDroppableArea">

			<div class="span6">
				<div class="widget-title">
					<h4>Agents de l'équipe <span class="badge pull-right"></span></h4>
				</div>

				<ul id="teamMembers" class="sortableOfficersList sortable unstyled nav nav-list">

				</ul>
			</div>

			<div class="span6">
				<div class="widget-title">
					<h4>Agents sans équipe <span class="badge pull-right"><%= _.size(officersWithoutTeam) %></span></h4>
				</div>

				<ul id="officersList" class="sortableOfficersList sortable unstyled nav nav-list">
					<% _.each(officersWithoutTeam, function (officer, i){ %>
						<li id="officer_<%= officer.attributes.id %>"><a href="#"><i class="icon-user"></i>	<%= officer.attributes.firstname +' '+ officer.attributes.name%> </a></li>
					<% }); %>
				</ul>
			</div>

		</div>

		<!-- Services Management -->
		<div class="row-fluid marginTop servicesDroppableArea">
			
			<div class="span6">
				<div class="widget-title">
					<h4>Services de l'équipe <span class="badge pull-right"></span></h4>
				</div>

				<ul id="teamServices" class="sortableServicesList sortable unstyled nav nav-list">

				</ul>
			</div>

			<div class="span6">
				<div class="widget-title">
					<h4>Autre services <span class="badge pull-right" id="badgeNbServices"></span></h4>
				</div>

				<ul id="servicesList" class="sortableServicesList sortable unstyled nav nav-list">
				</ul>
			</div>

		</div>

	</div>

</div>


<!-- Modal Form to add or update a new Team -->
<div id="modalSaveTeam" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3><%= _.capitalize(lang.actions.addTeam) %></h3>
	</div>

	<div class="modal-body">
		<form id="formSaveTeam" action="#" class="form-horizontal">

			<!-- Team name -->
			<div class="control-group">
				<label for="teamName" class="control-label"><%= _.capitalize(lang.name) %>:</label>

				<div class="controls">
					<input type="text" id="teamName" name="teamName" required="required" />
					<span class="help-inline"></span>
				</div>
			</div>

			<!-- Team Foreman -->
			<div class="control-group">
				<label for="teamForeman" class="control-label"><%= _.capitalize(lang.foreman) %>:</label>

				<div class="controls">
					<select id="teamForeman"></select>
					<span class="help-inline"></span>
				</div>
			</div>

		</form>
	</div>
	
	<div class="modal-footer">
		<button type="submit" form="formSaveTeam" class="btn btn-primary"><%= _.capitalize(lang.actions.save) %></button>&nbsp;&nbsp;
		<a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>


<!-- Modal Form Delete Team -->
<div id="modalDeleteTeam" class="modal hide fade">
	<div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3>Suppression de l'équipe</h3>
	</div>
	
	<div class="modal-body">

		<blockquote id="infoModalDeleteTeam" class="spaceBottom">
			<p></p>
			<small></small>
		</blockquote>

		<p><%= lang.warningMessages.confirmDeleteTeam %></p>
	</div>
	
	<div class="modal-footer">
	    <button type="button" class="btn btn-danger btnDeleteTeam"><%= _.capitalize(lang.actions.delete) %></button>&nbsp;&nbsp;
	    <a href="#" data-dismiss="modal"><%= _.capitalize(lang.actions.cancel) %></a>
	</div>
</div>