<h4 class="well well-small noMarginTop"><%= team.getName() %></h4>

<div class="row-fluid">

	<!-- Team Members -->
	<div class="span6">

		<div class="widget-title">
			<h4><%= lang.teamMembers %> <span class="badge pull-right"></span></h4>
		</div>
		<input type="text" id="searchMembers" class="input-block-level" data-multiple='true' data-placeholder="<%= lang.actions.selectAgents %>">
	</div>

	<!-- Team Services -->
	<div class="span6">
		
		<div class="widget-title">
			<h4><%= lang.teamServices %> <span class="badge pull-right"></span></h4>
		</div>
		<input type="text" id="searchServices" class="input-block-level" data-multiple='true' data-placeholder="<%= lang.actions.selectServices %>">
	</div>

</div>