<div id='event-create'>                               
        <fieldset>                                   
        <form>
        	<div class="btn-group" id='eventState' data-toggle="buttons-radio">
			  <button type="button" class="btnUnlink"  value="takeOff" >Retirier</button>
			  <!--  <button type="button" class="btn" value="notdone" >Dupliquer</button> -->
			  <input type="hidden" name="view-opt-bt-group-value" value="0">
			</div>
			<br />
            <!-- Request Description -->
            <div class="control-group">
            	<label for="taskIntervention" class="control-label"><%= _.capitalize(lang.intervention) %>:</label>

                <div class="controls">
                    <input name="taskIntervention" id="taskIntervention" rows="1" type="text"  readonly="readonly" value="<%= task.project_id[1] %>"/>
                    <span class="help-inline"></span>
                </div>
                
                <label for="taskTeam" class="control-label"><%= _.capitalize(lang.teams) %>:</label>

                <div class="controls">
                    <input name="taskTeam" id="taskTeam" rows="1" type="text" readonly="readonly" value="<%= task.team_id[1] %>"/>
                    <span class="help-inline"></span>
                </div>
            
                <label for="taskNote" class="control-label"><%= _.capitalize(lang.note) %>:</label>

                <div class="controls">
                    <textarea name="taskNote" id="taskNote" rows="1"  readonly="readonly"><%= task.notes %></textarea>
                    <span class="help-inline"></span>
                </div>
            </div>                         
        </form>
    </fieldset>
</div>