<div id='event-create'>                               
        <fieldset>                                   
        <form>

            <!-- Request Description -->
            <div class="control-group">
            	<label for="taskIntervention" class="control-label"><%= _.capitalize(lang.intervention) %>:</label>

                <div class="controls">
                    <input name="taskIntervention" id="taskIntervention" rows="1" type="text"  readonly="readonly" value="<%= task.project_id[1] %>"/>
                    <span class="help-inline"></span>
                </div>
                <% if( task.team_id!=false && task.team_id!='undefined' && task.team_id!=null ) {  %>               
	                <label for="taskTeam" class="control-label"><%= _.capitalize(lang.team) %>:</label>
	
	                <div class="controls">
	                    <input name="taskTeam" id="taskTeam" rows="1" type="text" readonly="readonly" value="<%= task.team_id[1] %>"/>
	                    <span class="help-inline"></span>
	                </div>
	            <%  } else if( task.user_id!=false && task.user_id!='undefined' && task.user_id!=null ){ %>                
	                <label for="taskUser" class="control-label"><%= _.capitalize(lang.agent) %>:</label>
	
	                <div class="controls">
	                    <input name="taskUser" id="taskUser" rows="1" type="text" readonly="readonly" value="<%= task.user_id[1] %>"/>
	                    <span class="help-inline"></span>
	                </div>
	            <% } %> 
            
                <label for="taskNote" class="control-label"><%= _.capitalize(lang.note) %>:</label>				
                <div class="controls">                	
                    <textarea name="taskNote" id="taskNote" rows="1"  readonly="readonly"><%= task.notes!=false?task.notes:"" %></textarea>
                    <span class="help-inline"></span>
                </div>
            </div> 
            
            <br />
			<% var disabledBtn = ( task.state==app.Models.Task.state[3].value || task.state==app.Models.Task.state[4].value )?"disabled=disabled":"" %>
			<% console.debug(disabledBtn) %>
            <div class="btn-group" id='eventState' data-toggle="buttons-radio">
			  <button type="button" id="btnUnlinkTask" <%= disabledBtn %> >Retirer du planning</button>
			  <!--  <button type="button" class="btn" value="notdone" >Dupliquer</button> -->
			  <input type="hidden" name="view-opt-bt-group-value" value="0">
			</div>                        
        </form>
    </fieldset>
</div>