<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>
		<i class="icon-edit"></i>&nbsp;
		<%= _.capitalize(lang.viewsTitles.newAbsent) %>
	</h3>
</div>

<div class="modal-body">

	<blockquote id="infoModalAbsentTask" class="spaceBottom">
		<p></p>
		<small></small>
	</blockquote>


	<form id="formAbsentTask" action="#" class="form-horizontal">

		
	    	<!-- Absent Type -->
	    	<div class="control-group">
				<label for="absentType" class="control-label"><%= _.capitalize(lang.type) %>:</label>

				<div class="controls">
					<select id="absentType" required="required"></select>
					<span class="help-inline"></span>
				</div>
			</div>


            <!-- Absent start date / hour -->
            <div class="control-group">
				<label class="control-label" for="startDate"><%= _.capitalize(lang.dateStart) %>:</label>
				<div class="control-group">

					<div class="controls">
						<!-- Start date -->
						<div class="input-append">
							<input  type="text" class="datepicker input-small" id="startDate" value="" required="required">
							<span class="add-on"><i class="icon-calendar"></i></span>
						</div>
	                	
						<!-- Start Hour -->
						<div class="input-append bootstrap-timepicker" >							
							    <input type="text" class="timepicker-default input-mini" id='startHour' required="required">
							    <span class="add-on"><i class="icon-time"></i></span>
						</div>
					</div>

				</div>
			</div>
            

			<!-- Absent end date / hour -->
            <div class="control-group">
                <label class="control-label" for="endDate"><%= _.capitalize(lang.dateEnd) %>:</label>
                <div class="control-group">

	                <div class="controls">
	            		<!-- End Date -->
	            		<div class="input-append">
	                        <input type="text" class="datepicker input-small" id="endDate" value=""  placeholder="dd/mm/yyyy" required="required">
	                    	<span class="add-on"><i class="icon-calendar"></i></span>
	                    </div>

	                    <!-- End Hour -->
	                    <div class="input-append bootstrap-timepicker" >							
						    <input type="text" class="timepicker-default input-mini" id='endHour' required="required">
						    <span class="add-on"><i class="icon-time"></i></span>
						</div>
	                </div>

            	</div>
            </div>

	</form>
</div>

<div class="modal-footer">
	<button type="submit" form="formSaveAbsentType" class="btn btn-primary"
		data-loading-text="<i class='icon-refresh icon-spin'></i>&nbsp; <%= lang.saveInProgress %>"
	>
		<%= _.capitalize(lang.actions.save) %>
	</button>&nbsp;&nbsp;
	
	<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
</div>