<div class="modal-dialog">
	<div class="modal-content">


		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 class="modal-title">

				<i class="fa pencil-square-o"></i>&nbsp;

				<% if(_.isNull(officer.getId())){ %>
					<%= _.capitalize(lang.viewsTitles.newOfficer) %>
				<% } else{ %>
					<%= _.capitalize(lang.viewsTitles.editOfficer) %>
				<% } %>


				<% if(!_.isUndefined(loader)) { %>
					<span class="modal-loader progress progress-striped active">
						<span class="bar"></span>
					</span>
				<% } %>
			</h3>
		</div>

		<div class="modal-body">

			<% if(_.isUndefined(loader)) { %>
			<form id="formSaveOfficer" action="#" class="form-horizontal" role="form">

				<fieldset>

					<!-- Officer firstname -->
					<div class="form-group">
						<label for="officerFirstname" class="control-label col-sm-3"><%= _.capitalize(lang.firstname) %>:</label>

						<div class="col-sm-9">
							<input type="text" id="officerFirstname" class="form-control" required value="<%= (_.isNull(officer.getId()) ? '' : officer.getFirstname())%>">
						</div>
					</div>

					<!-- Officer name -->
					<div class="form-group">
						<label for="officerName" class="control-label col-sm-3"><%= _.capitalize(lang.name) %>:</label>

						<div class="col-sm-9">
							<input type="text" id="officerName" class="form-control" required value="<%= (_.isNull(officer.getId()) ? '' : officer.getName()) %>">
						</div>
					</div>

					<!-- Officer email -->
					<div class="form-group">
						<label for="officerEmail" class="control-label col-sm-3"><%= _.capitalize(lang.email) %>:</label>

						<div class="col-sm-9">
							<input type="email" id="officerEmail" class="form-control" value="<%= (_.isNull(officer.getId()) ? '' : officer.getEmail()) %>" />
						</div>
					</div>

					<!-- Officer Group -->
					<div class="form-group">
						<label for="officerGroup" class="control-label col-sm-3"><%= _.capitalize(lang.group) %>:</label>

						<div class="col-sm-9">
							<input id="officerGroup" class="select2" required data-placeholder="<%= lang.actions.selectAGroup %>"

							<% if(!_.isNull(officer.getId())){
								if(!_.isUndefined(officer.getGroupSTC('id'))) { %>
								data-selected-value='<%= JSON.stringify(officer.getGroupSTC('json')) %>'
							<% } } %>

							>
						</div>
					</div>

					<!-- Officer Service -->
					<div class="form-group">
						<label for="officerService" class="control-label col-sm-3"><%= _.capitalize(lang.membershipService) %>:</label>

						<div class="col-sm-9">
							<input id="officerService" class="select2" required data-placeholder="<%= lang.actions.selectAService %>"

							<% if(!_.isNull(officer.getId())){
								if(!_.isUndefined(officer.getService('id'))) { %>
								data-selected-value='<%= JSON.stringify(officer.getService('json')) %>'
							<% }
							}else{
								var json = {id: service.getId(), name: service.getName()}
							%>
								data-selected-value='<%= JSON.stringify(json) %>'
							<% } %>

							>
						</div>
					</div>

					<!-- Officer Other Service -->
					<div class="form-group">
						<label for="officerOtherServices" class="control-label col-sm-3"><%= _.capitalize(lang.otherServices) %>:</label>

						<div class="col-sm-9">
							<input id="officerOtherServices" class="select2" data-placeholder="<%= lang.actions.selectServices %>" data-multiple="true"

							<% if(!_.isNull(officer.getId())){
								if(!_.isEmpty(officer.getServices())) { %>
									data-selected-value='<%= JSON.stringify(officer.getServices('json')) %>'
							<% } } %>

							>
						</div>
					</div>

				<fieldset>

				<% if(_.isNull(officer.getId())) {%>
				<fieldset>

					<legend><%= _.capitalize(lang.connection) %></legend>

					<!-- Officer login -->
					<div class="form-group">
						<label for="officerLogin" class="control-label col-sm-3"><%= _.capitalize(lang.login) %>:</label>

						<div class="col-sm-9">
							<input type="text" id="officerLogin" class="form-control" required />
						</div>
					</div>

					<!-- Officer password -->
					<div class="form-group">
						<label for="officerPassword" class="control-label col-sm-3"><%= _.capitalize(lang.password) %>:</label>

						<div class="col-sm-9">
							<input type="password" id="officerPassword" class="form-control" pattern=".{6,}" required />
							<span class="help-block"><%= lang.infoMessages.sixCharMin %></span>
						</div>
					</div>

				</fieldset>
				<% } %>

			</form>
			<% } %>
		</div>

		<div class="modal-footer">
			<button type="submit" form="formSaveOfficer" class="btn btn-primary"
				data-loading-text="<i class='fa fa-refresh fa-spin'></i>&nbsp; <%= lang.saveInProgress %>"
				<%= (_.isUndefined(loader) ? '' : 'disabled') %>
			>
				<%= _.capitalize(lang.actions.save) %>
			</button>&nbsp;&nbsp;

			<a href="#" data-dismiss="modal" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>

	</div>
</div>