<div class="form-group">
	<label for="new_date_start_order" class="control-label col-sm-3"><%= lang.patrimoine.newPeriod %> </label>
	
	<div class="col-sm-9">
		<div class="input-daterange input-group datepicker">
		<span class="input-group-addon"><%= _.capitalize(lang.from) %></span>
			<input type="text" id="new_date_start_order" class="form-control field-element" placeholder="dd/mm/yyyy" value="<%= model.getDateFr('new_date_start_order') %>" required>
			<span class="input-group-addon"><%= _.capitalize(lang.to) %></span>
			<input type="text" id="new_date_end_order" class="form-control field-element" placeholder="dd/mm/yyyy" value="<%= model.getDateFr('new_date_end_order') %>" required>
		</div>
	</div>
</div>

<!-- Renewed contract note -->
<div class="form-group field" data-field-label="<%= lang.patrimoine.newNote%>" data-required="required" data-field-name="new_description"></div>