<td>
    <a class="accordion-object" href="#collapse_<%= claimer.id %>"><i class="icon-pushpin">&nbsp;&nbsp;</i><%= claimer.name %></a>
                    <span class="object-actions invisible">
                        <a href="#modalSaveClaimer" class="modalSaveClaimer" data-toggle="modal"><i class="icon-pencil"></i>&nbsp;<%= _.capitalize(lang.actions.update) %></a>

                    </span>
</td>
<td><%= claimer.type_id[1]  %></td>
<td class="hidden-phone"><%= (claimer.technical_site_id != null ? claimer.technical_site_id[1] : "") %></td>
<td><%= (claimer.phone != false ? claimer.phone : "") %></td>
<td><%= (claimer.email != false ? '<a href="mailto:'+claimer.email+'">'+claimer.email+'</a>' : "") %></td>
