<td>
    <% if(address.user_login){ %>
        <i class="fa fa-user" data-toggle="tooltip" data-original-title="<%= address.user_login %>"></i>
    <% } %>
    <span><%= address.name %></span>&nbsp;
                                            <span class="nested-objects-actions invisible">
                                                <a href="#modalEditContact" class="modalEditContact" data-toggle="modal" data-action="update">
                                                    <i class="fa fa-pencil displayInlineBlock" data-toggle="tooltip" data-action="update" data-original-title="<%= _.capitalize(lang.actions.update) %>">&nbsp;</i>
                                                </a> |

                                                <a href="#modalDeleteContact" class="modalDeleteContact" data-toggle="modal">
                                                    <i class="fa fa-trash-o displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">&nbsp;</i>
                                                </a>
                                            </span>
</td>
<td><%= address.function!=false ? address.function : '' %></td>
<td><%= address.phone!=false ? address.phone : '' %></td>
<td><%= address.email != false ? "<a href=mailto:"+address.email+">"+address.email+"</a>" : '' %></td>
<td><%= address.mobile != false ? address.mobile : '' %></td>
<td><%= address.street != false ? address.street : '' %></td>
<td><%= address.zip != false ? address.zip : '' %>&nbsp;<%= address.city != false ? address.city : '' %></td>