<td>
	<a class="accordion-object" href="#collapse_<%= intervention.id %>" rel="popover" data-content="<%= _(intervention.description).escapeHTML() %>" 		
		data-delay="160" data-title="<%= _.capitalize(lang.description) %>">
		<i class="icon-pushpin">&nbsp;&nbsp;</i><%= _.capitalize(_(intervention.name).escapeHTML()) %>
	</a>
	
	<!-- Interventions action -->
	<p class="row-actions invisible">
		<a href="#" class="modalSaveInter" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>">
			<i class="icon-pencil icon-large"></i>
		</a>&nbsp;

		<% if(intervention.actions.indexOf("cancel") > -1 ) { %>
			 &nbsp;<a href="#" class="buttonCancelInter" data-toggle="modal"><i class="icon-ban-circle icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>"></i></a> 
		<% } %>
	</p>
	
	
	
</td>
<td><small class="badge badge-<%= classColor %> pull-right"><%= informationHour %></small>