<td>
	<i class="fa fa-user">&nbsp;&nbsp;</i><%= officer.getCompleteName() %>

	<p class="row-actions invisible">
		<% if(_.contains(officer.getActions(), 'update')){ %>
		<a href="#"  class="modalUpdateOfficer">
			<i class="fa fa-pencil fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<% } %>

		<% if(_.contains(officer.getActions(), 'delete')){ %>
		<a href="#" class="modalDeleteOfficer">
			<i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
		<% } %>
	</p>
</td>

<!-- Login -->
<td><%= officer.getLogin() %></td>

<!-- Groupe -->
<td><%= officer.getGroupSTC() %></td>

<!-- Email -->
<td><a href="mailto:<%= officer.getEmail() %>"><%= officer.getEmail() %></a></td>

<!-- Last Connexion -->
<td><%= moment(officer.getLastConnection()).format('LLL') %></td>