<td>
	<i class="icon-group">&nbsp;&nbsp;</i><%= team.getName() %>

	<p class="row-actions invisible">
		<% if(_.contains(team.getActions(), 'update')){ %>
		<a href="#" class="modalSaveTeam">
			<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<% } %>

		<% if(_.contains(team.getActions(), 'delete')){ %>
		<a href="#" class="modalDeleteTeam">
			<i class="icon-trash icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
		<% } %>
	</p>
</td>
<td><%= team.getManager() %></td>