<td>
	<i class="icon-sitemap">&nbsp;&nbsp;</i><%= service.getName() %>

	<p class="row-actions invisible">
		<% if(_.contains(service.getActions(), 'update')){ %>
		<a href="#"  class="modalSaveService">
			<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<% } %>

		<% if(_.contains(service.getActions(), 'delete')){ %>
		<a href="#" class="modalDeleteService">
			<i class="icon-trash icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
		<% } %>
	</p>
</td>
<td><%= service.getCode() %></td>
<td><%= service.getManager() %></td>
<td><%= service.getParentService() %></td>
<td class="text-center"><%= (service.isTechnical() ? '<i class="icon-ok"></i>' : '') %></td>