	<% var taskClass =''
		if( task.state == app.Models.Task.status.draft.key ) taskClass = 'icon-chevron-right';
		else if( task.state == app.Models.Task.status.open.key ) taskClass = 'icon-time';
		else taskClass ='';

		var dateStart = moment(task.date_start).tz(app.models.user.getContext().tz);
		dateStart.add('minutes',-dateStart.zone());
	%>

	<i class="<%= taskClass %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= dateStart.format('LLL') %>"></i> <%= task.name %>


	<small class="nested-objects-actions invisible">
		<% if( task.actions.indexOf("delete")>-1) { %>

			<a href="#" class="modalDeleteTask" data-toggle="modal">
				<i class="icon-remove displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">&nbsp;</i>
			</a>

		<% } %>
		<% if(task.actions.indexOf("cancel") > -1) { %>
				<a href="#" data-toggle="modal" data-taskid="<%= task.id %>" class="buttonCancelTask">
					<i class="icon-ban-circle displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>">&nbsp;</i>
				</a>
		<%}%>
	</small>
	<small class="badge badge-<%= app.Models.Task.status[task.state].color %> pull-right"><%= app.Helpers.Main.decimalNumberToTime(task.planned_hours, 'human') %></small>