<td>
	<!-- Display a clock when the task is planned -->
	<% if(task.date_start != ''){ %>
		<i 
			class="icon-time displayInlineBlock" data-toggle="tooltip"
			data-original-title="<%= moment(task.date_start).format('LLL') %>" >
		</i>
	<% } %>
	<span class="<%= (task.state == app.Models.Task.status.done.key ? 'isCheck' : '') %>"><%= task.name %></span>&nbsp;
	<span class="nested-objects-actions invisible">

		<% if( task.actions.indexOf("print")>-1) { %>

				<a href="#" class="printTask" data-action="task">
				<i class="icon-print displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.print) %>" data-action="task">&nbsp;</i>
				</a>
		<% } %>
		<% if( task.actions.indexOf("delete")>-1) { %>

			<a href="#" class="modalDeleteTask" data-toggle="modal">
				<i class="icon-remove displayInlineBlock" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>">&nbsp;</i>
			</a>

		<% } %>
	</span>
</td>
<!-- Assign To -->
<td>
<% if(task.team_id == false){ %>
	<%= task.user_id[1] %>
<% } else { %>
	<%= task.team_id[1] %>
<% } %>
</td>
<td><%= app.decimalNumberToTime(task.planned_hours, 'human') %></td>
<td><%= app.decimalNumberToTime(task.effective_hours, 'human') %></td>
<td><%= app.decimalNumberToTime(task.remaining_hours, 'human') %></td>
<!-- Task state -->
<td>
	<!-- To Schedule / Cancelled / Schedule / Absent -->
	<% if(task.state != app.Models.Task.status.done.key) { %>
		<span class="label label-<%= app.Models.Task.status[task.state].color %>"><%= app.Models.Task.status[task.state].translation %></span>

	<!-- Finish -->
	<% } else { 
							
		if(_(task.effective_hours).toNumber(2) <= _(task.planned_hours).toNumber(2)){ %>
			<span class="label label-<%= app.Models.Task.status.done.color %>"><%= app.Models.Task.status.done.translation %></span>
		<% } else  { %>
			<span class="label label-overrun"><%= app.Models.Task.status.done.translation %></span>
		<% } 
	} %>
</td>
<!-- Actions Button -->
<td>
	<% if(task.actions.indexOf("light_mode_finished") > -1) { %>
			
		<div class="btn-group">
			<button class="btn btn-mini btn-success no-outline buttonTaskDone" data-toggle="modal" data-taskid="<%= task.id %>" data-target="#modalTaskDone"><i class="icon-ok icon-fixed-width"></i>
			</button>
			<button class="btn btn-mini dropdown-toggle no-outline" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right text-left">
				<% if(task.actions.indexOf("light_mode_unfinished") > -1) { %>
					<li>
						<a href="#" data-toggle="modal" data-taskid="<%= task.id %>" class="buttonNotFinish">
							<i class="icon-time icon-fixed-width iconButtonNotFinish"></i>&nbsp;<%= _.capitalize(lang.notFinished) %>
						</a>
					</li>
				<%}%>
				<% if(task.actions.indexOf("cancel") > -1) { %>
					<li>
						<a href="#" data-toggle="modal" data-taskid="<%= task.id %>" class="buttonCancelTask">
							<i class="icon-ban-circle icon-fixed-width"></i>&nbsp;<%= _.capitalize(lang.actions.cancel) %>
						</a>
					</li>
				<%}%>
			</ul>
		</div>
	<% } %>
</td>