<td><%= booking.id %></td>
<td>
	<a 	href="#collapse_<%= booking.getId() %>"
		class="accordion-object"
		data-toggle="popover"
		data-html="true"
		data-original-title="<%= _.capitalize(lang.about) %>"
		data-delay="160"
		data-content="">
			<i class="icon-pushpin">&nbsp;&nbsp;</i><%= _.capitalize(_(booking.getName()).escapeHTML()) %>
	</a>
	<!--  
	<a class="accordion-object" href="#collapse_<%= booking.id %>" data-toggle="popover" data-content="" data-delay="160" data-original-title="<%= _.capitalize(lang.description) %>">
		<i class="icon-pushpin">&nbsp;&nbsp;</i><%= _.capitalize(_(booking.getName()).escapeHTML()) %>
	</a>
	-->
	<!-- Interventions action -->
	<p class="row-actions invisible">
		<!--  <a href="#reservations" class="printInter" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.print) %>" data-action="inter">
			<i class="icon-print icon-large" data-action="inter">&nbsp;</i>
		</a>
		-->
		<% if ( !_.isUndefined(booking.getRecurrence('id')) ) { %>
			<a href="#" class="displayOccurences" data-toggle="tooltip" data-original-title="Afficher les occurences" data-action="reccurent">
				<i class="icon-th-list icon-large" data-action="reccurent">&nbsp;</i>
			</a>
		<% } %>

		<% if(booking.hasActions("cancel")) { %>
			 &nbsp;<a href="#" class="buttonCancelInter" data-toggle="modal"><i class="icon-ban-circle icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.cancel) %>"></i></a> 
		<% } %>
	</p>
</td>
<td>
<span data-toggle="tooltip" data-original-title="<%= booking.getResourceQuantities() %>"> <%= booking.getResourceNames('string') %></span>
</td>
<td><%= booking.getStartDate('human') %></td>
<td><%= booking.getEndDate('human') %></td>
<td>
	<span 
		data-toggle="tooltip" 
		data-html="true" 
		data-original-title="<strong><%= booking.fromCitizen() ? lang.citizen : booking.getClaimerType() %></strong> <%= booking.getClaimerContact() %>">
			<%= booking.fromCitizen() ? booking.getCitizenName() : booking.getClaimer() %>
	</span>
</td>
<td>
<span data-toggle="tooltip" data-original-title="<%= booking.getCreateDate('fromNow') %>"> <%= booking.getCreateDate() %></span>
</td>
<!-- Check the state of the booking -->
<td>
	<span 
		class="label label-<%= app.Models.Booking.status[booking.getState()].color %>" 
		data-toggle="tooltip"
		data-original-title="<%= booking.getInformations() %>">
		<%= app.Models.Booking.status[booking.getState()].translation %>
	</span>
</td>
<td>

	<!-- Create the buttons group action -->
	<div class="btn-group btn-group-sm">

		<!-- Check if the booking is not in waiting state -->
		<%

			var mainAction = app.Models.Booking.actions.resolve_conflict.key;
			var mainActionColor = app.Models.Booking.actions.resolve_conflict.color;
			var mainActionIcon = app.Models.Booking.actions.resolve_conflict.icon;
			var mainActionDisabled = '';
		%>
		<!-- Main action button -->
		<button class="btn btn-<%= mainActionColor %> <%= mainActionDisabled %> no-outline button<%= _.capitalize(mainAction) %>Booking" >
			<i class="<%= mainActionIcon %> icon-fixed-width button<%= _.capitalize(mainAction) %>Booking"></i>
		</button>
		
		<!-- Dropdown button action -->
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="icon-caret-down"></span>
		</button>
		
		<!-- Other buttons action -->
		<ul class="dropdown-menu pull-right text-left">
			<% _.each(booking.getActions(), function(action){ %>
				<li>
					<a href="#reservations" class="button<%= _.capitalize(app.Models.Booking.actions[action].key) %>Booking">
						<i class="<%= app.Models.Booking.actions[action].icon %> icon-fixed-width"></i>&nbsp;<%= _.capitalize(app.Models.Booking.actions[action].translation) %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
</td>
