<td>
	<i class="icon-map-marker">&nbsp;&nbsp;</i><%= place.getCompleteName() %>

	<p class="row-actions invisible">
		<a href="#"  class="modalSavePlace">
			<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i></a>&nbsp;
		<a href="#" class="modalDeletePlace">
			<i class="icon-remove icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
	</p>
</td>
<td data-form-id="placeParentPlace"><%= place.getParentPlace() %></td>
<td data-form-id="placeServices"><%= place.getServices('string') %></td>	
<td data-form-id="placeArea" class="text-right hidden-phone"><%= place.getSurface(true) %></td>
