<td><i class="icon-wrench"></i> <%= equipment.name %>
	
	<p class="row-actions invisible">
		<a href="#" class="modalSaveEquipment" data-toggle="modal">
			<i class="icon-pencil icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.update) %>"></i>
		</a>&nbsp;
		<a href="#" class="modalDeleteEquipment" data-toggle="modal">
			<i class="icon-remove icon-large" data-toggle="tooltip" data-original-title="<%= _.capitalize(lang.actions.delete) %>"></i>
		</a>
	</p>
</td>
<td><%= (equipment.immat != false ? equipment.immat : "")%></td>
<td><%= (equipment.marque != false ? equipment.marque : "")%></td>
<td><%= (equipment.year != false ? equipment.year : "")%></td>
<td><%= (equipment.time != false ? equipment.time : "")%></td>
<td><%= (equipment.km != false ? equipment.km : "" )%></td>
<td><%= (equipment.categ_id != false ? equipment.categ_id[1] : "")%></td>
