<form id="formApplyFilters" action="#" class="form-horizontal container well well-small" data-spy="affix" role="form">
	
	<div class="field-container">
	</div>

	<hr/>

	<!-- Form Actions -->
	<div class="row">
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-lg" form="formApplyFilters" id="applyFormFilters">Appliquer</button>&nbsp;
			<a href="#app-interventions/demandes-dinterventions" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>
	</div>
</form>