




<div class="page-header">
	<h1>
		<%= pageTitle %>
	</h1>
</div>

	
<form id="formApplyFilters" action="#" class="form-horizontal container well well-small" data-spy="affix" role="form">
	
	<div class="row">
		<!-- Service Filter -->
		<div class="form-group" id="filters">
			<label for="searchServices" class="control-label col-sm-3"><%= lang.actions.selectServices %>:</label>

			<div class="col-sm-9">
				<input type="text" id="service_id" style="width: 100%" data-multiple='true' data-placeholder="<%= lang.actions.selectServices %>"
					 data-tag-large="true">
			</div>
		</div>
	</div>

	<hr/>

	<!-- Form Actions -->
	<div class="row">
		<div class="text-center">
			<button type="submit" class="btn btn-primary btn-lg" form="formApplyFilters" id="applyFormFilters">Appliquer</button>&nbsp;
			<a href="#app-interventions/demandes-dinterventions" aria-hidden="true"><%= _.capitalize(lang.actions.cancel) %></a>
		</div>
	</div>
</form>
