<li role="presentation" class="dropdown-header dropdown-header-lg"><%= lang.prerecoredFilters %></li>

<!-- Pre Recorded Filters -->
<li role="presentation" class="horizontal-align">
	<% if(! _.isUndefined(states) ) {  %>
		<% _.each(states, function (state, i) { %>
			<a tabindex="-1" href="#<%= state.key %>">
				<span class="label label-<%= state.color %>"><%= _.capitalize(state.translation) %></span>
			</a>
		<% }) %>
	<% } %>
</li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header dropdown-header-lg"><%= lang.myFilters %></li>

<!-- My Filters -->
<% if(! _.isUndefined(filters) ) {  
	var multiPartUrl = _.size(urlArray) > 1? true: false ;
	 _.each(filters, function (f) {  
		var route = '';
		if ( multiPartUrl ) {
			var urlSecondPart = _(urlArray[1]).splice(0, 0, f.id);
			route = _.join('/filter/', urlArray[0], urlSecondPart)
		}
		else {
			route = _.join('/filter/', urlArray[0], f.id)
		}
	%>
	<li role="presentation">
		<a tabindex="-1" href="#<%= route %>"><i class="fa fa-filter fa-fw"></i> <%= _.capitalize(f.name) %></a>
	</li>
	<% }) %>
<% } %>
