// Full Calendar Update //
.fc-slot8, .fc-slot9, .fc-slot10, .fc-slot11 {
	background-color: @grayLighter;
}
.fc-header{
	margin-bottom: 5px;
	height: 90px;

	h2{
		margin-top: 20px;
		font-size: @baseFontSize*1.8;
	}
}





/* Calendar Color
-------------------------------------------------- */

// Success (green)
.calendar-success.fc-event {
	border-color: darken(@successText, 5%);
	background-color: @successText;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@successText, 5%); }
}

// Info (blue)
.calendar-info.fc-event {
	border-color: darken(@infoText, 5%);
	background-color: @infoText;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@infoText, 5%); }
}

// Default (gray)
.calendar-default.fc-event {
	border-color: darken(@grayLight, 5%);
	background-color: @grayLight;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@grayLight, 5%); }
}

// Absent (pink)
.calendar-absent.fc-event {
	border-color: darken(@pink, 5%);
	background-color: @pink;
	div.fc-event-inner div.fc-event-time{ background-color: darken(@pink, 5%); }
}