//
// Dropdown menus
//

// Bigger header //
.dropdown-header-lg{
	font-weight: bolder;
	font-size: @font-size-base;
}

// Horizontal display //
.dropdown-menu > li.horizontal-align > a {
	display: inline-block;
}