/* App Loader
-------------------------------------------------- */
#loader{
	.hide();
	position: fixed;
	top: 45%; left: 50%;
	width: 250px;
	height: auto;
	z-index: 99999;
	margin-left: -6%;
	margin-top: -5%;
	border-width: 1px;
	border-color: @grayLight;
}


/* Modal Loader
-------------------------------------------------- */
.modal-loader {
	.pull-right;
	.input-medium;
	margin: 5px 20px 0 0;

	.bar{
		width: 100%;	
	}
}