/* Import
-------------------------------------------------- */

@import 'variables';

// Customizing components //
@import 'progress-bars';
@import 'labels';
@import 'badges';
@import 'pagination';
@import 'coponent-animations';
@import 'tables';
@import 'types';

// Customizing plugin //
@import 'select2';

@import 'calendar';
@import 'drop-area';
@import 'loader';




/* Generic
-------------------------------------------------- */
body{
	padding-top: 50px;
	padding-bottom: 50px;
}
.navbar-brand{
	height: 20px;
}

.hide-soft{
	display: none	
}



.popover-title, .bolder{
	font-weight: bolder;
}
.no-outline{
	outline: none !important;
}
.spaceBottom{
	margin-bottom: 30px;
}
.isCheck{
	text-decoration: line-through;
}
.displayInlineBlock{
	display: inline-block;
}
.marginTop{
	margin-top: 35px;
}
.marginLeft{
	margin-left: 15px;
}
.noMarginTop{
	margin-top: 0;
}
.noMarginBottom{
	margin-bottom: 0 !important;
}

.sortablePlaceHold{
	background-color: @wellBackground;
	height: 28px;
	border: thin dashed darken(@wellBackground, 65%);
}

::selection { background: lighten(@pink, 20%); color: @white; }
::-moz-selection { background: lighten(@pink, 20%); color: @white; }


// <sup> Badge //
*:not(i)[data-toggle="tooltip"]:not([data-original-title='']) { cursor: help; }



// Table Toolbar //
.tableToolbar{
	margin-bottom: 15px;
}



// pNotify compatibility with Font Awesome 3.0.2 //
div.ui-pnotify-container{
	.show();
}
div.ui-pnotify.big-icon div.icon-large div.ui-pnotify-icon{
	.noMarginTop();
}


div.progress{
	.noMarginBottom();
}

// Filter Button Table //
a.filter-button.filter-disabled{
	.opacity(.4);
	.text-muted();

	&:hover{
		.opacity(1);
		color: none;
	}
}


div.accordion-group{
	margin-bottom: 5px;
}



/* HEADER
-------------------------------------------------- */
div.page-header{
	margin-top: 5px;
}




// List in Popover Tooltip //
.tooltip-inner ul li, .popover-content ul{
	margin-left: 0;
}
.tooltip-inner ul li, .popover-content ul li{
	height: 20px !important;
	width: auto !important;
}
.popover-content hr{
	margin-top: 8px;
	margin-bottom: 8px;
}
.popover-content{
	font-weight: normal;
}


/* PYF Twitter Bootstrap Accordion and button dropdown overflow issue 
	http://stackoverflow.com/questions/10959068/twitter-bootstrap-accordion-and-button-dropdown-overflow-issue
*/
.accordion-body[class*="in collapse"]{ overflow:visible; }



/* Border Emphasize
-------------------------------------------------- */
.border-emphasize {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @grayLight;
}
.border-emphasize {
	&-info{ border-left-color: @infoText; }
	&-important{ border-left-color: @errorText; }
	&-warning{ border-left-color: @orange; }
	&-success{ border-left-color: @successText; }
	&-overrun{ border-left-color: @purple; }
	&-template{ border-left-color: @yellow; }
}



/* Calendar
-------------------------------------------------- */
section.calendarContainer{
	//min-width: 770px;
	margin-bottom: 2px;
}


.calendar.thumbnail{
	border-color: @grayLight;
}
.calendar.thumbnail:hover{
	//border-color: @blueDark;
}

.fc-view{
   /* prevents dragging outside of widget */
   width: 100%;
   overflow: hidden;
}



/* Planning Task List
-------------------------------------------------- */
#planningToolbar{
	margin-bottom: 30px;
}

#accordionInter div.accordion-group{
	border-color: darken(@grayLighter, 10%);
	.border-radius(0);
}
#accordionInter div.accordion-heading:hover{

	background-color: @popover-title-bg;
	
	.invisible{
		visibility: visible;
	}
}

ul.tasks li.external-event{
	padding: 5px 5px 5px 5px;
	cursor: move;
}
/* Display Task Actions */
ul.tasks li.external-event:hover a.hide{
	display: inline;
}
li.external-event.disabled{
	color: @grayLight;
	cursor: no-drop!important;
}
li.external-event:hover{
	background-color: @grayLighter;
	.border-radius(10px);
}
div.div-actions{
	font-size: 85%;
	border-top: 1px solid @grayLight;
	padding: 5px;
}



/* Planning List Agents
-------------------------------------------------- */
#listAgentsTeams{
	margin-bottom: 15px;
	overflow-y: hidden;
}
#listAgentsTeams.affix{
	top: 60px;
}
#listAgentsTeams div.tab-content div.tab-pane{
	height: 120px;
}
#listAgents, #listTeams{
	margin-bottom: 0;
}
#listAgents li, #listTeams li{
	.size(30px, 31%);
}
#listAgents li a, #listTeams li a{
	margin-left: 0;
	padding-left: 5px;
}



// object Actions //
.object-actions, .row-actions{
	display: inline;
	font-size: 85%;
	width: auto;
	margin: 0 0 0 15px;
}
.row-actions.no-margin{
	margin: 0;	
}
.nested-objects-actions{
	font-size: 90%;
}
.object-actions a:hover i, .row-actions a:hover i, .nested-objects-actions a:hover i, a.accordion-toggle:hover i, a.accordion-object:hover i{
	text-decoration: none;
}

// object nestedObjects //
ul.nested-objects li:hover .nested-objects-actions, tr.row-item:hover .row-actions, tr.row-nested-objects:hover .nested-objects-actions, tr.row-object:hover .object-actions{
	visibility: visible;
	a:hover{
		text-decoration: none;
	};
}



/* List tasks
-------------------------------------------------- */
.collapse-selected{
	border-left: 5px solid @blue !important;
	border-radius: 0px !important;
}
.accordion.without-border .accordion-group{
	margin: 40px 0 40px 0;
	padding-left: 10px;
	border: none;
}
.accordion.without-border .accordion-heading{
	border-bottom: thin solid #e5e5e5;
}
.accordion.without-border .accordion-toggle{
	padding: 1px;
}
.accordion.without-border .accordion-toggle:hover{
	text-decoration: none;
}




/* Connection Form
-------------------------------------------------- */
#formConnection{
	.box-shadow(0 1px 10px rgba(50,50,0,0.5));
	max-width: 500px; 
	margin: 10% auto;
	padding-bottom: 5px;
	padding-top: 8px;
}



/* Tables
-------------------------------------------------- */
table thead th.align, .table tbody td.align{
	.text-center();
}

.table-caption{
	.text-left();
	padding: 0 0 4px 4px;
	font-size: @fontSizeLarge;
	font-weight: bolder;
	margin: 0;
}



/* objects list
-------------------------------------------------- */
tr.row-nested-objects-collapse{
	.hide();
}
tr.row-nested-objects-collapse.expend:hover td.nestedTD{
	background-color: @white;
}
tr.row-nested-objects-collapse td.nestedTD{
	padding: 25px 3% 5px 3%;
}
tr.info td:first-child{
	font-weight: bolder;
}



.widget-title {
    border-bottom: 1px solid @table-bg;
    margin-bottom: 10px;
}



/* Responsive
-------------------------------------------------- */
@media (max-width: 979px) {

  	// Planning list Agents //
	#listAgents li, #listTeams li{
		width: 45%;
	}

}