/* Import
-------------------------------------------------- */

@import 'variables';

// Customizing components //
@import 'progress-bars';
@import 'labels';
@import 'badges';
@import 'pagination';
@import 'coponent-animations';
@import 'tables';
@import 'types';
@import 'form';

// Customizing plugin //
@import 'select2';

@import 'calendar';
@import 'drop-area';
@import 'loader';




/* Generic
-------------------------------------------------- */
body{
	padding-top: 50px;
	padding-bottom: 50px;
}
.navbar-brand{
	height: 20px;
}

.hide-soft{
	display: none	
}

fieldset{
	margin-top: @line-height-computed*1.5;
}

.popover-title, .bolder{
	font-weight: bolder;
}

.isCheck{
	text-decoration: line-through;
}

.noMarginTop{
	margin-top: 0;
}
.noMarginBottom{
	margin-bottom: 0 !important;
}

.tableToolbar{
	margin-bottom: 15px;
}

.popover-content hr{
	margin-top: 8px;
	margin-bottom: 8px;
}




/* XL Grid
-------------------------------------------------- */
@media (min-width: @screen-xl-desktop) {
  .container {
    max-width: @container-xl-desktop;
  }
}


/* HEADER
-------------------------------------------------- */
div.page-header{
	margin-top: 5px;
}



/* Hack for DatePicker
-------------------------------------------------- */
div.datepicker{
	z-index: @zindex-modal+1 !important;
}



/* Selection Color
-------------------------------------------------- */
::selection { background: lighten(@pink, 20%); color: #FFF; }
::-moz-selection { background: lighten(@pink, 20%); color: #FFF; }



/* Tooltip element cursor
-------------------------------------------------- */
*:not(i)[data-toggle="tooltip"]:not([data-original-title='']) { cursor: help; }



/* Sortable PlaceHolder
-------------------------------------------------- */
.sortablePlaceHold{
	background-color: @well-bg;
	height: 28px;
	border: thin dashed darken(@well-bg, 65%);
}



/* pNotify compatibility with Font Awesome 3.0.2 and Bootstrap 3.0.0
-------------------------------------------------- */
div.ui-pnotify-container{
	.show();
}
div.ui-pnotify.big-icon div.icon-large div.ui-pnotify-icon{
	.noMarginTop();
}
.alert-error {
  .alert-danger();
}



/* Filter Button Table
-------------------------------------------------- */
a.filter-button.filter-disabled{
	.opacity(.4);
	.text-muted();

	&:hover{
		.opacity(1);
		color: none;
	}
}



/* Border Emphasize
-------------------------------------------------- */
.border-emphasize {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @gray-light;
}
.border-emphasize {
	&-info{ border-left-color: @brand-info; }
	&-important{ border-left-color: @brand-danger; }
	&-warning{ border-left-color: @brand-warning; }
	&-success{ border-left-color: @brand-success; }
	&-overrun{ border-left-color: @purple; }
	&-template{ border-left-color: @yellow; }
}



/* Connection Form
-------------------------------------------------- */
#formConnectionContainer{
	max-width: 500px;
	.box-shadow(0 1px 10px rgba(50, 50, 0, 0.5));
	margin-top: 12%;

	.formHeading{
		.noMarginTop();
		margin-bottom: 20px;
	}
}





/*--------------------------------------------------
/* TO REVIEW OR CONFIRM DELETE 
-------------------------------------------------- */


/* Calendar
-------------------------------------------------- */
.calendar.thumbnail{
	border-color: @gray-light;
}


/* PYF Twitter Bootstrap Accordion and button dropdown overflow issue 
	http://stackoverflow.com/questions/10959068/twitter-bootstrap-accordion-and-button-dropdown-overflow-issue
	TODO
*/
.accordion-body[class*="in collapse"]{ overflow:visible; }





/* Planning Task List
-------------------------------------------------- */
ul.tasks li.external-event{
	padding: 5px 5px 5px 5px;
	cursor: move;
}

li.external-event.disabled{
	color: @gray-light;
	cursor: no-drop!important;
}
li.external-event:hover{
	background-color: @gray-lighter;
	.border-radius(10px);
}
div.div-actions{
	font-size: 85%;
	border-top: 1px solid @gray-light;
	padding: 5px;
}




// object Actions //
.row-actions{
	display: inline;
	font-size: 85%;
	width: auto;
	margin: 0 0 0 15px;
}
.nested-objects-actions{
	font-size: 90%;
}
.row-actions a:hover i, .nested-objects-actions a:hover i, a.accordion-toggle:hover i, a.accordion-object:hover i{
	text-decoration: none;
}

// object nestedObjects //
ul.nested-objects li:hover .nested-objects-actions, tr.row-item:hover .row-actions, tr.row-nested-objects:hover .nested-objects-actions{
	visibility: visible;
	a:hover{
		text-decoration: none;
	};
}



/* List tasks
-------------------------------------------------- */
.collapse-selected{
	border-left: 5px solid @brand-info !important;
	border-radius: 0px !important;
}







/* objects list
-------------------------------------------------- */
tr.row-nested-objects-collapse{
	.hide-soft();
}
tr.row-nested-objects-collapse.expend:hover td.nestedTD{
	background-color: @white;
}
tr.row-nested-objects-collapse td.nestedTD{
	padding: 25px 3% 5px 3%;
}