/* Import
-------------------------------------------------- */

@import 'variables';

// Customizing Bootstrap components //
@import 'grid';
@import 'progress-bars';
@import 'labels';
@import 'badges';
@import 'pagination';
@import 'coponent-animations';
@import 'tables';
@import 'types';
@import 'form';
@import 'panel';
@import 'navs';
@import 'dropdowns';

// Customizing plugin //
@import 'select2';

@import 'calendar';
@import 'drop-area';
@import 'loader';
@import 'scrollbar';




/* Generic
-------------------------------------------------- */
body{
	padding-top: 50px;
	padding-bottom: 50px;
}
.container-margin{
	margin-top: 4%;
}

.hide-soft{
	display: none	
}

fieldset{
	margin-top: @line-height-computed*1.5;
}

.popover-title, .bolder{
	font-weight: bolder;
}

.isCheck{
	text-decoration: line-through;
}

.noMarginTop{
	margin-top: 0;
}
.noMarginBottom{
	margin-bottom: 0 !important;
}

.tableToolbar{
	margin-bottom: 15px;
}

.popover-content hr{
	margin-top: 8px;
	margin-bottom: 8px;
}

.table-vertical-center > tbody > tr > td{
	vertical-align: middle;
}


#passUser{
	.border-right-radius(@border-radius-large);
}

/* HEADER
-------------------------------------------------- */
div.page-header{
	margin-top: 5px;
}



/* Hack for DatePicker
-------------------------------------------------- */
div.datepicker{
	z-index: @zindex-modal+1 !important;
}



/* Selection Color
-------------------------------------------------- */
::selection { background: lighten(@pink, 20%); color: #FFF; }
::-moz-selection { background: lighten(@pink, 20%); color: #FFF; }



/* Tooltip element cursor
-------------------------------------------------- */
*:not(i):not(a)[data-toggle="tooltip"]:not([data-original-title='']) { cursor: help; }



/* Sortable PlaceHolder
-------------------------------------------------- */
.sortablePlaceHold{
	height: 28px;
	border: thin dashed darken(@well-bg, 65%);
	background-color: @well-bg;
}


/* Tooltip element cursor
-------------------------------------------------- */
.modal-title .label{
	margin-right: 10px;
	margin-top: 4px;
}


/* pNotify compatibility with Font Awesome 3.0.2 and Bootstrap 3.0.0
-------------------------------------------------- */
div.ui-pnotify-container{
	.show();
}
div.ui-pnotify.big-icon div.icon-large div.ui-pnotify-icon{
	.noMarginTop();
}
.alert-error {
  .alert-danger();
}



/* Filter Button Table
-------------------------------------------------- */
a.filter-button.filter-disabled{
	.opacity(.4);
	.text-muted();

	&:hover{
		.opacity(1);
		color: none;
	}
}


/* dl-large
-------------------------------------------------- */
.dl-large{
	dd:not(:last-child){
		padding-bottom: @padding-small-horizontal;
	}
}



/* Default Alert color
-------------------------------------------------- */
.alert-default {
  .alert-variant(@well-bg; darken(@well-bg, 7%); #000);
}




/* Border Emphasize
-------------------------------------------------- */
.border-emphasize {
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: @gray-light;
}
.border-emphasize {
	&-info{ border-left-color    : @brand-info; }
	&-danger{ border-left-color  : @brand-danger; }
	&-warning{ border-left-color : @brand-warning; }
	&-success{ border-left-color : @brand-success; }
	&-overrun{ border-left-color : @purple; }
	&-template{ border-left-color: @yellow; }
}


/* Vertical OFFSET
-------------------------------------------------- */
.calc-vertical-offset(@nb) when (@nb > 0) and (@nb < 7){
		
  .vertical-offset{
		&-@{nb}{
			margin-top: percentage(@nb*2  / 100);
		}
	}

	.calc-vertical-offset(@nb+1);
}
// Kickstart //
.calc-vertical-offset(1);



/* Box Shadow
-------------------------------------------------- */
.shadow{
	.box-shadow(0 1px 10px rgba(50, 50, 0, 0.5));
}




/* Connection Form
-------------------------------------------------- */
#formConnectionContainer{
	max-width: 550px;
}




/* FLIP
-------------------------------------------------- */
.flip-container {
	.perspective(1000);
}
/* flip the pane when hovered */
.flip-container.flip .flipper{
	.rotateY(180deg);
}


.flipper {
	.transition(all .6s ease-out);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	.backface-visibility(hidden);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* front pane, placed above back */
.front {
	z-index: 5;
}

/* back, initially hidden pane */
.back {
	.rotateY(180deg);
}






/*--------------------------------------------------
/* TO REVIEW OR CONFIRM DELETE 
-------------------------------------------------- */


/* Calendar
-------------------------------------------------- */
.calendar.thumbnail{
	border-color: @gray-light;
}



.tab-pane-planning{
	overflow-y: scroll;
	margin-top: @line-height-computed/2;
	margin-bottom: @line-height-computed/2;
	height: 120px;

	> ul li[data-name]{
		width: 33%
	}
}





/* Planning Task List
-------------------------------------------------- */
li.external-event{
	padding: 9px;
	cursor: move;
}
li.external-event:not(.disabled):hover{
	background-color: @well-bg;
}
li.external-event.disabled{
	.text-muted();
	cursor: no-drop !important;
}




// object Actions //
.row-actions{
	display: inline;
	margin: 0 0 0 15px;
	width: auto;
	font-size: 85%;
}
.nested-objects-actions{
	font-size: 90%;
}
.row-actions a:hover i, .nested-objects-actions a:hover i, a.accordion-toggle:hover i, a.accordion-object:hover i{
	text-decoration: none;
}

// object nestedObjects //
ul.nested-objects li:hover .nested-objects-actions, tr.row-item:hover .row-actions, tr.row-nested-objects:hover .nested-objects-actions{
	visibility: visible;
	a:hover{
		text-decoration: none;
	};
}





/* List tasks
-------------------------------------------------- */
.collapse-selected{
	border-left: 5px solid @brand-info !important;
	border-radius: 0px !important;
}







/* objects list
-------------------------------------------------- */
tr.row-nested-objects-collapse{
	.hide-soft();
}
tr.row-nested-objects-collapse.expend:hover td.nestedTD{
	background-color: #FFF;
}
tr.row-nested-objects-collapse td.nestedTD{
	padding: 25px 3% 5px 3%;
}
tr.row-nested-objects-collapse:hover td.nestedTD{
	background-color: #FFF;
}