/* New TABLE PROPERTIES
-------------------------------------------------- */
.table-sorter{
	thead {
		th[data-sort-column] {
			cursor: pointer;
			line-height: initial;
			&:hover{
				background-color: darken(@table-bg-hover, 5%);
				i{
					color: darken(@text-muted, 15%);
				}
			}
			i.active{
				.text-success;
			}
		}
	}
}


// New color //
.table-row-variant(info; @state-info-bg);

tr.selectable{cursor: pointer}


/* Table Striped collapse 
-------------------------------------------------- */
.table-striped-collapse{
	> tbody {
	    > tr:nth-child(4n+1) {
	      > td,
	      > th {
	        background-color: @table-bg-accent;
	      }
	    }
	  }
}



/* Button group in <td>
-------------------------------------------------- */
th.actions{
	min-width: 80px;
}