/* New TABLE PROPERTIES
-------------------------------------------------- */
.table-sorter{
	thead {
		th[data-sort-column] {
			cursor: pointer;
			&:hover{
				background-color: darken(@tableBackgroundAccent, 5%);
				i{
					.text-muted;
				}
			}
			i.active{
				.text-success;
			}
		}
	}
}
table th.span1{
	min-width: 55px;
}