/* New TABLE PROPERTIES
-------------------------------------------------- */
.table-sorter{
	thead {
		th[data-sort-column] {
			cursor: pointer;
			line-height: initial;
			&:hover{
				background-color: darken(@table-bg-hover, 5%);
				i{
					color: darken(@text-muted, 15%);
				}
			}
			i.active{
				.text-success;
			}
		}
	}
}


// New color //
.table-row-variant(info; @state-info-bg);

tr.selectable{cursor: pointer}


/* Table Striped collapse 
-------------------------------------------------- */
.table-striped-collapse{
	> tbody {
	    > tr:nth-child(4n+1) {
	      > td,
	      > th {
	        background-color: @table-bg-accent;
	      }
	    }
	  }
}



/* Button group in <td>
-------------------------------------------------- */
th.actions{
	min-width: 80px;
}


/* Table Responsive
 * When the content-main is trim with a side Bar
-------------------------------------------------- */
@media (max-width: @screen-md-max) {

	.content-main.content-main-left > .table-responsive{
	 width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;
    -webkit-overflow-scrolling: touch;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
	}
}